[2011-08-31 14:38] takahashim opened #1 "現状報告とかをMLに投げる"
一般社団法人設立登記完了と今後について、MLにメールする

[2011-08-31 14:42] takahashim opened #2 "法人設立届出書を提出する"
東京都に法人設立届出書を提出する（税務署、二十三区は提出不要、らしい）

参考： http://ishs.office-segawa.com/603.html

[2011-08-31 14:44] takahashim opened #3 "Wikiを移行する"
現状のWIkiコンテンツのうち、賞味期限が切れていないものについては移行する。
また、新規のページ作成についてはこちらのWikiに誘導する（Ruby関西には別途相談）。

[2011-08-31 14:45] takahashim opened #4 "サイト作る"
http://ruby-no-kai.org/ のサイトを作る。

[2011-08-31 14:46] takahashim commented on #4
コンテンツの一部は設置済み、内容が古いので更新しておく。
デザインについては別途（別チケットを用意した方がいいですか？）

[2011-08-31 14:52] takahashim opened #5 "一般社団法人の銀行口座を開設する"
今まで使っていた口座は任意団体用なので、新しく法人としての口座を用意する（銀行印は購入済）。

[2011-08-31 15:29] kakutani commented on #4
これの完了条件を「新デザインをあててそれっぽくなってること」にしておけば、このままでも良いと思います。
内容とデザインが最低限揃ったら完了にして、取りこぼしは別チケットで。

[2011-09-01 03:58] takahashim commented on #4
じゃあそうしましょうか。今月中にデザインも合わせて作る、ということで。
でもassignは二人にはできないのか…

[2011-09-01 03:59] takahashim commented on #1
メールしたんですがエラーで戻ってきてしまっています…。
かずひこさんに問い合わせ中です。

[2011-09-01 09:31] takahashim commented on #1
メールしました！

[2011-09-01 09:31] #1 closed, assigned to takahashim

[2011-09-01 13:59] kakutani commented on #4
とりあえずしまださんにしてみた!

[2011-09-01 14:00] kakutani commented on #3
凍結ボタンを押すにはadminでログインしないといけないっぽい……(パスワード知らない)

[2011-09-01 14:35] takahashim commented on #3
どこか表に書いておいた方がいいですか？（kakutaniさんにはDMで伝えましたが）

[2011-09-01 14:41] kakutani commented on #3
更新日時の旧いものから(凍結していこうと思います! Ruby関西方面を除いて)

[2011-09-01 14:50] takahashim commented on #3
ちょっと現行Wikiのトップページにもコメント書いておきますね

[2011-09-01 16:19] takahashim commented on #3
Ruby関西については無量井さんにメールしてみました。どうするかはRuby関西のスタッフ用MLで検討してもらえそうです。

[2011-09-02 10:29] takahashim commented on #2
出してきました

[2011-09-02 10:29] #2 closed, assigned to takahashim

[2011-09-02 16:01] snoozer05 commented on #4
デザインをあてたものを design ブランチに push しました。
「新デザインをあててそれっぽくなってること」が完了かどうか確認をお願いいたします！

[2011-09-02 16:06] snoozer05 commented on #4
問題なければ master に merge します。会則と入会案内の内容のはデザインを master に merge した後で master でやりますかねい。それとも、design ブランチでそれらも作業してから master に merge しますか？

[2011-09-02 23:47] takahashim commented on #4
ええと、ローカルで確認できる環境はないんですが、とりあえずマージしちゃっていいんじゃないでしょうか！

[2011-09-03 00:12] snoozer05 commented on #4
マージしましたので、http://ruby-no-kai.org/ にデザインがあたりました！ご確認をお願いします！

[2011-09-03 00:23] takahashim commented on #4
おおお！　かっこいい！　いいと思います！
あー、ちょっとブラウザの横幅が短いとスクロールバーが二つになってしまうのはアレかも…（13インチでは生活しづらい世の中になりつつある気がする今日このごろ）。

[2011-09-03 00:26] snoozer05 opened #6 "ブラウザの横幅が短いとスクロールバーが二つになってしまう"
何とかなるとよさそう

[2011-09-03 00:28] snoozer05 commented on #4
確認ありがとうございます。スクロールバーの件は別チケットを起こしました。ちょっとmayucoさんと相談してみます。
このチケット自体は close してしまっても良い感じでしょうか！

[2011-09-03 00:37] takahashim commented on #4
内容がまだちょっと…。というわけで担当を私に変えておきます！

[2011-09-03 00:42] snoozer05 commented on #4
はい！おねがいします！

[2011-09-03 05:40] kakutani opened #7 "githubのorganizationアカウントにruby-no-kaiのロゴを設定してほしい"
しまださんにお願いすればいいですか?

[2011-09-06 03:06] snoozer05 commented on #7
今、ruby-no-kai のメールアドレスが info@rubykaigi.org で設定されているので、これは info@ruby-no-kai.org とかにすべきかなと思います。
info@ruby-no-kai.org にする場合はメールアドレス(グループですかねぃ）を作成願います > 角谷さん
メールアドレスが決定、準備ができたら gravatar に設定するようにします。

[2011-09-06 03:24] kakutani commented on #7
あ、そっか。すんません……あとでやっときます。

2011/9/6 snoozer05
reply@reply.github.com:

##

Kakutani Shintaro

[2011-09-06 03:50] snoozer05 commented on #7
設定ありがとうございます！このissueはcloseして大丈夫でしょうか！

[2011-09-06 04:00] #7 closed, assigned to snoozer05

[2011-09-06 10:29] snoozer05 commented on #6
mayucoさんに対応していただいたのでMBAでもだいぶ快適に見れるようになったと思います。
確認していただけますでしょうか。>高橋さん

[2011-09-07 08:20] takahashim commented on #3
無量井さんから返事が来ました。Ruby関西のWikiについてはこことは別のところに移行予定で、9/15で移行完了の予定だそうです。

[2011-09-22 08:26] kakutani commented on #4
規約を載せる作業はやるぞー

[2011-09-22 08:31] kakutani commented on #4
LOCALとかlinuxfoundation.orgは定款はbylawsっていうpermalinkになってからそれに倣おう

[2011-09-22 08:39] kakutani opened #8 "rubykaigi.org用のpaypalの口座を日本Rubyの会の口座に移せる?"
確認するところから。あづみさん?

[2011-09-22 08:40] kakutani opened #9 "rubykaigi.orgをyuguiさんから巻き取る"
奇しくもvalue-domainでruby-no-kai.orgを管理しているので、移すだけでいいんじゃ?

メモ:

[2011-09-22 08:42] takahashim opened #10 "paypalの口座を作りなおす"
新しいのを作らないと駄目そうです…。

[2011-09-22 08:43] #8 closed, assigned to nobody

[2011-09-22 08:44] kakutani commented on #8
duplicated. see #10

[2011-09-22 14:21] takahashim commented on #6
ありがとうございます、これでいいと思います！

[2011-09-22 14:21] #6 closed, assigned to takahashim

[2011-10-19 09:15] takahashim commented on #4
ありがとうございます！　とりあえず住所はなくていいです！
詳しくはあとで読みます

[2011-10-19 09:17] kakutani commented on #4
あとは何をやれば閉じれるんでしたっけ……

[2011-10-19 11:54] kakutani opened #12 "公式サイトにcontactsのページをつくる"
http://twitter.com/shyouhei/statuses/126625106335240192

Twitterアカウントはともかくも(運用どうすりゃいいんだろ)、メールアドレスは載せる必要がありますね。

いまの ruby-no-kai.org は任意団体のときのコンテンツがベースだから連絡先のことをすっかり忘れていた。

URLは /contacts でいいのかな。手を動かせたらpull reqします。

[2011-11-02 11:20] snoozer05 opened #13 "お問い合わせ先の運用を定める"

[2011-11-02 12:41] snoozer05 commented on #13
- Contacts のページを作る
- アドレスは info@ruby-no-kai.org

[2011-11-02 12:43] kakutani commented on #4
いったん閉じます。あとは、個別でissueを運用しましょう。

[2011-11-02 12:43] #4 closed, assigned to kakutani

[2011-11-02 12:44] snoozer05 commented on #13
#12 と同件だったので閉じます

[2011-11-02 12:44] #13 closed, assigned to kakutani

[2011-11-02 12:46] kakutani commented on #3
関西Ruby会議04でRuby関西の人たちと話をしよう。

[2011-11-02 12:47] kakutani commented on #5
三井住友で高橋さんが口座を開いてくれることになった。

[2011-11-02 12:48] kakutani commented on #12
twitterアカウントもつくろう

[2011-11-02 12:49] kakutani opened #14 "2011年度の活動計画をfixさせる"
西暦2011年が終わるまでには……

[2011-11-02 12:49] kakutani opened #15 "2011年度の活動計画をfixさせる"
西暦2011年が終わるまでには……

[2011-11-02 12:50] kakutani commented on #14
なんかgithubのバグを踏んだ気がするぞ #15 とdupった

[2011-11-02 12:50] #14 closed, assigned to nobody

[2011-11-02 12:51] kakutani opened #16 "「日本Rubyのチュートリアル」を実施する"
### Rough Timeline
- [x] 2013.03.18: α版(無料)
- [ ] 2013.06.02: β版(無料)
- [ ] 2013.08- 有料でときどき開催したい

### ToDo

- [ ] インセプションデッキを清書してどっかに置く
- [ ] リーンキャンバスを描く

[2011-11-14 02:36] kakutani commented on #3
凍結してよいと @muryoimpl と話をつけました。あとはやるだけ……。

別件だけど、ruby-no-kai からいまの公式Wikiへのリンクが無いですね。

[2011-11-15 14:43] kakutani commented on #3
ひとまず、FrontPage以外はぜんぶfreezeしてみました。一旦閉じちゃっていいですかね? > @takahashim @snoozer05

[2011-11-15 17:36] kakutani opened #17 "公式サイトから公式Wikiへのリンクを貼る"
EOS

[2011-11-15 17:38] kakutani opened #18 "ruby-no-kaiのロゴアイコン画像の高解像度のやつが欲しい"
githubアカウントのgravatarになってるやつ(赤背景)がかっこいいので欲しいなあ。
なるべくデカいやつ。epsとかのベクタ画像ならとてもうれしいです。

[2011-11-16 03:44] takahashim commented on #17
EOSってなんでしょう？

[2011-11-16 06:00] kakutani commented on #17
End of String...

[2011-11-16 06:16] takahashim commented on #17
おお。了解です！

[2011-11-16 06:41] kakutani commented on #17
以後気をつけます！

[2011-11-30 11:07] kakutani commented on #3
done

[2011-11-30 11:07] #3 closed, assigned to kakutani

[2011-11-30 11:10] takahashim commented on #5
三井住友銀行に申し込みに行きました。現在審査中です。

[2011-11-30 11:12] kakutani commented on #18
nudges!

[2011-11-30 11:16] kakutani commented on #12
Twitter で rubynokai をつくった。

[2011-11-30 11:25] kakutani opened #19 "www.ruby-lang.org をどうにかしないといけない(どうしよう……)"
問題がcomplexなので一撃でどうにかなる、ってものでもないんだけど、まずは課題の共有から。
- Ruby 2.0 リリースに向けてなんとかしたいね (1.9.3リリースお祝いの会での話題)
-  2011.08のPeter Cooper 提案ってどうなったんだっけ…… http://www.rubyinside.com/official-ruby-site-not-so-good-5248.html
- サイト運営について、なにがどうなってるのかよく見えない……vit-core さん……どうなってるんや……
- (英語で乗り込んでいってまとめていかないといけないから大変かもね)
- 現状のRubyアソシエーションでなんとかするにはちょっと問題の粒度が大きすぎる ( RWC2011での会談)
  - かといって日本Rubyの会も丸ごと受けることはできないんだけど……
- リリースのタイミ

[2011-11-30 11:45] kakutani opened #20 "るりまに関するイベントみたいなのをやる"
okkezさんにメールをして返事をもらった、という最低限のことしかまだやってない

[2011-11-30 11:47] kakutani opened #21 "るびま編集者会議をやりたい!!"
「0035号事件」(巻頭言があるのに出すのが遅れた)を踏まえて、今後について話しあいたい。

[2011-11-30 12:32] takahashim commented on #19
以前話題になってたリニューアル案は↓これでしたっけ？
https://github.com/postmodern/www.ruby-lang.org

[2011-11-30 12:37] snoozer05 opened #22 "楽天テクノロジーアワード2011で銀賞を受賞したことをサイトに載せる"

[2011-11-30 12:37] kakutani opened #23 "名誉会員の件"
これは理事会でちゃんとやる

[2011-11-30 12:40] #18 closed, assigned to snoozer05

[2011-11-30 13:24] kakutani commented on #12
https://twitter.com/rubynokai

[2011-11-30 16:35] kakutani opened #24 "RubyEventCheckをjp.rubyist.net -> github/wiki に誘導する"
https://twitter.com/#!/higaki/status/141486797443178496

[2011-11-30 16:40] kakutani commented on #16
Asakusa.rb で軽く聞いてみたら、「じゃあ英語からですね」って言われた……。まあ英語は他でも習えるしな……

[2011-11-30 16:49] sunaot commented on #24
https://github.com/ruby-no-kai/official/wiki/RubyEventCheck
こちらまでお願いします！　るびまは最新だけ書きかえようかなぁ

[2011-12-01 09:42] kakutani commented on #24
http://jp.rubyist.net/?RubyEventCheck 誘導するようにしました

[2011-12-08 00:36] #24 closed, assigned to nobody

[2011-12-08 00:37] kakutani opened #25 "関西Ruby会議04の精算"
あづみさんに依頼する

[2011-12-13 12:02] kakutani commented on #22
オフィシャルページにレポートが出てた:
http://tech.rakuten.co.jp/rtc2011/report_award.html

[2011-12-14 05:57] takahashim commented on #5
どうも妙に時間がかかったようですが、銀行から連絡があり口座は作れそうとのことです。要資料提出（活動実体を表すものということでサイトのコピーとかが必要そう）。

[2011-12-14 17:47] kakutani commented on #5
すすんでる!

[2012-01-25 06:26] takahashim commented on #5
超遅くなりましたが開設されました！
ちなみにカードが受け取れるのは来週になります。

[2012-01-25 06:26] #5 closed, assigned to takahashim

[2012-01-25 06:38] takahashim opened #27 "Update Ruby FAQ(in Japanese)"
旧リファレンスマニュアルにあったRuby FAQがメンテナンスされていない状態なので、何とかする。
- http://www.ruby-lang.org/ja/old-man/html/Ruby_FAQ.html

場合によっては、内容を「一般的な質問」と「Rubyの処理系について」くらいとかに整理して、残りの個々の機能的な部分は落としてしまうでもいいかも。

[2012-01-25 10:20] #12 closed, assigned to nobody

[2012-02-08 11:23] takahashim commented on #21
2月5日に開催しました！

[2012-02-08 11:31] snoozer05 commented on #27
置く場所はどうとでもなるので、メンテナンスするコストの方が問題

[2012-02-08 11:36] kakutani commented on #27
置くなら、ruby-no-kai.org に置くのがいいのかなあ(やっぱり置き場所はどうとでもなる気がするな)

[2012-02-08 11:42] kakutani commented on #21
このissue自体は閉じます!

[2012-02-08 11:42] #21 closed, assigned to nobody

[2012-02-08 11:43] takahashim commented on #10
こちらですが、作らないで良くなりそうです（よね？）

[2012-02-08 11:43] snoozer05 opened #28 "ruby-no-kai.org から Wiki へのリンクがあると良い"

[2012-02-08 11:44] kakutani commented on #22
そういえば、ruby-no-kai.org から公式Wikiへのリンクがないのであった

[2012-02-08 11:44] snoozer05 opened #29 "お知らせをどう載せるか"

[2012-02-08 11:45] kakutani commented on #20
その後なんにもしてないです……。

[2012-02-08 11:46] kakutani commented on #29
see #17

[2012-02-08 11:46] kakutani commented on #10
口座の追加で対応できた!

[2012-02-08 11:46] #10 closed, assigned to nobody

[2012-02-08 11:53] takahashim commented on #15
清書します…

[2012-03-07 14:58] kakutani opened #30 "vimeoのアカウントを引き受ける"
https://twitter.com/#!/iogi/status/177404483221995522

@iogi から引き取らないといけない。

(どういう手続きにすればよいのでしょうか…… @takahashim )

[2012-03-07 15:03] takahashim commented on #30
今後も継続的に支払う必要はあるんでしょうか？
なければとりあえずこれまでの金額を聞いて請求書？を回してもらえれば確実でしょうか。あーでも面倒ならRubyKaigiのお金から出したことにする方がきれいなのかなあ。

あと、vimeoのアカウントそのものの引取り作業ってどんなことをすればいいんでしょうか。登録者メールアドレスとクレカ番号みたいなものを変更する？

[2012-03-07 15:05] kakutani commented on #30
話が混ざってますね。まずは、これまでの金額を @iogi にお支払いしたいです。
アカウントそのものを引き取るかどうかは別の話にしましょう。

[2012-03-07 15:31] kakutani commented on #30
「RubyKaigiのお金から出したことに」できるならそれがいいなあ、と思いました(可能なら)。

[2012-03-07 15:38] takahashim commented on #30
年度で区切ってもそれが妥当なんじゃないかという気がしてきました！（料金先払い）

[2012-03-13 04:46] kakutani opened #31 "Ruby Kajaを手伝いたい!"
@nagachika が提案してくれたやつ。
http://d.hatena.ne.jp/nagachika/20120312/ruby_kaja

Yokohama.rb方面が中心でいいと思うので、日本Rubyの会としてなんか後援なりお手伝いなりをしたいです。
http://d.hatena.ne.jp/nagachika/20120312/ruby_kaja
### 追記

Webサイト: http://kaja.rubyist.net/

[2012-03-13 05:09] kakutani commented on #22
公式Wikiへのリンクをつけて、OSS奨励賞のことも追記しました(アトミックじゃない作業でもうしわけなし)

[2012-03-13 05:09] #22 closed, assigned to snoozer05

[2012-03-13 05:10] kakutani commented on #30
具体的な事務手続きって、あづみさんから引き継がなくていいんですかねえ。一般社団法人の手続きで進めてしまえばよい? > @takahashim

[2012-03-13 05:16] takahashim commented on #31
具体的には何すればいいんですかねえ。
- 投票・公表サイト制作
- 投票呼びかけ
- 集計作業
- その他

[2012-03-13 05:30] kakutani commented on #31
- 受賞のときにあげる何かをスポンサード

[2012-03-13 11:07] satococoa commented on #31
ドメインがほしいです！
仮）kaja.rubyist.net

[2012-03-13 11:46] takahashim commented on #31
kaja.ruby-no-kai.org でも良ければ簡単なんですが……

rubyist.netって今どういう管理になってるんでしたっけ？(名前持ってるのはまつもとさんだけど、ネームサーバの管理とwhois情報の管理的な意味で)　

[2012-03-13 12:05] satococoa commented on #31
Yokohama.rbのメンバーで案を出したときに ruby-lang.org や rubyist.net 使いたい、ということになり `kaja.rubyist.net`が一番かっこいいねー、という話に今のところなっています。
使用可能なドメインがわかれば、その中から選べれば嬉しいです。

[2012-03-13 14:28] dan5 commented on #31
まだ具体的には決まってないのですが、みなとRuby会議開催中にRuby Kajaの第一歩となるイベント的なものができたらいいなと考えています。

[2012-03-13 14:40] kakutani commented on #28
f35657a429 で対応

[2012-03-13 14:40] #28 closed, assigned to kakutani

[2012-03-13 14:40] #17 closed, assigned to nobody

[2012-03-13 14:41] kakutani commented on #29
公式サイトからWikiへ誘導するようにしたので、これでいかがでしょう(お知らせはWikiに載せる)

[2012-03-13 14:44] kakutani commented on #31
asakusarbのときは、@shugo が作業してくれました。
リダイレクト先が决まれば、お願いできると思います > @satococoa

なんかお手伝いできそうなことがありそうなら、ぜひぜひ巻き込んでください! > @dan5

[2012-03-13 14:48] dan5 commented on #31
ありがとうございます！
特に投票呼びかけはYokohama.rbの力だけでは弱すぎるので
話が具体化してきたらぜひ相談させてもらいたいです>@kakutani

[2012-03-13 14:49] satococoa commented on #31
ありがとうございます。
木曜日に みなとRuby会議 系でミーティングをするので、その場でKajaについても話し合います。
進展がありましたら適宜共有したいと思いますのでよろしくおねがいします。

[2012-03-13 14:52] kakutani commented on #31
@dan5 @satococoa はいー。なんかここが本スレみたいになって来てますけど、いいんですかね?
(なんか面白いから続けるのを試してみたい)

[2012-03-13 15:10] dan5 commented on #31
他にいいところが出来るまではここが本スレでー

[2012-03-13 16:38] takahashim commented on #30
特に引き継ぐ必要がないのであれば（お金周りであづみさんの方から出さないと足りないとかでなければ）、一般社団法人の手続きで問題ないと思います。

[2012-03-13 23:33] amatsuda commented on #31
(きっと誰か既に指摘してるに違いないと思いつつ)
「冠者」って _男子_ 限定感の強いフレーズのように思うんですが、そのあたりのニュアンスはどうなんでしょう？あっちだってheroなんだからそんなもんなのか？

[2012-03-14 00:39] nagachika commented on #31
はい、名前を考えた時に最初に考えた懸念は性別を限定しそうであるということでした。なのではてなダイアリーでは脚注で補足しましたが性別を問わないことは常に強調したいと思います。
冠者は「成人して冠をつけた男子」という定義からして男性を指す言葉だと思います。とはいえ、たとえば「侍」が暗黙のうちに(文化的背景から？)男性を指すであろうのと同様に「冠を戴くのは男子」という文化背景によるものだと思いますので、現代においてその意味を再解釈してみせるのはそれはそれで痛快ではないでしょうか。
とか屁理屈を言いましたが、古くからの言葉を拝借しようと思うと多かれ少なかれ性差の問題はつきまとうのでしょうね。その点現代に産まれた「ジェダイ」などの言葉はその問題から解放されていてうらやましいです。

[2012-03-14 01:48] kakutani commented on #31
私は @nagachika のはてダの脚注や↑で仰っている内容で良いと思っていたのですが、それだとナイーブすぎますかねえ。私としては良い名前があればそれに乗りたくて、いまのところkajaがいちばんいいなと思っているのでした。

[2012-03-15 23:48] dan5 commented on #31
昨日Yokohama.rbのメンバーでkajaについて話し合いました。
そこでYokohama.rbとしての方針は決まりました。

近々 @tyabe から具体的な相談が @kakutani 宛？に行くと思いますー

[2012-04-04 11:09] kakutani opened #32 "ロゴとWebサイトのデザイン料を支払う"
口座にお金は入れたので、高橋さん入金おねがいします。

[2012-04-04 11:10] kakutani opened #33 "残高を一般社団法人の口座に寄せる"
あづみさんとコンタクトを取る!

[2012-04-04 11:21] kakutani opened #34 "Rubyの20歳のお誕生日の件"
動きはじめるぞー。ruby-assnとも仲良くやりたい。
- 成人式だもんね。「偉い人」の祝辞が欲しいよね
- 1日とか半日でいいよね……成人式だし……
- 自慢大会じゃない感じだなあ
- Rubyコミュニティの外に対して、どういうメッセージを発するかも大事だね
- 開発チームの意見も聞いてみたいなあ
- 開発合宿とひっつけるとか?
- (海外の人にも来てもらえたらいいなあ)

[2012-04-04 11:27] kakutani opened #35 "みなとRuby会議の支援依頼の精算"
やるります。

[2012-04-04 11:28] snoozer05 commented on #29
大丈夫だと思います！

[2012-04-04 11:28] #29 closed, assigned to snoozer05

[2012-04-04 11:29] kakutani commented on #25
#33 のあとで処理する。

[2012-04-04 11:29] kakutani commented on #30
#33 のあとで処理する。

[2012-04-04 11:45] kakutani commented on #31
みなとRuby会議でなんかやる、という件はうかがいました!!(報告まで)

[2012-04-04 11:53] kakutani commented on #27
なかなか手が動かんので、

この作戦がいいと思います。機能の話は、いまは良い本がいっぱいあるからそっちに任せたい。

[2012-04-04 12:09] kakutani opened #36 "札幌Ruby会議2012の海外ゲストの講演などを東京でやる件"
(まずは備忘まで)

[2012-04-10 03:48] kakutani opened #37 "PayPalの本人確認書類を提出する"
「5/14(月)消印有効」って書いてあった。

https://www.paypal.jp/jkyc/step.html

@takahashim にassignしてみます。

[2012-04-13 01:10] kakutani commented on #33
あづみさんと連絡がついた!! 今月中に会う予定(週末から札幌にいくので……)

[2012-04-18 07:06] kakutani commented on #33
あづみさんと確認することのメモ:
- PayPalの担当者を変更したいなあ
- 残っている精算はどれだっけ

[2012-04-25 02:21] kakutani commented on #31
2012.04.24のAsakusa.rbで @tyabe と @dan5 から大枠の話を教えてもらいました。
日本Rubyの会で手伝えることはいろいろとありそうなので、次の理事会(2012.05.09)でしたいです > @takahashim , @snoozer05

最初のアナウンスが[みなとRuby会議01](http://regional.rubykaigi.org/minato01)であるそうです。

[2012-04-26 01:09] kakutani commented on #33
あづみさんと会えたので、通帳や印鑑をゲットしました。
次は、残高を動かす作業。

[2012-04-26 01:18] kakutani opened #38 "PayPalの担当者をあづみさんから変更する"
あづみさんがフロントで色々やるのは大変そうなので、巻き取りたいと思います。
PayPalの設定画面で「事業名の変更(担当者名の変更)」をしようとすると、下記を求められました。

よく理解できていないのですが、「日本Rubyの会」が担当者をあづみさんから(たとえば)かくたにに変更する、みたいな手続きを取ればいいんですかね……PayPalに電話して相談しようかなあと思ったのですが、まずはここで相談してみます。

PayPalアカウントでの取り引きをメインにおこなうアカウント担当者名の変更には、以下の書類をすべてアップロードまたはファックスにてご提出いただく必要があります。

下記はPayPalの画面からコピーしたものをちょっとmd風にしたものです:
### 1.新しい担当者の有効な写真付き身分証明書:

運転免許証、パスポート、住民基本台帳カードいずれかのコピー
日本国籍をお持ちでない場合は、

[2012-04-26 01:43] kakutani opened #39 "RubyConf2012への渡航費支援"
@shyouhei から提案された。監事だし経験者だし、5/9の理事会で話を聞いてみたい。
↓
やってるぞー

[2012-04-28 06:13] kakutani opened #40 "超エンジニアミーティングの交通費の精算をする"
@takahashim, @ko1, @tatsuo, @kakutani の4名ぶん。

[2012-05-07 15:08] takahashim commented on #40
岡山の川野さんの交通費もお願いします！（というか要金額確認）

[2012-05-07 15:26] takahashim commented on #38
なんかこれはPayPalに電話で相談した方がいいですかね…。個人（あづみさん）の実印を要求されそう。

[2012-05-08 05:22] kakutani commented on #38
なんとなく試してわかってきたことは、登録するドメインもrubykaigi.orgからruby-no-kai.orgに変更するのは画面上からはできなさそうでした。全部まとめて電話で相談ですかねえ。

[2012-05-08 11:56] kakutani commented on #40
おお……そうなると @miyohide のぶんも?

[2012-05-09 08:38] takahashim commented on #38
メールにも書きましたが、新しくアカウント作ってしまうのはどうでしょう。

[2012-05-09 08:42] kakutani commented on #38
それが早いと思います!

[2012-05-09 11:57] kakutani commented on #39
shyouheiの志を注ぎつつ、日本Rubyの会としての開催趣意が决められれば、やりたい!!

去年のshoyouheiの実績とかから逆算すると6月の後半か7月にはアナウンスしないと間に合わなさそう。

http://shyouhei.tumblr.com/post/2552169195/rubyconf2011
http://shyouhei.tumblr.com/post/5638814451/rubyconf2011

[2012-05-09 11:58] #32 closed, assigned to takahashim

[2012-05-09 12:24] kakutani commented on #23
第1回理事会で承認されたので、議事録は掲載するタイミングあたりでまつもとさんにお知らせする。

[2012-05-09 13:03] kakutani commented on #31
まずは、kajaのqwikに @snoozer05 を追加する(札幌Ruby会議2012で枠をつくってもらえんか、という話は打診しました)

[2012-05-09 13:05] kakutani opened #41 "ruby-no-kaiのgoogleカレンダーが欲しいぞ"

[2012-05-09 13:37] kakutani opened #42 "rubykaigi2011の基調講演の精算が完了していることを確認する"
要調査。

[2012-05-09 14:32] takahashim commented on #41
作ってみました！
l22ueflf99tici2n2thtnqpl6g@group.calendar.google.com
↑という伝え方でいいのかな。

[2012-05-10 15:14] kakutani opened #43 "第1回理事会の議事録を仕上げる"
がんばります……
### TODO:
- 全員の判子を集める
- スキャンして公式サイトから見えるようにしておく?

[2012-05-10 15:16] kakutani opened #44 "一般社団法人日本Rubyの会のPayPalアカウントを作成する"
paypal@ruby-no-kai.org で作成していただけると助かります。
(paypal@ruby-no-kai.org は"All users within Ruby-no-Kai"のgorupとして作成済です)
- rubykaigi.orgのほうのアカウントを閉じたい
- メールアドレスの確認とか、UserなりOwnerなりの整理をする

[2012-05-10 15:16] kakutani commented on #38
続きは #44 で。

[2012-05-10 15:16] #38 closed, assigned to takahashim

[2012-05-10 15:17] kakutani commented on #37
#44 の後続issueとするのが良さそう(paypal@ruby-no-kai.org で本人確認したらこのissueを閉じる)

[2012-05-10 15:21] kakutani commented on #41
確認しましたので閉じます!

[2012-05-10 15:21] #41 closed, assigned to nobody

[2012-05-14 07:27] takahashim commented on #44
とりあえず作ってみましたが、これってメールアドレスは個人のアドレス以外に登録するところはないんでしたっけ？（takahashim@ruby-no-kai.orgしか入力してない。確認のメールは届いていない模様）

[2012-05-14 07:55] takahashim commented on #44
paypal@ruby-no-kai.org を追加しようとしたら、

と言われました！

[2012-05-14 10:02] kakutani commented on #44
paypal@rubykaigi.org のアカウントに追加しようとしてunconfirmedのままになってたので、
そちらからremoveしました。もう一度ためしていただいてよいでしょうか? > @takahashim

[2012-05-14 10:14] takahashim commented on #44
追加してみました！

[2012-05-14 14:14] takahashim commented on #44
やっぱりメールが届かない、ような…

[2012-05-15 08:17] kakutani commented on #44
うーん。詰んでしまったのでしょうか……(電話で聞くしかない?)。
高橋さんの出したtest メール自体は届いてました。

[2012-05-15 08:25] takahashim commented on #44
pay@とかpayment@とかいう新しいアドレスを作ってみるとか？

[2012-05-25 01:12] kakutani opened #45 "rubykaigi.orgをホストしているlinode.comの料金を精算したい"
@kakutani が立て替えてます。1年ぶん。

[2012-05-25 01:26] takahashim commented on #45
Invoiceとかと、あとできれば円建ての金額がわかる明細があるとよいのですが。

[2012-05-25 01:35] takahashim commented on #44
相変わらずpaypal@もpayment@も届かないんですけど、とりあえずkakutani@を追加してみました。こっちはどうでしょう？

[2012-05-25 01:35] takahashim commented on #44
ひょっとして認証しないとだめとか？

[2012-05-25 02:46] kakutani commented on #44
"新しいメールアドレスの確認" のメールがpaypalから来てましたが、このときに入れるパスワードって教えてもらってましたっけ……(高橋さんが認証したなら良いんですが)

[2012-05-25 03:03] takahashim commented on #44
あれ、私の方では自分のアカウントのパスワードしか登録してないので、新規に登録するとかでは？

[2012-06-05 04:35] kakutani commented on #34
Rubyアソシエーションと一緒にやろうという話になった。

[2012-06-05 12:37] kakutani opened #46 "RubyKaigi2011の札幌組の交通費の精算情報のまとめが欲しい"
「精算」で検索してもissueが出てこなかったので新規に起こします。
RubyKaigi2011の札幌組の交通費精算が恐しいことに終わっていない気がするので、
誰にいくら払わないといけないのかを、札幌方面でまとめていただきたいです。

手伝っていただきたいという思いを込めて @snoozer05 にassignしましたが、
無理そうだったら言ってください。kakutani がやります。

[2012-06-11 12:17] springaki commented on #25
関西Ruby会議04 会計窓口は Aki (@spring_aki)へ。

[2012-06-11 12:26] kakutani commented on #25
@springaki おお。会計窓口キタ!! 精算について相談させていただきたいので、info at ruby-no-kai dot org までご連絡いただけますか!!!

[2012-06-11 12:29] springaki commented on #25
nadge のつもりではなかったのですが :)
了解です !!

[2012-06-11 12:33] kakutani commented on #25
こちらこそ滞っていて申し訳ありませんが、よろしくおねがいします!

[2012-06-11 12:34] kakutani commented on #30
@iogi お忙しいところ恐れいりますが、info at ruby-no-kai dot org までメールいただいてもよろしいでしょうか…… vimemo の精算の件で(長らく放置していて申し訳ありません)。

[2012-06-11 12:59] kakutani opened #47 "地域Ruby会議のレポートを送るための手順をofficial wikiに書く"
https://github.com/ruby-no-kai/official/wiki/Regionalrubykaigi に書くか、独立したページを用意する。

[2012-06-11 13:00] kakutani commented on #47
実作業的には @sunaot が書いてくれてもぜんっぜん構わないんだけれど :)、
いちおう @kakutani にassignしておきます。

[2012-06-12 11:48] kakutani commented on #43
書いた!!!  (このあと判子をもらって、サイトに置いたらdone)

[2012-06-12 14:10] kakutani commented on #16
(ここまで具体的な動きなし)

[2012-06-12 14:11] kakutani commented on #20
ditto.

[2012-06-12 14:12] kakutani commented on #23
see also: #43

[2012-06-12 14:12] kakutani commented on #31
みなとRuby会議01でアナウンスされた。いまは、るびまでのアナウンス準備中。
そこまでやったら一旦閉じていいかな(あとは個別でissuesを起こす)

[2012-06-12 14:13] #36 closed, assigned to kakutani

[2012-06-12 15:27] kakutani opened #48 "とちぎRuby会議04の支援の精算があればやる"
なければ閉じる。中内さんに確認中。

[2012-06-12 15:58] kakutani commented on #35
@1syo にまずはメールを出してみた。

[2012-06-13 11:12] kakutani commented on #39
6月中にはなんとか体裁を整えて、7月に募集して、8月中には選考(必要であれば)を終わらせて、お知らせする。みたいなスケジュールじゃないと間に合わなさそう。

[2012-06-13 11:19] kakutani commented on #34
ケータリングできるような会議室を借りれたりすると楽そうな気がするので、まずはRA側に相談してみようっと。

[2012-06-13 11:20] kakutani commented on #43
しまださんの判子をもらうべく、高橋さんが郵送する。

[2012-06-13 11:32] kakutani commented on #34
メモ:
- Matzに頼めるのは乾杯の音頭ぐらいでは?
- お祝いのスピーチは、Rubyが20周年を褒めてくれるような人に頼むのがいいんじゃないかなあ(RAに相談?)
- 6/27(水)のRAの定例に高橋さんが言って、ちょっと相談してみる。その前に角谷が福田さんにメールはする
- リリース前だから開発者を集められたりしないかなあ?
- 7/21(土)の開発者会議にいって話を通すのがよさそう

[2012-06-13 11:33] shyouhei commented on #43
(メモ)保存についての詳細は: http://law.e-gov.go.jp/announce/H18HO048.html の「第五款 第九十七条 （議事録等）」

[2012-06-13 11:39] kakutani opened #49 "RubyKaigi2011の当日スタッフの精算で終わってないものを精算する"
がんばってサルベージするしかない……。

- [x] 振込先の一覧のための確認の連絡をする
- [x] まとめる
- [x] 振り込む
- [ ] お相手に振り込みの連絡をする

[2012-06-13 11:45] kakutani opened #50 "あづみさんが握ってる精算するものがないかを確認する"
慌てなくていいけど、いつまでも放置しないためにissueにファイルしておきます。

[2012-06-13 11:50] kakutani commented on #45
318.94USDについて、交換レートが81.561で、実際に支払った額は、26,013JPY でした!

下記は @kakutani のクレジットカードの利用明細のキャプチャです。

 ![receipt](https://img.skitch.com/20120612-n6e5ifrhuxkju2dc9qbib564gu.png)

[2012-06-13 12:00] kakutani commented on #15
ばたり

[2012-06-13 12:00] #15 closed, assigned to takahashim

[2012-06-13 12:01] snoozer05 commented on #46
札幌Ruby会議2012の方が少し落ち着いたら...

[2012-06-13 12:02] shyouhei commented on #23
まつもとさんに連絡してclosedにする

Todo: 名誉会員をリストアップするばしょがない

[2012-06-13 12:05] kakutani commented on #23
http://ruby-no-kai.org/aboutus.html に載せればよさそう。

[2012-06-13 12:06] kakutani opened #51 "RubyWorld Conference 2012 のあとに温泉ミーティングをやる?"
RAとうまいこと分担できるといいな(人をあつめたりするのはruby-no-kai、かな)。

[2012-06-13 13:15] kakutani opened #52 "RegionalRubyKaigiKaigiを単独開催するのはどうか"
- 10月後半ぐらいに、ちょっと今後の話を考えたりできるといいなあ。
- 交通費を補助できたりするといいかも
- 岡山、みなととか、新しい01が出てきたので、話ができるとなあ。

[2012-06-15 07:08] kakutani commented on #52
RegionalのMLに投げた。 まず、 @eitoball から反応があった。

[2012-06-16 02:19] kakutani commented on #33
やりますぞー(意思表明まで)。

[2012-06-16 02:19] kakutani commented on #30
連絡は来たので、金額を確定させる( #33 を倒さないと……)

[2012-06-16 02:25] dan5 commented on #31
そうですね。るびま公開で閉じていいと思います。

[2012-06-18 05:06] kakutani commented on #31
http://jp.rubyist.net/magazine/?AnnounceRubyKaja

http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-list/48795

DONE!

[2012-06-18 05:06] #31 closed, assigned to nobody

[2012-06-26 07:53] takahashim opened #53 "ruby-no-kai.orgのドメイン更新"
期限:

[2012-07-04 11:35] kakutani commented on #33
全額移しました。高橋さんの確認をもってCloseとしたい。

[2012-07-04 11:36] #50 closed, assigned to kakutani

[2012-07-04 11:36] kakutani commented on #34
会場候補を紹介してもらい、つないでもらってご挨拶した。返信まち。

[2012-07-04 11:37] kakutani commented on #39
趣意書ができた。支援の枠組みを詰めきれてないが、RubyConf側で動きがあれば、アナウンスはしてしまいたい。

[2012-07-04 11:38] kakutani commented on #35
@1syo から領収証はもらってるので、精算は可能。原本はまだうけとってない。

[2012-07-04 11:39] kakutani commented on #48
今のところ反応なし。要nudge.

[2012-07-04 11:39] kakutani commented on #25
金額は把握できている。精算しないと……。

[2012-07-04 11:40] kakutani commented on #9
@yugui におうかがいのメールを出した。

[2012-07-04 11:41] kakutani opened #54 "rubykaigi.info ドメインを日本Rubyの会で引き取ってもらえるといいな"
東京Ruby会議10の公式URL用というのと、今後もエイリアス用に使えるかなーと思い、kakutaniが取るだけ取った。

[2012-07-04 11:42] kakutani commented on #30
振り込みました!!

[2012-07-04 11:42] #30 closed, assigned to nobody

[2012-07-04 12:00] takahashim commented on #33
どうもです！確認します！

[2012-07-04 13:13] kakutani opened #55 "地域Ruby会議への支援のかたち"
メモ:
- 会場代(多くの場合は前払い)の資金が個人の立て替えになるのが怖いなー、という話に対して支援できるのか。
- するとしたら、どういうかたちでやればいいのか(形式とか手続きがヘビーになるとお互いしんどいしなー)

[2012-07-04 17:07] takahashim opened #56 "札幌Ruby会議2012の入金の処理"
Rubyの会としては来期（第２期）の事業になるわけですが、すでにお金が動いている分もあるのでそれも含めて処理する（8月以降？）

[2012-07-04 17:08] takahashim commented on #54
具体的には何をすればいいんでしたっけ？

[2012-07-04 17:59] kakutani commented on #54
ruby-no-kai.org と同じ管理にして、費用を会のほうで負担してもらえればいいかなあ、と。~1,000JPY/yr です。
初年度は value-domainのセールで買ったので 280JPY/yr. なのでこれは別にいいです、というのと、
処理するのも来年でいいかなあ、と。

[2012-07-05 01:36] takahashim commented on #55
これって問題は、まとまった金額を立て替えるのが個人にとってしんどい、という話ですよね？

これに関してはあんまり形式的な手続きを決めたくないところですね…。基本的にRubyの会が支援する活動については、立替えられるようにできた方がいいと思います。
それでもルールくらいはあった方がいいんですかね？　たとえば、１万円以上の支出についてはメール等で事前に共有、とか？

[2012-07-05 06:50] takahashim commented on #33
確認しました！　いっぱい入ってました！

[2012-07-05 06:50] #33 closed, assigned to takahashim

[2012-07-07 13:35] springaki commented on #25
とりあえずスキャンして送りましょうか？
原本もいつでも発送可能ですよー。

[2012-07-09 19:47] kakutani commented on #25
@springaki スキャンするのが大変な作業でなければ、メールで info at ruby-no-kai dot org 宛に送っていただけると助かります :)

(typoを直した)

[2012-07-11 01:13] snoozer05 opened #57 "（国立国会図書館）インターネット資料収集保存事業の許諾依頼文書の件"
方針を決定し、返信する

[2012-07-11 01:15] snoozer05 commented on #57
るびまの方の話を確認する必要がある

[2012-07-11 04:53] kakutani opened #58 "岡山Ruby会議01の支援の精算"
see also. [RegionalRubyKaigi:997] 岡山Ruby会議01完了報告等

まずは金額を山口さんに教えてもらう。

[2012-07-11 15:53] kakutani commented on #25
領収証が来たら振込を高橋さんにやってもらおう、ということでassign先変更。

[2012-07-11 15:54] kakutani commented on #35
振込は高橋さんにやってもうのでassign先変更。

[2012-07-11 15:54] kakutani commented on #58
領収証が来たら振込を高橋さんにやってもらおう、ということでassign先変更。

[2012-07-11 15:55] kakutani commented on #34
返信がきたから返信しないといけない(kakutaniが)

[2012-07-13 14:06] takahashim commented on #58
こちら支払いました！

[2012-07-13 14:07] takahashim commented on #35
こちらも支払いました！

[2012-07-15 09:05] springaki commented on #25
スキャンデータの送付だん
原本の発送だん

[2012-07-16 01:58] takahashim commented on #25
届きました！　ありがとうございます。

[2012-07-17 03:43] kakutani commented on #35
@1syo から領収証の原本が届きましたので、これを @kakutani が @takahashim に渡したらclose。

[2012-07-17 06:15] 1syo commented on #35
入金確認しました。ありがとうございます。

[2012-07-17 06:32] takahashim commented on #25
振り込みました！

[2012-07-17 06:33] #25 closed, assigned to takahashim

[2012-07-17 06:44] springaki commented on #25
振込確認しました ! ありがとうございました !!

[2012-07-18 11:33] takahashim commented on #39
とりあえずアナウンスは出しました！　あとはフォームの公開（というかリンク）が残ってます

[2012-07-18 13:08] kakutani commented on #35
@1syo から原本が届いたので @takahashim に渡す

[2012-07-18 13:08] kakutani commented on #34
返信しております(先方の会場の選定まち、なのかな。必要ならミーティング等を実施する)

[2012-07-18 13:09] kakutani commented on #9
@yugui から返事がこない(1 nudged).

[2012-07-18 13:10] kakutani commented on #37
これ自体は完了にして良さそう( #44 のほうが大変だったという……)

[2012-07-18 13:11] kakutani commented on #44
rubykaigiのアカウントのほうで社団法人の口座を紐付けてしまったので、行き止まり。
rubykaigiアカウントのほうをあづみさんに本人確認してもらって、銀行口座をremoveの上、アカウント自体をcloseするのがよさそう。

いまはあづみさんからの本人確認資料到着まち。

[2012-07-25 11:23] #37 closed, assigned to takahashim

[2012-07-25 11:24] kakutani commented on #44
あづみさんの本人確認を開始しました。

[2012-07-25 11:29] kakutani commented on #9
@yugui から返事がきた!

[2012-07-25 11:31] kakutani opened #59 "value-domain.comに日本Rubyの会のアカウントをつくる"
まずは、いろいろある日本Rubyの会まわりのドメインを、全部ここに寄せよう。

[2012-07-25 11:36] kakutani opened #60 "登記の登録住所の変更をする"
高橋さんとあづみさんが引っ越すので、実印スタンプラリーが必要。

2012年9月というか札幌Ruby会議2012に合わせてスケジューリングする感じ。
あづみさんのぶんのハンコは、平日夜にもらいにいけばよさそう。

[2012-07-25 11:43] #58 closed, assigned to takahashim

[2012-07-25 11:43] kakutani opened #61 "2012/07/21の開発者会議の精算をする"
領収証まで届いているので、ささださんにお金が渡ればclose
http://www.fdiary.net/ml/ruby/msg/2575

[2012-07-25 11:45] #48 closed, assigned to kakutani

[2012-07-25 11:51] shyouhei commented on #39
フォーム公開済み。

[2012-07-27 04:42] takahashim commented on #53
1年で更新しました！

[2012-07-27 14:40] kakutani commented on #59
つくりましたので閉じます。

[2012-07-27 14:40] #59 closed, assigned to kakutani

[2012-07-27 14:41] kakutani commented on #9
#59 を済ませたことを @yugui に連絡した!  ドメイン移動まち。
(ちなみに rubykaigi.info は移動させました)

[2012-07-27 14:41] kakutani commented on #35
領収証を @takahashim  に渡したから閉じます

[2012-07-27 14:41] #35 closed, assigned to kakutani

[2012-07-27 14:42] kakutani commented on #54
日本Rubyの会アカウントへドメインを移しました。

[2012-07-27 14:42] #54 closed, assigned to kakutani

[2012-07-27 14:43] kakutani commented on #52
他、いくつか反応をもらっている。参加したいと言っている人の地域と時期を調整して、KRPも会場候補として視野に入れる。そんなに人数いないから、東京でやるなら永和でよさそう……。

[2012-07-27 15:06] kakutani commented on #53
ついでにRubyの会アカウントに寄せておいてください!

[2012-07-27 15:07] kakutani commented on #45
振込先情報はお伝えしたつもり!

[2012-08-01 00:40] takahashim commented on #45
振り込みました！

[2012-08-01 00:43] kakutani commented on #45
ありがとうございます!

[2012-08-01 00:43] #45 closed, assigned to takahashim

[2012-08-01 00:46] takahashim commented on #53
寄せました！

[2012-08-01 00:46] #53 closed, assigned to nobody

[2012-08-06 10:10] kakutani commented on #9
ついに終わりました!!!

[2012-08-06 10:10] #9 closed, assigned to kakutani

[2012-08-06 10:50] kakutani commented on #44
あづみさんのところに「アカウント取引責任者用暗証番号」が郵送されたらしい(ソースはPayPal)

[2012-08-08 11:09] takahashim commented on #56
先に全額（にあたる金額）を振り込みました！

[2012-08-08 11:09] #56 closed, assigned to takahashim

[2012-08-08 11:22] kakutani commented on #43
@kakutani がお使いすればいいかも

[2012-08-08 11:25] takahashim commented on #27
https://github.com/ruby-no-kai/official/wiki/Ruby-FAQ

[2012-08-08 11:28] kakutani commented on #52
(その後、進展しておりません。札幌が終わったあとかなあ)

[2012-08-08 11:29] takahashim commented on #27
MLで報告したらcloseでいいかも

[2012-08-08 11:44] kakutani commented on #40
@takahashim, @ko1, @tatsuo, @miyohide は交通費を教えてくれたら払います!! (川野さんにmentionできない……)

[2012-08-08 15:53] kakutani commented on #44
本人確認が終わったので、一般社団法人の銀行口座をrubykaigi.orgのアカウントから削除しました。
一般社団法人の口座を ruby-no-kai.org のPayPalアカウントに紐付けてください > @takahashim

[2012-08-24 12:01] kakutani commented on #44
@takahashim ping

[2012-08-24 14:15] takahashim commented on #44
紐付けてみました！

[2012-08-24 14:40] kakutani commented on #44
メールアドレスの問題はいまだに残っていそうな気がしますが、アカウントとしてはこれで成立したってことですかねえ。
メールアドレスの件とかは別issueにして一旦これは閉じちゃいましょうか。

[2012-08-25 03:57] kakutani commented on #44
……と思ったら、google groupsのメールアドレスにはpaypalから届かないという問題が1年ぐらい前から出ていて直っていないっぽい。

"どうも8月24日以来 PayPal の通知メールが Google Apps のグループメールアドレス宛に限って届かないという問題が発生しているらしい。http://goo.gl/UEstQ "
https://twitter.com/takayukister/status/114960943083028480

別件で同様の問題にハマったのですが、groupsじゃなくてuserにしたらシレっとメールが届きました。
user から group に forward したらできるかなあ。ちょっと試してみます。

[2012-08-25 04:35] kakutani commented on #44
payment@ruby-no-kai.org を新規にuserとして追加しました。
で、↑ここからruby-no-kai.org内のgroupにメールをforwardするようにして、
groupにruby-no-kai.orgの理事を追加しました。

メールが流れていくのは確認したので(まずは単独で確認してから他の理事をgroupに追加しました)、
paypal側でpayment@ruby-no-kai.org をメールに追加していただけますか? > @takahashim

[2012-08-27 05:42] takahashim commented on #44
先週末に追加してみたんですが…

[2012-08-28 02:26] kakutani commented on #44
ぐぬぬ……どっか機会のあるときに一緒にやってみるのがいいですかねえ。とほほ。

[2012-08-28 08:00] kakutani opened #62 "misocaに印影画像を登録する"
おためし。

[2012-08-29 10:10] kakutani opened #63 "RailsGirls Tokyoのスポンサー費用請求"
- ペパボ
- 永和

[2012-08-31 02:41] mrkn commented on #51
これやるんですか？

[2012-08-31 03:44] takahashim commented on #51
やる予定です！（松江市方面とはすでに話をしていますが、詳細未定）

[2012-08-31 04:08] mrkn commented on #51
参加するには、何日まで滞在する必要がありそうですか？

[2012-08-31 04:19] takahashim commented on #51
土曜日に昼は松江駅前、夜は松江市の温泉に泊まって、日曜に解散の予定です

[2012-08-31 04:27] mrkn commented on #51
ありがとうございます！

[2012-09-03 04:20] kakutani opened #64 "札幌Ruby会議2012の持ちもの"
- 第1回の議事録( @takahashim )
- 変更後の登記の書類 ( @takahashim )
- 実印(と印鑑証明?) ( @snoozer05 )

他、なんかありましたっけ。

[2012-09-03 13:19] takahashim commented on #64
だいたいそんな感じでしょうか。
「変更後の登記の書類」は「一般社団法人主たる事務所移転登記申請書」になりそうな気がします。が、それと理事の住所変更を一緒にやるにはどうすればいいのかよくわからんので法務局で聞いてみます…

[2012-09-05 04:34] takahashim commented on #64
どうも理事会の印鑑は実印じゃなくて認印でもいいという噂が。

[2012-09-10 06:40] kakutani opened #65 "Rails Girlsの原田さん立替ぶんを精算する"
よろしくお願いします。

[2012-09-11 04:11] takahashim commented on #65
振り込みました！

[2012-09-11 04:38] kakutani commented on #62
「80 x 80pxのpng jpeg gifに対応」だそうです。

misocaのアカウント情報はメールしてあるので、よろしくお願いします。

[2012-09-11 04:39] kakutani commented on #65
@yokolet に確認してもらうように伝えました。ackが来たら閉じます。

[2012-09-11 04:39] kakutani commented on #63
#62 の印影登録まち。

[2012-09-11 04:41] kakutani commented on #65
https://github.com/railsgirls-jp/tokyo-management/issues/10#issuecomment-8446894 きた。
(@railsgirls-jp/tokyo-management#10 とか書けるのかな)

[2012-09-11 04:41] #65 closed, assigned to kakutani

[2012-09-18 07:34] kakutani commented on #62
印影を @snoozer05 にスキャンしてもらったら、@kakutani が作業する(ので、しまださんにアサイン)

[2012-09-19 04:03] snoozer05 commented on #62
やりました

[2012-09-19 04:04] snoozer05 commented on #64
closeでしょうかねぃ。

[2012-09-19 04:21] kakutani commented on #62
@snoozer05 なんかうまく出なかったので、画像ファイルそのものを送ってもらえますか?!

![](https://img.skitch.com/20120919-f24tc938496gjfhrwfd32fx2cw.png)

[2012-09-19 04:25] kakutani commented on #64
i think so.

[2012-09-19 15:21] #64 closed, assigned to nobody

[2012-09-19 15:21] takahashim commented on #64
閉じました！

[2012-09-20 00:14] kakutani commented on #62
できt!!1

[2012-09-20 00:14] #62 closed, assigned to snoozer05

[2012-09-20 00:14] kakutani commented on #63
misocaから請求書を発送しました。入金を確認したら閉じますかね。
振込期限は10/31(水)にしました。

[2012-09-20 02:01] kakutani commented on #40
反応ないからこれはもう日本Rubyの会がおいしくいただきました、でいいのかな?

[2012-09-20 02:05] kakutani commented on #52
札幌がおわったけど……。RailsGirls Kyotoのついでにやるとか(京都で)。

[2012-09-20 02:09] kakutani commented on #55
新しいガイドラインとして、
- 10万円程度 または
- 予算の10%程度
  というのを支援枠としてはどうか、という話が @takahashim から出た。賛成。

[2012-09-20 02:10] kakutani opened #66 "RailsGirls 2次会の残金をRubyの会の口座に入金する"
https://github.com/railsgirls-jp/tokyo-management/issues/20 の件。

@tatsuo から @kakutani が受け取ったので、Rubyの会の口座に入金する。

[2012-09-20 04:49] ko1 commented on #40
(2012/09/19 19:01), Kakutani Shintaro wrote:

おー，
本所吾妻橋から往復の代金をもらえると．
幕張だっけ？

##

// SASADA Koichi at atdot dot net

[2012-09-20 07:01] kakutani commented on #66
21日付で16,524JPYを振込ました。入金を確認したらcloseしてください > @takahashim

[2012-09-20 13:22] miyohide commented on #40
@miyohide $B$G$9!#$9$_$^$;$s!"8+Mn$H$7$F$^$7$?!#(B

$B;d$NJ,$O@:;;$J$7$G(BOK$B$G$9!#(B

On 2012/09/20, at 11:01, Kakutani Shintaro notifications@github.com wrote:

[2012-09-20 14:14] takahashim commented on #40
@miyohide さんのが文字化けしていますが、ESCを補完して解読したところ、

[code]

となりそうです。これでよかったでしょうか。

[2012-09-20 14:16] takahashim commented on #40
@ko1 さんももちろん交通費を申請してもらって構いません。ので、かかった交通費の領収書か、なければどこからどこまで何を使って何円だったかを教えて下さいませ。

[2012-09-20 14:34] miyohide commented on #40
$B$O$$!#LdBj$"$j$^$;$s!#(B

2012$BG/(B9$B7n(B20$BF|(B 23:23 Masayoshi Takahashi notifications@github.com:

[2012-09-20 15:22] ko1 commented on #40
(2012/09/20 7:25), Masayoshi Takahashi wrote:

##

// SASADA Koichi at atdot dot net

[2012-09-21 00:05] kakutani commented on #40
海浜幕張からバスに乗りませんでしたか？

[2012-09-21 00:06] tatsuosakurai commented on #40
すみません、忘れていました！
精算なしとさせてください〜。

[2012-09-28 04:54] snoozer05 opened #67 "セールスフォース・ドットコム様の新規サプライヤー・支払先登録申請書の処理"
おねがいできますでしょうか...

[2012-10-02 09:24] takahashim commented on #67
とりあえず履歴事項全部証明書は入手しました

[2012-10-03 01:17] snoozer05 commented on #67
ありがとうございます！支払先登録申請書の作成はどのようにすすめましょうか...

[2012-10-03 01:57] takahashim commented on #67
MacのLibreOfficeではまともに編集できなさそうなので、あとでWindowsマシンを引っ張りだしておきます…

[2012-10-03 02:06] snoozer05 commented on #67
宜しくお願いします...!!

[2012-10-05 00:51] snoozer05 commented on #67
こちら状況どんな感じでしょうか

[2012-10-05 04:44] takahashim commented on #67
LibreOfficeでは開けなさそうです＞＜
とりあえず項目だけは用意しておいて、島田さんかだれかでWord持ってる人に編集してもらった方がいいでしょうか？

[2012-10-05 04:46] snoozer05 commented on #67
oo... 了解しました。
とりあえず、その作戦でお願いします(ぼくの方でいただいた内容をもとに入力を試みてみます)。

[2012-10-05 05:03] takahashim commented on #67
送りました！！

[2012-10-06 06:54] snoozer05 commented on #67
いただいた内容をもとに申請書を作成し、ひとまずメールにてセールスフォース様にお送りしました。

先方で内容の確認がとれましたら、登記簿謄本のコピーと申請書に押印いただいたものをセールスフォース様に郵送にてお送りいただけますでしょうか(送付先は現在確認中)。

[2012-10-10 04:40] snoozer05 commented on #67
送付先の連絡がきたので、郵送をおねがいできますでしょうか。
(送付先は先ほどメールしました)

[2012-10-10 08:10] takahashim commented on #67
郵送しました！

[2012-10-10 09:25] snoozer05 commented on #67
ありがとうございます！

[2012-10-10 09:25] #67 closed, assigned to takahashim

[2012-10-10 09:25] snoozer05 commented on #60
これってもう終わりでしょうか。

[2012-10-10 09:26] snoozer05 commented on #51
告知がでたから終了ですかねぃ

[2012-10-10 09:29] snoozer05 commented on #43
お使いを僕が待ってる状態です？

[2012-10-10 09:29] snoozer05 commented on #57
@takahashim これってどういう状況でしたっけ...

[2012-10-10 09:30] snoozer05 opened #68 "sprk2012 のスポンサー代の入金を確認する"
Rubyの会の口座に入金予定となっている分について確認をお願いします

[2012-10-10 09:32] snoozer05 commented on #61
いつくらいに渡る感じでしょうか(超エンジニアミーティングの方 #40  の精算もあわせてした方がよさそう)

[2012-10-10 09:33] snoozer05 commented on #39
選考、結果告知済み。その後の動きについては(しまだは)把握できていないです

[2012-10-10 09:34] snoozer05 commented on #46
まだ心身のダメージが残っているので、もう少ししたら...

[2012-10-10 09:34] snoozer05 commented on #27
MLで報告するのはどのタイミングですかねぃ

[2012-10-10 09:36] kakutani commented on #43
はい、そうです(そして議事録を持っていないぞう) /cc @takahashim

[2012-10-10 10:28] snoozer05 commented on #23
PRしました: https://github.com/ruby-no-kai/official/pull/69

[2012-10-11 02:02] takahashim commented on #66
はい、入ってました。

[2012-10-11 02:02] #66 closed, assigned to takahashim

[2012-10-11 02:04] takahashim commented on #60
こちらは火曜日づけで事務所住所は変更になったはずですが、税務署への提出と理事の住所変更が残ってます…

[2012-10-11 02:05] takahashim commented on #61
ささださんに会う機会っていつだろう…。この値段だとPayPalとかの早いかも？

[2012-10-11 05:31] takahashim commented on #68
確認しました！　これってどこで管理してますか？
ちなみに9月は2社のみでした。

[2012-10-11 05:42] snoozer05 commented on #68
sprk2012の Pivotal Tracker のカレントでaccept待ちになっているもののうち、「Rubyの会に入金のあるもの」となっているものがそれにあたります。入金のあった2社についてはacceptを押していただけますでしょうか！

[2012-10-11 05:44] takahashim commented on #68
acceptしておきましたー

[2012-10-11 05:46] snoozer05 commented on #68
ありがとうございます！

[2012-10-12 01:45] snoozer05 commented on #42
@kakutani RWC のときにきちんと確認するようにしましょう(というのを忘れそうなので dump しておきます)

[2012-10-17 12:04] takahashim commented on #23
ありがとうございます！

[2012-10-17 12:04] #23 closed, assigned to takahashim

[2012-10-17 12:05] kakutani commented on #43
高橋さんから議事録をもらったので、札幌に持参する

[2012-10-17 12:07] kakutani commented on #51
土曜日のオープンソースラボのハッカソンの告知まち。

[2012-10-17 12:08] kakutani commented on #68
支払期日は11末になっているらしい。

[2012-10-17 12:09] kakutani commented on #39
あとは、実施と精算をまてばいいのかな。

[2012-10-17 12:16] kakutani commented on #55
よし、これでいこう。

[2012-10-17 12:16] #55 closed, assigned to nobody

[2012-10-17 12:17] kakutani commented on #52
(特に進展ない)

[2012-10-17 12:18] kakutani commented on #34
ruby-assn guysと話をした。具体的な会場をどうするかを確認してもらうところっぽい。

[2012-10-17 12:19] takahashim commented on #63
入金を確認しておきます

[2012-10-23 11:59] takahashim commented on #63
昨日現在ではどちらも振り込みはなかったようです

[2012-10-26 10:59] kakutani commented on #47
とにかく書いた。https://github.com/ruby-no-kai/official/wiki/Regionalrubykaigi/_compare/a76e985b000c1ea71acfdc3bfd7c4844df6c19c9...262f9b6316770e40f4a1f3d7fbf09388aebce137

[2012-10-26 10:59] #47 closed, assigned to kakutani

[2012-10-26 18:07] sunaot commented on #47
こんなのあった！！！と思いつつ、追記しました。すみません、ありがとうございました！

[2012-10-27 03:28] kakutani commented on #47
丁寧な追記、かたじけなし！ :whale:

[2012-10-27 05:46] kakutani opened #70 "Ruby Kaja のTシャツ発送費用の支援"
誰が立て替えてるんだろ。@tyabe ?

[2012-11-01 06:37] kakutani opened #71 "rubyconf20xxcontingentのテンプレをwikiに置いておくといいのかな"
(qwikをpermanentにしてあとからでも見れるようにしておくのがいいのかなあ)

[2012-11-05 11:38] kakutani commented on #42
RubyConfのときに聞きました。もらってないよ、とのこと。どうやって支払うのがいいのかな。

[2012-11-09 01:14] shyouhei commented on #39
実施済、清算未です。

[2012-11-13 09:49] kakutani opened #72 "misocaを本格利用していいのかしら"
運用の作戦を話しあったらdone.かなあ。

[2012-11-21 09:03] takahashim commented on #43
受け取りました！　お手数かけました(_o_)

[2012-11-21 09:03] #43 closed, assigned to takahashim

[2012-11-21 09:06] takahashim commented on #34
会場とプログラムも決まりつつあるので、これ自体はクローズさせてください。
今後は個別のタスクが具体的に積まれたらそれぞれチケット作るということで。

[2012-11-21 09:06] #34 closed, assigned to kakutani

[2012-11-21 09:25] kakutani commented on #72
@kakutani のカードで立て替える

[2012-11-21 09:25] #72 closed, assigned to takahashim

[2012-11-21 09:26] takahashim commented on #51
宿泊費の振り込みも終わりました

[2012-11-21 12:33] kakutani opened #73 "福岡Ruby会議01の招待講演の精算"
@kakutani なので、こっちでやっちゃえばいいかなと思ったので、issueとしてファイルしておきます。

[2012-11-22 03:01] takahashim commented on #63
10/31付けで永和とペパボさんから入金されてました！

[2012-11-22 03:05] kakutani commented on #63
確認ありがとうございます!

[2012-11-22 03:05] #63 closed, assigned to takahashim

[2012-11-22 05:42] mrkn commented on #51
楽しい企画をありがとうございました :star2: :star2: :star2:

[2012-11-27 05:20] kakutani commented on #44
payment@ruby-no-kai.org で疎通確認ができたと思うので、一旦閉じます!

[2012-11-27 05:20] #44 closed, assigned to takahashim

[2012-11-27 05:21] kakutani opened #74 "paypalアカウントに理事もアクセスしたい"
#44 の続き。複数アカウントからのアクセスの設定をすれば、アクセスできるようになるはず。ぼちぼち進めていきたい。

https://www.paypal.com/jp/cgi-bin/webscr?cmd=p/mer/logins-outside

[2012-11-27 05:22] kakutani opened #75 "paypalアカウントの送金制限を解除したい"
100K JPYの送金制限を解除したほうが海外の人とのやりとりがスムーズにいくはず。
RubyKaigiの前には、送金を解除しておきたい。
(法人としての「本人確認」を済ませればいいのかな?)

[2012-11-29 07:09] takahashim opened #76 "ネットバンクの口座を作る"
ネットバンクの口座だと、入金があるとメールが飛ぶので便利かなあ、と思いました。あと複数人での確認もいちおうはできるぽいです（振り込みするにはジャパンネット銀行の場合、USBトークンが必要）

具体的な使い方はあまり考えてないのですが、とりいそぎチケット切っておきます。

[2012-11-29 09:03] takahashim commented on #39
もろもろ精算してみました。これで全部かしら？

[2012-12-03 06:15] kakutani commented on #73
infoにメールします!

[2012-12-03 10:30] snoozer05 commented on #68
@takahashim  12月になったので、いまいちど入金確認をおねがいできますでしょうか！

[2012-12-04 00:37] snoozer05 commented on #51
これはあと何が終わったらcloseなんでしたっけ？

[2012-12-04 00:38] snoozer05 commented on #52
やりたいなあ

[2012-12-04 00:39] snoozer05 commented on #60
こちらは道のりは遠い感じでしょうか... ><

[2012-12-04 00:39] snoozer05 commented on #61
まだ会えてない感じでしょうか？

[2012-12-04 00:40] snoozer05 commented on #70
これはどういう状態なんでしたっけ

[2012-12-04 02:04] kakutani commented on #52
Rubyの20周年とかにみんなが来てくれるならいいえど、そこまでの引きはないかなあ…

[2012-12-04 02:05] takahashim commented on #61
渡しました！

[2012-12-04 02:17] kakutani commented on #70
@tyabe 側で領収証をもっていることを把握しました。向こうも認識はしているので、いつか・どこかでランデブーできたら精算できそうです。

[2012-12-04 02:28] kakutani commented on #76
おー。入金通知メールべんりそう!

[2012-12-04 03:51] takahashim commented on #60
ちょっと税務署が物理的に遠い…orz
あと、あづみさんの住所変更はそれはそれで進める変更があります

[2012-12-04 04:01] takahashim commented on #51
参加者からの集金→完了、集金したお金の振り込み→未完、ですが、issueとしては閉じておきます！

[2012-12-04 04:01] #51 closed, assigned to takahashim

[2012-12-04 04:10] kakutani opened #77 "Ruby温泉ミーティング2012で集金したお金の振り込みを終わらせる"
#51 の続き。@takahashim にassignしておきます。

[2012-12-04 10:49] takahashim commented on #77
振り込みました！！１

[2012-12-04 10:49] #77 closed, assigned to takahashim

[2012-12-04 11:02] takahashim commented on #68
入金確認しました！

[2012-12-04 11:04] takahashim commented on #68
E和さんの10月の入金ってひょっとして何かと抱き合わせ金額なのかしら…？（SPRK2012の金額とは違う額になってる）

[2012-12-04 13:37] kakutani commented on #68
5まん多いならrailsgirlsとまとめて？

[2012-12-05 02:09] takahashim commented on #68
そんな気がしてきました！

[2012-12-05 02:23] kakutani commented on #68
じゃあ、そういうことだと思います!

[2012-12-05 02:29] takahashim commented on #68
ではそういうことで！　問題なければこちらも閉じておいて下さい＞しまださん

[2012-12-05 02:31] snoozer05 commented on #68
はい！確認ありがとうございました！

[2012-12-05 02:31] #68 closed, assigned to takahashim

[2012-12-13 00:41] kakutani opened #78 "Rails Girls(RG) Kyotoの立替金の精算をする"
RG Kyotoのオーガナイザーの @chnstz と相談して、会期中のお金周りは日本Rubyの会が面倒をみることにしました。具体的には、私が小口現金とか準備で買った消耗品とかの精算を現地で立て替えてしまおうと思います。

領収証を集めて整理するので、あとで私の口座に入金いただくかたちでこの立替金を精算してもらいたいたいです > @takahashim

[2012-12-14 12:33] takahashim commented on #78
了解です！

[2012-12-18 11:30] snoozer05 commented on #40
おわってた

[2012-12-18 11:30] #40 closed, assigned to nobody

[2012-12-18 11:32] snoozer05 commented on #57
方針を決めなくてはならないが、それが進まず。という状況

[2012-12-18 11:33] snoozer05 commented on #60
やっと進められそう

[2012-12-18 11:34] snoozer05 commented on #76
どこか決めましょう！

[2012-12-18 11:37] snoozer05 commented on #73
メールが来ているのを確認しました！
@takahashim 精算をお願いします！

[2012-12-18 11:40] snoozer05 commented on #39
@shyouhei OKなら閉じれるのですが、漏れがないか確認願います！

[2012-12-18 11:50] snoozer05 commented on #78
明細がきていたので、@takahasim さんの精算待ち状態

[2012-12-18 11:52] kakutani commented on #78
かくたにの精算してもらいたいぶんは、129,689 JPY でした! よろしくお願いします。

[2012-12-18 11:52] kakutani commented on #73
総額で 52,570 JPY でした!

[2012-12-18 11:53] snoozer05 opened #79 "高橋さんの名刺がなくなりそう"

[2012-12-19 02:29] snoozer05 opened #80 "Herokuアカウントを作る"

[2012-12-26 09:16] kakutani opened #81 "RG Kyotoのステッカー代を@chnstzに精算する"
漏れてた……。 4 ,800円。

[2012-12-26 09:29] kakutani commented on #78
金額のupdate: 134,489

see #81

[2012-12-26 09:29] kakutani commented on #81
一旦 @kakutani が立て替えてしまったほうが手っ取り早いので、続きは #78 で。

[2012-12-26 09:29] #81 closed, assigned to nobody

[2013-01-10 01:12] kakutani commented on #80
やるます

[2013-01-10 15:48] kakutani commented on #80
作成しました!

[2013-01-10 15:48] #80 closed, assigned to kakutani

[2013-01-11 14:28] takahashim commented on #79
こちら先日届きました！
角谷さんの分も届いているのでそれを渡せば閉じます

[2013-01-11 14:37] snoozer05 commented on #79
確認ありがとうございます！

[2013-01-11 16:50] kakutani commented on #70
東京Ruby会議10 で @tyabe から受けとる――予定。

[2013-01-14 11:43] takahashim commented on #79
渡しました！

[2013-01-14 11:43] #79 closed, assigned to snoozer05

[2013-01-16 11:13] kakutani opened #82 "東京Ruby会議10の請求業"
@takahashim から @kakutani がリストをもらってmisocaで請求。

[2013-01-16 11:14] kakutani commented on #70
@tyabe の振込先をおしえてもらう。

[2013-01-16 11:17] kakutani commented on #60
@takahashim がまだ税務署にいってない

[2013-01-16 11:18] shyouhei commented on #39
清算終わってそうなの確認しました!

[2013-01-16 11:18] kakutani commented on #57
編集長の @takahashim が决めてすすめておわらせたい……。

[2013-01-16 11:19] kakutani commented on #52
RubyKaigiでかな……

[2013-01-16 11:26] kakutani opened #83 "Ruby20周年のお金のことをアソシエーションと相談する"
相談するぞ!

[2013-01-16 11:28] kakutani commented on #74
@kakutaniは終わったので、次は @snoozer05 のやつ。

[2013-01-16 11:32] kakutani commented on #46
たぶんオレがやるべき。

[2013-01-16 11:34] #39 closed, assigned to takahashim

[2013-01-16 11:39] kakutani commented on #16
2013年になんかやるぞー。

[2013-01-17 09:27] takahashim commented on #83
相談中！

[2013-01-18 11:18] takahashim opened #84 "20周年記念開発会議的なものの支援"
開発者会議の支援について打診があったのでこちらに書いておきます(現在ruby-devにて開催の検討中)。

[2013-01-19 03:54] kakutani commented on #84
:+1:

[2013-01-19 14:26] tyabe commented on #70
@kakutani 振込先、メールで送りましたー

[2013-01-21 08:24] takahashim commented on #82
請求先データを @kakutani さんに共有してみました。こちらで間に合いますか？

[2013-01-21 10:47] kakutani commented on #82
パッと見だいじょうぶそうなので、進めてみます!

[2013-01-21 10:48] kakutani commented on #70
いただきました! ちょっと整理して(ごめんなさい、時間をください……)、入金処理を進めます。

[2013-01-23 11:36] kakutani opened #85 "githubのruby-no-kai organizationにprivate repoがほしい"
るびまの進行をgithubでやろうかという話が出ていて、現状はfreeのrubima orgアカウントができています。

るびまの記事執筆にあたっては、特にインタビュー原稿の起こしと編集については、
履歴も含めて公開したくない、というニーズがあります(言っちゃいけない話とかもあるので)。

なので、記事によってはprivate repoが欲しくなることもあるだろうから、
そのための退避先として、ruby-no-kai orgのprivate repoがあるといいな、と思うにいたりました。

また、RubyKaigiの進行もやれるといいかな、と思っているのですが、タスク管理としてはオープンに書きづらいこともあったり、rubykaigiの準備のことでorganizersのpublic activityが活発になりすぎるのもいかがなものかと思ってます。

ruby-no-kai/official

[2013-01-23 11:49] takahashim commented on #75
paypalアカウントが「ステータス：認証済み」になりました！！
で、これでいいんでしたっけ？

[2013-01-23 11:56] kakutani commented on #75
「支払/引出限度額: 限度額を表示」の先の、

からの「本人確認」のお手続きをおこなって、支払限度額を解除したいです!!!
(本人確認ってアカウントをつくるときに済ませたんじゃねーの、と思うのですが……)

[2013-01-23 12:02] takahashim commented on #85
- るびまの進行はpublicでいいような？
- るびまの執筆はもうちょっと議論の様子見な気がしますね……るびま編集部としての判断が必要だと思うので、その結論を待ってからでいいと思います（必要に応じてRubyの会でリソースを用意する、というのは議論の前提にしてもらって大丈夫ではあります）。
- RubyKaigiの進行はprivate reposを作っていいと思いました！　（pivotalとの使い分けが気になりますが、そこはこれから運用しながら決めていけばいいかと）

一点確認ですが、終わった後で１〜２年後に溜まったissuesごとレポジトリを破棄しても大丈夫だと思います？（レポジトリの使い回しはちょっと微妙かなあ＆定額出費が単調増加必須な仕組みを導入するのは慎重になりたい）

[2013-01-23 12:11] kakutani commented on #85
- るびまについて、進行そのものはpublicでよいです。
- 執筆についても「様子見」でよいと思います。
- RubyKaigiの進行には使いたい!!!

private repoのライフサイクルですが、プロジェクトの性格にもよるとは思いますけれども、
リソースとして提供するときに「プロジェクトが終わったら消すぞ!!」という前提で提供するのはいかがでしょうか。

プロジェクトが「終わった」あとにも引き取りたい人がいれば、
その人のアカウントにownershipを転送することは可能です(ちょう簡単)。
そうすれば、すくなくともruby-no-kaiのorgからは追い出すことができます)。

ちなみにRubyKaigiの運営については、2013年以降もリポジトリは1つで良いです。
「年」をマイルストーンとして運用しようと思ってます。

[2013-01-23 12:12] takahashim commented on #75
![ 2013-01-23 21 07 26](https://f.cloud.github.com/assets/10401/89830/f82c1112-6555-11e2-84e1-d817bebb657c.png)
…ック、ここから「以下のステップ」に従うにはどうすれば…

[2013-01-23 12:15] kakutani commented on #75
これは、アカウント責任者がサポートから「本人確認」から

という旨の問い合せをおこなうと、謎の運用対応によって、しばらくたつと「ボタンつけました」という連絡がきます。

数営業日のうちにサポートから返信がこない場合は、同じ内容を何度も何度も問い合わせます。
近頃は一度問い合わせるだけでボタンがつくようになりました!!

[2013-01-23 12:22] takahashim commented on #85
あ、いや、RubyKaigiの話で、
- 「年」できれいにタスクが終わらない
- reposを分けないとメンバーの入れ替えができない

ので、そこは分けれないといまいち幸せになれなささそうかと思うんですが、どうなんでしょう？

[2013-01-23 12:23] takahashim commented on #85
まあ、そこは先送りしてとりあえず導入しちゃってもいいかと思いました！

[2013-01-23 12:37] kakutani commented on #85
ありがとうございます!! ではまずは、@kakutani のカードで立て替えちゃいますねッ。
RubyKaigiの進行の運用については、また別途お話させてください!!

[2013-01-23 12:37] #85 closed, assigned to takahashim

[2013-01-25 08:59] takahashim commented on #75
電話したら10分でボタンつきました！！１

[2013-01-25 09:03] kakutani commented on #75
:+1:

[2013-01-25 09:03] kakutani opened #86 "振込ToDoシートをつくる"
とりいそぎ備忘のためのissue起票のみにて失礼いたします。

[2013-01-25 09:17] takahashim commented on #75
手元にあった履歴事項全部証明書がちょっと古かった…というわけで続きは来週の予定です

[2013-01-25 15:01] takahashim commented on #79
入金もしました！

[2013-01-25 15:02] snoozer05 commented on #79
ありがとうございます!

[2013-01-25 16:10] kakutani commented on #83
だいたいまとまった!(支援する)

[2013-01-25 16:10] #83 closed, assigned to kakutani

[2013-01-25 16:11] kakutani commented on #70
@takahashim が振り込んだと言っているので、@tyabe からACKが返ってきたらclose.

[2013-01-25 16:26] tyabe commented on #70
@kakutani 確認しましたー。ありがとうございました:sushi:

[2013-01-25 16:26] kakutani commented on #70
:money_with_wings:

[2013-01-25 16:26] #70 closed, assigned to takahashim

[2013-01-25 17:14] kakutani opened #87 "rubykaigi.bizを日本Rubyの会の持ち物へと移す"

[2013-01-25 18:53] kakutani opened #88 "railsgirls kyotoのkakutaniが立替ぶんを精算する"
129,689 JPYでした。see also 振り込めシート

[2013-01-25 18:58] kakutani commented on #88
明細はDropBoxに: ~/Dropbox/ruby-no-kai-core/railsgirls-jp/kyoto-12_0907.xls

[2013-01-25 18:59] kakutani commented on #73
@takahashim

[2013-01-25 19:01] kakutani commented on #88
duplicated as #78

[2013-01-25 19:01] #88 closed, assigned to nobody

[2013-01-25 19:05] kakutani opened #89 "RailsGirls Kyotoと福岡Ruby会議01について、振り込みをお願いします!"
合計187,059 JPYを振り込んでください。

see also #73 #78

[2013-01-25 19:12] kakutani commented on #86
振り込めシートを ruby-no-kai.org のgoogle appsにつくった。

[2013-01-25 19:12] #86 closed, assigned to kakutani

[2013-01-30 05:12] kakutani commented on #84
ささださんからメール来てましたが、「予算」ってどれぐらいで考えておけばよいですかねえ。
ひとり2,000円ぐらい、とか? > @takahashim

[2013-01-30 05:13] kakutani opened #90 "20周年記念パーティの財政支援"
せっかくの20周年なので支援することにした。

[2013-01-30 05:16] kakutani commented on #84
@ko1 へのメールの返事を、@kakutani or @snoozer05 が書くには予算枠を知りたいので、@takahashim が返信するか、予算枠を教えてください!

[2013-01-30 09:18] takahashim commented on #84
昨年を踏襲して予算10万円/年でいかがでしょうか＞開発者会議費用

[2013-01-30 09:37] kakutani commented on #84
rogor, my boss !

2013$BG/(B1$B7n(B30$BF|?eMKF|(B Masayoshi Takahashi notifications@github.com:

##

Kakutani Shintaro

[2013-01-30 13:28] kakutani commented on #84
まだiso2022jp mailを適切にはハンドルしてくれないのか……

[2013-01-31 01:18] kakutani opened #91 "20周年記念パーティのスタッフ弁当を出したい"
文字通り手弁当になりそうなので:
- Rubyの会で募集した当日スタッフ: 15名
- 理事: 3名
- アソシエーション側スタッフでRubyコミッタじゃない人: 2名(福田さんと杉原さん: )

合計20名ぶん、お昼のお弁当を出したい(開発者会議のと同じでよさそう)のですが、
いかがでしょう? > @takahashim

ひとり1K - 1.5K ぐらいだと思うので、合計で約20K - 30Kといった感じの金額感。

[2013-01-31 02:07] takahashim commented on #91
スタッフなんで1.5K円(ですよね？)は高いと思いましたが、それ以外は問題ないです！

[2013-01-31 02:10] kakutani commented on #91
じゃ、お茶込みで1Kぐらいで考えます! (ケタをまちがえていた)

[2013-02-01 11:09] takahashim commented on #82
こちらの方いかがでしょうか？（と催促が来た）

[2013-02-01 12:01] kakutani commented on #82
おっと。3日目おわってからやるんじゃないの、と思ってました。
tkrk10側の担当ってどなたなのでしたっけ…。

[2013-02-01 12:02] kakutani commented on #89
私が金額を間違えてお願いした180,059ぶんは確認しました！
残りも是非よろしくお願いします…。

[2013-02-01 12:13] kakutani commented on #82
永和のスポンサー宛メールを見たら中止になったけど1末で請求って書いてありますね…。
急いでやります、ってもう2月だけど…。

こういうのの連絡は高橋さん個別宛じゃなくて info 宛に投げて欲しいです…。

[2013-02-01 13:08] takahashim commented on #82
ううむ、すみません……。
とりあえずinfo宛でお願いしておきます！

[2013-02-01 14:00] kakutani opened #92 "RailsGirls Tokyo 2nd roundの請求業"
- 3/2(土)請求
- 4/末日入金期限

積んどかないと忘れる……。

以下請求手続き済
- [x] spiceliefe
- [x] Heroku (前回一括)
- [x] EY-Office
- [x] ペパボ
- [x] 万葉
- [x] 永和

[2013-02-01 15:03] kakutani opened #93 "RG Kyotoの入金確認(入金期日:1/31ぶん)"
misocaのほうの入金ステータスを変更していただけると助かります(金額もあちらに書いてありますゆえ)。
- [x] paperboy&co. 様
- [x] クランディム 様
- [x] Happy Elements 様

[2013-02-01 15:07] kakutani opened #94 "東京Ruby会議10の入金確認(入金期日;2/28ぶん)"
18社あるので対象企業さまと金額についてはmisocaの請求書番号20130201-シリーズをご確認ください。

[2013-02-01 15:15] kakutani commented on #82
請求書の郵送手続きをしました!  misoca代を立て替えたので、振り込めシートの額の精算をお願いします。

入金確認については、 #94 で。
(このチケットはmisoca代が精算されたらclose)

[2013-02-01 15:16] kakutani commented on #90
(お金を払ったらcloseする)

[2013-02-01 15:17] kakutani commented on #84
(お金を払ったら、closeする)

[2013-02-01 15:18] kakutani commented on #16
1/30 に @snoozer05 と札幌でインセプションデッキのラフをつくったので、もうちょっと清書して理事ミーティングでレビューしてもらう。

[2013-02-01 15:18] kakutani commented on #73
私が金額を間違えて伝えちゃったけど、これ自体はおわり。続きは #89 で。

[2013-02-01 15:18] #73 closed, assigned to takahashim

[2013-02-01 15:20] kakutani commented on #78
私が金額を間違えて伝えちゃったけど、これ自体はおわり。続きは #89 で。

[2013-02-01 15:20] #78 closed, assigned to nobody

[2013-02-02 08:45] takahashim commented on #89
ええと、134,489+52,570=187,059円分のうち、180,079円を振り込んだので、差額は **6,980円** 、てことで合ってますか？
問題なければ週明けに振り込みます！

[2013-02-02 08:50] kakutani commented on #89
わ…。足し算が苦手ですみません…高橋さんのであってます…。

[2013-02-06 15:38] kakutani commented on #82
1社請求書を送付し直した

[2013-02-06 15:39] kakutani commented on #93
@takahashim お手すきのときに確認をお願いします!

[2013-02-06 15:41] kakutani opened #95 "2/20 定例理事ミーティング 20:00- ESM上野"
これもissueにすればいいじゃんね。
@takahashim @snoozer05 @shyouhei

[2013-02-08 14:30] takahashim commented on #93
31日に入金がありました！

[2013-02-08 14:31] takahashim commented on #89
こちら振り込みました！

[2013-02-08 14:35] kakutani commented on #93
お。すべてですか?

[2013-02-08 14:37] takahashim commented on #93
3件並んでました！　misoca更新済みです

[2013-02-08 15:12] #93 closed, assigned to takahashim

[2013-02-08 15:12] kakutani commented on #89
verified.

[2013-02-08 15:13] #89 closed, assigned to takahashim

[2013-02-08 15:28] kakutani commented on #46
rk11op (!)に投げた。あまりに反応がなければcloseしたい……。
(2013年2月中ぐらいかな……)

[2013-02-20 11:04] shyouhei commented on #95
実施した

[2013-02-20 11:04] #95 closed, assigned to nobody

[2013-02-20 11:09] shyouhei opened #96 "20周年記念パーティーの当日スタッフ運営"
- 集合時間など周知する
- 他?

[2013-02-20 11:10] snoozer05 commented on #91
RAから請求書を貰って支払うフロー

[2013-02-20 11:13] takahashim opened #97 "開発者会議の交通費のガイドラインを用意する"
* 開発者会議には開発者を呼びたいけど遠い人は交通費が辛い
* とはいえ結構各地に散らばっているので全員分持つことになると大変そう
* なので加減を考える
   * 1万円以上で希望者のみ、とか

[2013-02-20 11:14] snoozer05 commented on #82
おわったとのこと

[2013-02-20 11:14] #82 closed, assigned to kakutani

[2013-02-20 11:15] takahashim commented on #76
ジャパンネット銀行にしようかと思っているのですが、USBトークンについて確認する（自分用メモ）

[2013-02-20 11:21] snoozer05 commented on #52
RubyKaigi 2013 でやれるといいな

[2013-02-20 11:29] shyouhei commented on #16
3/18の夜?

[2013-02-20 11:41] kakutani commented on #16
資料請求したい! http://haa.athuman.com/pr/ruby/

[2013-02-20 11:52] takahashim opened #98 "申告の発注を検討"
今年はプロに頼むかもなので、まずは検討する

[2013-02-22 10:24] takahashim commented on #75
履歴事項全部証明書のスキャンをアップしてもエラーになった問題は、ファイル名の日本語が原因だったようなので修正して返事待ちです…

[2013-02-25 16:41] kakutani commented on #16
品川で場所を確保できた。

[2013-02-26 16:29] kakutani commented on #16
@yuumi3 が参観してくれることになった!

[2013-02-28 06:20] snoozer05 commented on #96
終わってたのでクローズしておきます

[2013-02-28 06:20] #96 closed, assigned to nobody

[2013-03-05 14:31] kakutani opened #99 "日本Rubyの会MLの位置づけについて訊かれた"
定款的にクリアしたのはいいんだけど、実運用としてどうなってるんでしたっけ、ということを「日本Rubyのチュートリアル」のアナウンスにあわせて聞かれたので、認識をあわせておきたいなあ、とdump。

[2013-03-06 04:03] takahashim commented on #99
いわゆる賛助会員的なもの、という説明がいいのかなあ。会費はなくて情報取得のみ。

[2013-03-06 04:13] takahashim commented on #75
本人確認完了しました！！（たぶん

[2013-03-06 04:25] kakutani commented on #75
うおー、おつかれさまです！

[2013-03-06 08:43] kakutani opened #100 "misocaの代金を口座振替にしたい"
立替精算をしなくてよくなるので、カードじゃなくてこっちにしたいです。
良いでしょうか? > @takahashim

[code]

[2013-03-06 16:56] takahashim commented on #100
落ち着いてサービス詳細を見てみたのですが、これって毎月の定額請求用、みたいなサービスなんですかね？

[2013-03-06 17:06] kakutani commented on #100
月謝とかの回収用っぽいです……とほほ……

[2013-03-07 10:09] #100 closed, assigned to nobody

[2013-03-07 10:11] kakutani opened #101 "RailsGirls Tokyo 2nd roundの会計を〆る"
- [x] 会計Excelを作成 (@kakutani)
- [x] kakutaniの立替ぶんを精算する (@takahashim)
- [x] kuko への立替精算をおわらせる (@kakutani)
- [x] スポンサー企業への請求 #92 (@kakutani)
- [x] レシートを @takahashim に渡す(@kakutani)

[2013-03-08 05:18] toyoshi commented on #100
すみません。口座振替でのMisoca利用料決済は現在検討中です。
（Misocaの口座振替サービスが始まったら、僕ら自身がこのサービスを使う感じで利用料徴収に使う予定です）

ちなみにすでに検討されているかもしれませんが、MisocaではVプリカが使えます。
http://vpc.lifecard.co.jp/

[2013-03-17 05:35] snoozer05 opened #102 "るびま編集部向けにサーバを提供する件"
see https://github.com/rubima/rubima/issues/58

[2013-03-17 05:40] snoozer05 commented on #84
お金、払いました？

[2013-03-17 05:41] takahashim commented on #84
むむむ、払ってないかも

[2013-03-17 05:43] snoozer05 commented on #19
この issue はどうしましょう。
@hsbt さんは Rubyの会とは関係なく動いてくれているように見えているので、どう置いておくのかが気になりました。
今後は @hsbt さんから、アクションするためにこんな支援をしてもらえると嬉しいんだけどみたいな相談ベースで issue を切っていくとかでも良いのですかねぃ

[2013-03-17 05:44] snoozer05 commented on #75
done?

[2013-03-17 05:50] takahashim commented on #75
支払/引出限度額のページで支払い・引き出し両方とも「お客さまの限度額は解除されました」と表示されております。
これでいいんでしょうか？

[2013-03-17 06:00] snoozer05 commented on #60
これはまだ税務署に行っていない感じでしょうか？

[2013-03-17 06:29] takahashim commented on #60
税務署行って紙をもらってきたところで止まっております…orz
（そして昨日大江戸03から帰ってきたら申告書が投函されていたというorz）

[2013-03-17 06:55] snoozer05 commented on #71
おぉ...もうコンテンツが消えてしまってるんですねぃ（作業しようとしたらもう無かった)

[2013-03-17 06:57] kakutani commented on #71
ぼくのメールボックスにあるかもしれない(今日は無理かな……)

[2013-03-17 07:38] hsbt commented on #19
"a year ago": hi

スネークしたところ、 ruby/www-ruby-lang.org で vit-core チームが作業中です。彼らの方でまだ残っている作業(リンク漏れとか諸々)をせっせとこなしている途中です。こちら(というか @hsbt) のボールとしては、neon.ruby-lang.org を @shugo さんから使って良いよと言われたので neon の上で vit-core の作業したものを見えるようにしようという状態。

残っている問題
- ステージングというかプレビューどうするんの
- デプロイ戦略(github から持って来て～)
- github pages の方が楽でいいんじゃね?
- 本格移行いつやんの

というところです。

[2013-03-18 05:30] takahashim commented on #102
こういうのってカードで継続課金だと精算がめんどい＆分かりにくいので、まとめて振り込みできるといいなあと思っております…

[2013-03-20 09:53] snoozer05 commented on #16
α版は何とか終了しました...!!

[2013-03-20 15:05] takahashim commented on #16
そういえば「インセプションデッキを清書してどっかに置く」と「リーンキャンバスを描く」は終わってるんでしたっけ？

[2013-03-20 15:17] snoozer05 commented on #16
いや、まだなのでした...!!

[2013-03-21 01:42] snoozer05 opened #103 "[ruby-list:49289] Rubyホームページのドキュメントに Ruby2.0.0版を追加してほしい"
ここにも積んでおきます:

[2013-03-21 02:06] snoozer05 commented on #103
@hsbt ++

[2013-03-21 02:06] #103 closed, assigned to nobody

[2013-03-23 02:29] kakutani opened #104 "るびま用の新サーバでsqaleを借りる"
1年ぶんなら銀行振込に対応してくれるそうなので、それでお願いする。 /cc @hsbt @takkanm

[2013-03-23 02:39] takahashim commented on #104
請求書をいただくか、振込先口座＋金額情報をいただくか（←実質請求書と同様の情報）、というところでしょうか

[2013-03-24 01:46] kakutani commented on #92
請求手続きをおこなった。4末の入金確認をよろしくお願いします! > @takahashim

[2013-03-25 06:04] hsbt commented on #104
請求書をPDFで送ります! 請求書に記載する情報（担当者、住所、電話番号）を教えてください。

[2013-03-25 10:43] takahashim commented on #104
〒151-0066 東京都渋谷区西原2-33-6-104 一般社団法人日本Rubyの会 tel.03-6407-9151 担当高橋です！

[2013-03-26 01:24] hsbt commented on #104
ありがとうございます。担当の @pplog から送付させて頂きます。

[2013-03-26 01:28] pplog commented on #104
はじめまして、担当の 山本 @pplog です。

請求書PDFをお送りする先のメールアドレスをお教えいただけますでしょうか？

どうぞよろしくお願いいたします！

[2013-03-26 02:12] kakutani commented on #104
info at ruby-no-kai dot org 宛でお願いします！

[2013-03-26 02:14] kakutani opened #105 "東京Ruby会議10の資金移動"
@bash0C7 から請求書をもらって、振り込む。

[2013-03-26 02:14] pplog commented on #104
@kakutani 承知しました！

[2013-03-27 12:45] snoozer05 commented on #52
RubyKaigi2013かRubyHirobaでやることにしましょう！ cc @kakutani

[2013-03-27 13:15] takahashim commented on #91
支払いました！

[2013-03-27 13:15] #91 closed, assigned to nobody

[2013-03-27 13:15] kakutani commented on #46
反応があったので、考古学をやらないといけないのだった……。

[2013-03-27 13:16] snoozer05 commented on #102
@kakutani #104 でやってるのと同件だと思うので、こっちは閉じておきます。

[2013-03-27 13:16] #102 closed, assigned to nobody

[2013-03-27 13:17] kakutani commented on #19
このissue、@hsbt のスネーク報告スレとして活用してもらってよいのでしょうか? (報告ありがたし)

[2013-03-27 13:17] shyouhei commented on #60
このチケットの現状がしりたいです…

[2013-03-27 13:19] kakutani commented on #75
オワタ!!

[2013-03-27 13:19] #75 closed, assigned to takahashim

[2013-03-27 13:20] takahashim commented on #90
こちら支払いました

[2013-03-27 13:20] #90 closed, assigned to nobody

[2013-03-27 13:21] kakutani opened #106 "rubyhiroba.org を日本Rubyの会へ移す"
まあ、そのうち。

[2013-03-27 13:24] takahashim commented on #60
書面を提出して、問題がなければそのまま（特に連絡もなく）終了になる予定です

[2013-03-28 03:27] snoozer05 opened #107 "RubyKaigi2009 のときに _why を呼ぼうキャンペーンで集めたお金(現金) を高橋さんに渡す or 口座に入れる"
_why 関連のことをするために使いたい。今は島田の手元にあります。

[2013-03-28 04:30] takahashim commented on #107
:+1:
口座に振り込んでもらうのでどうでしょう？

[2013-03-31 08:13] kakutani commented on #101
〆めました!! railsgir-jp/tokyo-team#61

@kakutani の精算してほしい額は、190,365 JPYです(振り込めシートに書いときます)

[2013-03-31 17:31] kakutani opened #108 "ぐんまRuby会議01の精算"
- [x] @kakutaniに 8,180 JPY
- [x] 領収証を @takahashim にわたす
- [x] 早川さんが立て替えしているぶんの精算

[2013-04-01 05:32] snoozer05 commented on #107
振り込みました！手数料分差し引いて20,000円振り込んでおりますので、ご確認をお願いします！

[2013-04-01 11:00] takahashim commented on #107
こちら振込人が「サッポロルビーカイギシ」になってましたが、これであってます？

[2013-04-01 11:01] snoozer05 commented on #107
はい！ちょっと振込を簡単にしたくて、いったん札幌Ruby会議実行委員会の口座に入れて、そこ経由で振り込ませていただいたのでした ><

[2013-04-01 11:03] takahashim commented on #107
了解です！

[2013-04-01 17:16] kakutani commented on #101
@takahashim まとまったお金が必要になるので、溜まってるやつ精算してもらえると嬉しいです〜。ruby-no-kai.org のgoogle docsにある振り込めシートのやつもまとめてやってもらえるとちょう助かります……。

[2013-04-02 06:16] kakutani opened #109 "おや……PayPalの様子が……"
![ruby-no-kai-paypal](https://f.cloud.github.com/assets/2160/326993/b8775e0e-9b5c-11e2-9348-8a3f6e780bb4.png)

登記住所変更の影響ですかね? > @takahashim

[2013-04-02 07:05] takahashim commented on #109
あー。なんかRubyKaigiで入金が増えたためっぽいです。
RubyKaigi側にも送っておきます。

[2013-04-02 08:29] takahashim commented on #101
（振り込めシートはマイドライブからも共有アイテムからも見えないのでした…）
こちら本日振り込んでおきます！

[2013-04-02 08:30] kakutani commented on #101
むむむ……設定をミスっているのか……

[2013-04-02 08:50] kakutani commented on #101
@takahashim 振り込めシートの共有設定を変えてみました!! (URLはメールしてみました)

[2013-04-02 09:04] takahashim commented on #101
振り込みました！
と思ったら２月のmisoca分が入ってなかった…orz

[2013-04-02 09:07] kakutani commented on #101
すばやい!! ありがとうございます。確認して @kuko に払ったら完了……!

[2013-04-03 02:52] kakutani opened #110 "fabioからRubyConf Brazil 2013へのお誘いがきた"
お誘いっていうか日本からも話しに来てよ〜、というお願いなのだけれど。
RubyConf Brazil側としても、誰でもどんどん来いというわけではないものの旅費の補助などの作戦はあるみたい。

Rubyの会としてうまいこと支援したりできないかなあ。
まずは、日本Rubyの会MLに「こんな話がきてるよ」っていうのをお知らせしてみます。

[2013-04-03 23:47] kakutani commented on #108
振込かくにんしました!

[2013-04-03 23:47] kakutani commented on #101
振込をかくにんしました :heart_decoration:

[2013-04-08 07:03] kakutani commented on #101
@kuko に渡ったっぽい!!1

[2013-04-08 07:03] kakutani commented on #101
おっと。こちらでは高橋さんにレシートを渡すまでopenだった……。

[2013-04-09 02:49] snoozer05 commented on #104
これは done なのかしら??

[2013-04-09 02:49] #107 closed, assigned to nobody

[2013-04-09 03:45] hsbt commented on #104
支払い完了してお試し期間が消えてました!

[2013-04-10 11:17] bash0C7 commented on #105
送付先いただいたので、近々に送ります。

[2013-04-10 13:01] kakutani commented on #105
よろしくおねがいしまーす。

[2013-04-10 13:02] #104 closed, assigned to nobody

[2013-04-10 13:04] kakutani commented on #110
日本Rubyの会MLにメールを出します!

[2013-04-10 13:04] kakutani commented on #60
何かあればreopenするということで

[2013-04-10 13:04] #60 closed, assigned to takahashim

[2013-04-10 13:06] kakutani commented on #19
https://github.com/ruby/www.ruby-lang.org/issues をみんな☆つけて応援しよう!

[2013-04-10 13:06] #19 closed, assigned to nobody

[2013-04-10 13:17] kakutani commented on #16
セグメントを絞って(上のほう狙い)、有料でβ版をやろう。
- Railsのアプリは書けるひと
- 他の言語でプログラムを書ける人

[2013-04-10 13:20] #94 closed, assigned to takahashim

[2013-04-10 13:21] kakutani commented on #84
弁当代だから払ってるはず

[2013-04-10 13:21] #84 closed, assigned to takahashim

[2013-04-14 03:51] takahashim commented on #109
というわけで、制限は解除されましたが、「定期保留金: アカウントの 10%が 65日間保留されます。」とのことです。要はなんかあった時に入金キャンセルとかチャージバック用にPayPalに金を積んでおけ、とのことぽいです。むむむ。まあ仕方ないか。

というわけで、こちらはいったん閉じておきます！

[2013-04-14 03:51] #109 closed, assigned to takahashim

[2013-04-15 00:35] bash0C7 commented on #105
投函しました。もし不備があればお伝えくださいませ

[2013-04-16 14:28] takahashim commented on #105
届きました！！

[2013-04-17 15:13] kakutani opened #111 ""[情弱] ruby 会議やるとかやらないとかみんなどこで情報得てるんだろう? http://www.ruby-lang.org/ja/news/ には載らないし... [プログラマ]""
前々から知ってた話ではあるのだけれど…… w.r.o の"リニューアル"あたりを契機になんとかしていけるといいな、と思ったことをここに記します。@hsbt にどっかでいろいろ教えてもらおう……。

https://twitter.com/hiroshi3110/status/324405605781626880

[2013-04-19 13:54] bash0C7 commented on #105
:-)

[2013-04-26 08:55] takahashim commented on #105
遅くなりましたが先日送っておきました！！１

[2013-04-27 14:05] hsbt commented on #111
events に限らず、日本語の ruby-lang.org のリソースがもの凄く残念なんでどうにかしたいのですが、何処にリソースを求めに行けばいいのやら... という

[2013-04-30 14:37] bash0C7 commented on #105
確認しました。ありがとうございました！

[2013-04-30 14:42] takahashim commented on #105
確認どうもです！

[2013-04-30 14:42] #105 closed, assigned to nobody

[2013-05-08 18:48] kakutani opened #112 "AmazonのアソシエイトIDを取得する"
rubima/rubima#85 からの流れ。忘れそうなのでこちらに転記。

[2013-05-09 07:00] kakutani opened #113 "RubyHirobaで使うお金の支援"
- [x] ステッカー (1.34K)
- [x] Tシャツ (56.262K)

[2013-05-09 07:01] kakutani commented on #113
@yandod にハンドルしてもらうのがよさそう……。

[2013-05-11 12:49] takahashim opened #114 "Travis CI GmbHに振り込む"
海外送金業…

[2013-05-11 12:50] kakutani commented on #114
準国際会議、経験業務の幅が広がる…

[2013-05-11 13:09] takahashim commented on #114
ゆうちょ銀行の口座を作っておくべきだったか…（2,500円でいけるらしい。三井住友銀行だと6,500円＋α）

[2013-05-11 22:41] hsbt opened #115 "railsgirls.jp のドメイン費用を Ruby の会で払って欲しい"
railsgirls.jp の方から来ました。

http://railsgirls.jp/ というドメインを先日私が個人的に準備したのですが、このドメインの費用を Ruby の会で計上するということは可能でしょうか?

rubykaigi.org とかはどういう管理になっているのでしょうか...

[2013-05-15 00:44] yandod commented on #113
領収書の宛名をどうするかを教えて下さい。

[2013-05-15 00:50] kakutani commented on #113
"日本Rubyの会"でお願いします！

[2013-05-15 01:07] yandod commented on #113
発送前に振込み情報が来ますが、それは振込をお願いできるということでいいですよね。

[2013-05-15 01:21] kakutani commented on #113
いいっすよ info at ruby-no-kai dot org に送ってください

[2013-05-15 11:55] kakutani commented on #115
可能です。

rubykaigi.orgのときは、ドメインのownerやらbillingなどを日本Rubyの会の理事に移しました。
すでに @hsbt が払ってしまったぶんについては立替精算とさせてください。
(何らかの支払についての証憑をいただけるとありがたいです)

以上で回答になっていますでしょうか?
具体的な引き継ぎに必要な情報などは、info at rubykaigi dot org 宛にいただけるとありがたいです!
(このissueは、やり忘れがないように状態を管理するためのものという位置づけにしたいです)

RubyKaigi前でバタバタしてて、諸々遅れがちになることもあるとは思いますが
よろしくお願いします!

[2013-05-15 11:57] kakutani opened #116 "九州Ruby会議02の精算"
- [x] 金額を確定させて連絡(kakutani)
- [x] 振り込めシートに記入(kakutani)
- [x] 領収証を @takahashim に渡す(kakutani)
- [x] 精算(takahashim)

[2013-05-15 11:59] hsbt commented on #115
了解です!!1 お互いにバタバタし終わった後に、こちらの issue はまた再開します。

[2013-05-15 12:08] kakutani commented on #114
こんかいは三井住友でやってしまって、来年に向けてゆうちょ銀行の口座を開設しましょう!!1

[2013-05-16 09:05] kakutani commented on #113
@yandod いただいた振込情報を高橋さんには伝えるのですが、見積書とか請求書みたいなもののファイルを上記のアドレスに送っといてください〜。

[2013-05-16 09:09] kakutani commented on #113
「RubyHiroba 2013のステッカー代振込のお願い」というメールをinfoに送りましたので振込おねがいします!! > @takahashim

[2013-05-16 09:13] yandod commented on #113
ステッカーのやつを転送しました。Tシャツの方も請求情報がきたら送ります。

[2013-05-17 02:30] kakutani commented on #113
Tシャツも来た。「Fwd: 株式会社 Engine Yard 安藤祐介 様■受注明細になります。■」っていうメール。こちらも振込おねがいします > @takahashim

[2013-05-17 06:44] takahashim commented on #113
ステッカーの方は振込みました！

[2013-05-17 11:23] shyouhei commented on #98
これの検討を始めたいです！

[2013-05-18 02:27] takahashim commented on #113
Tシャツの方は月曜日に日本Rubyの会名義で振り込みますね

[2013-05-20 08:09] takahashim commented on #114
こちら振り込みました！（明日の日付で）

[2013-05-20 08:09] takahashim commented on #114
ちょっと安心できない感じなのですが、いったん閉じておきますね

[2013-05-20 08:15] takahashim commented on #113
Tシャツの方も振り込みました！（が別の送金業務が長引いて明日の日付で振り込まれる予定です…）

[2013-05-22 03:18] kakutani commented on #114
いつ入金されるの? と来ましたが数日はかかる感じなんですかね??
Fritzにお返事していただけるとよいのかしら(reopenしてみます)

[2013-05-22 03:19] takahashim commented on #114
あれ、これって届いた（ことをお知らせしたい）ってことかと思ったんですが、違う？？

[2013-05-22 03:20] takahashim commented on #114
（えーごむずかしい…）

[2013-05-22 03:24] shyouhei commented on #114
the arrivalであれば「来た」だと思います

[2013-05-22 03:58] kakutani commented on #114
うう……ありがとうございます。じゃあdoneだってことですね。とほほ。

[2013-05-22 03:58] #114 closed, assigned to takahashim

[2013-05-22 10:42] shyouhei commented on #98
検討を開始している。

[2013-05-22 13:53] takahashim commented on #98
税理士紹介サービスみたいなところに申し込み→電話かかってくる→メールでクレと返事→メール待ち、という状態です

[2013-05-25 21:30] shyouhei commented on #52
これやるん? そういえばですが。

[2013-05-30 17:01] kakutani commented on #110
ばたり……

[2013-05-30 17:01] #110 closed, assigned to kakutani

[2013-06-04 06:34] kakutani opened #117 "監事の名刺がほしい"
RubyKaigi絡みで卜部さんにも動いてもらうことが増えてきたので、名刺あるとよさそう。
メールアドレスも?

ついでに、
代表理事や理事の皆さんは名刺足りてますか……?
kakutaniのはボチボチ無くなりそうです……。

[2013-06-04 06:38] snoozer05 commented on #117
しまだ、実はすでに無くなっておりました...

[2013-06-04 06:41] takahashim commented on #117
私の名刺はいっぱいあります！

[2013-06-04 06:51] kakutani commented on #117
shyouhei@ruby-no-kai.org を?

[2013-06-04 07:56] takahashim commented on #98
こちらですが、もろもろ事情を伝えて、予算として10万円くらいとお伝えしたところ、「20万円くらいになりそう」と言われたので、別のところをあたっております…

[2013-06-06 03:42] gunjisatoshi opened #118 "Rubyist MagazineのHotlinks用のICレコーダーについて"
https://github.com/rubima/rubima/issues/174 の件です。

日本Rubyの会の活動のひとつであるRubyist Magazineでは、連載インタビュー記事(Hotlinks)のインタビュー時の録音を、今まで個人持ちのICレコーダーを使用しておりました。

次回よりインタビュアーが変わることもあり、日本Rubyの会様にて公式の備品としてご用意いただけると大変助かります。

お忙しいところ恐縮ですが、ご検討いただきたく、よろしくお願いいたします。

[2013-06-06 04:15] kakutani commented on #118
機種を選定してください!!  集音マイクとレコーダー、って感じでしょうか?

[2013-06-07 05:20] kakutani commented on #118
(ちなみに「次回より」ってことはもう @ko1 はインタビュワーをやんないってことなんでしょうか? 次回だけじゃなく??)

[2013-06-07 05:25] ko1 commented on #118
はい、卜部君にバトンタッチ。
ちなみに、私が使っていたのは
 OLYMPUS Voice-Trek DS-50
 http://www.amazon.co.jp/dp/B000KJTP52
でした。

[2013-06-07 05:29] kakutani commented on #118
(ささださんがささださんにインタビューするという最終回の構想が……)

[2013-06-09 08:23] gunjisatoshi commented on #118
DS-50の後継だとDS-850とかになるんですかねえ。まあ、オリンパスじゃなくてもいいんですけど。
実際に使う方 ( @shyouhei さん) の意見も聞いてみたいところです。

[2013-06-10 08:00] shyouhei commented on #118
む、適当に買っちゃったけど。

[2013-06-10 08:16] gunjisatoshi commented on #118
すでに購入されているなら了解です！
(クローズして良いでしょうか)

[2013-06-13 00:54] kakutani opened #119 "rubykaigi.orgで使ってるLinodeの精算(2013年ぶん)"
この先1年ぶんの支払いがきてしまった……。

いまとなってはlinodeである必要もないので、こんかいで最後にしたいと思います。
herokuで無料の範囲でけっこうやれてしまうので、移していくようにします。
DNSだけ、別途サービスを契約する必要がある(zerigoでいいのかなー)

32,115JPY.

[2013-06-13 05:16] takahashim commented on #119
了解です―。振り込めシートの方に記載しといていただければ！

[2013-06-13 05:32] kakutani commented on #119
後ほどやっておきます！

[2013-06-19 09:55] takahashim commented on #98
いずみ会計事務所の人と打ち合わせてきました。こちらでは記帳済みであれば決算書作成は10万円内でやってもらえそう、とのことです。
あと、カンファレンスやセミナーとかなら営利事業にはならない（法人税の対象にはならない）けど、カンファレンスの入場料収入やスポンサーからの協賛金の合計が1000万円超えると翌々年度から消費税の納税義務が発生する（！）、とのことでした。ううむ。

[2013-06-19 10:04] kakutani commented on #98
うおおこれは海外の人からは消費税を取らない対応とかそーゆうにが必要になったりするのでしょうか……。

[2013-06-19 11:02] takahashim commented on #98
そんな感じですかね…

[2013-06-19 11:16] xibbar commented on #98
受け取った消費税から払った分の消費税を除外して支払うので、
利益がいっぱい出てたり、人件費をどっさり払っていたりしない限りは
本則課税で申告してもそんなに大きな金額にならないと思いますよ。

海外の人から消費税を取らない対応って出来るんですか？
ただの値引きと指摘されて、残りに課税されてオシマイな気がする。

[2013-06-19 11:22] takahashim commented on #98
あーでも国際取引ではなく、国内でのカンファレンス等の開催＝国内での役務の提供と考えるとふつうに消費税が課税される取引になりそうです。

[2013-06-26 00:27] kakutani opened #120 "ruby-no-kai.orgのドメイン更新"
急ぎじゃないけど忘れないようにしないと。
毎年の更新は面倒なので、n年でやれるといいなあ。3年とか5年とか。

[2013-06-26 02:33] takahashim commented on #120
では5年くらいにしてみましょうか。

[2013-06-29 11:40] shyouhei commented on #118
次の理事会でcloseしたいです!

(っていつになるのか)

[2013-06-29 11:41] shyouhei commented on #52
むむむ、こぼれてしまった…

[2013-07-02 09:12] hsbt commented on #115
【再開のお知らせ】

[2013-07-03 07:30] mayuco commented on #117
(いつでも名刺をおつくりできます！)

[2013-07-03 08:04] kakutani commented on #52
だいぶ突発的にではありますが、github drinkupが終わったあとに名古屋と関西と横浜と福岡の人たちと2時間ぐらい立ち話をしました。RubyKaigiもrebootしちゃったし、一旦閉じてしまってよいと思います。

[2013-07-03 08:04] #52 closed, assigned to kakutani

[2013-07-08 23:33] kakutani opened #121 "とちぎRuby会議05で酒匂さんの交通費補助の精算"

[2013-07-17 04:35] snoozer05 commented on #117
えっと、島田、角谷の分の名刺を増やすのと、
卜部さんの名刺を作るというので良いですかね。

@kakutani メールアドレスはもう準備できてるんでしたっけ？

[2013-07-17 05:06] kakutani commented on #117
メールアドレスを作るだけ作ってみたつもり( @shyouhei にメールした)

[2013-07-17 05:11] snoozer05 commented on #117
おお、では仕掛かれるわけですね。
英語表記は
`auditor Shyouhei Urabe`
で大丈夫でしょうか。

[2013-07-17 11:26] kakutani commented on #108
早川さん立替ぶんをやる!

[2013-07-17 11:32] kakutani commented on #120
3年ぶんで高橋さんが払ってくれた

[2013-07-17 11:32] #120 closed, assigned to nobody

[2013-07-17 11:32] kakutani commented on #118
済んでるはず!

[2013-07-17 11:32] #118 closed, assigned to nobody

[2013-07-17 11:33] kakutani commented on #115
ドメインを日本Rubyの会に移管しましょう!

[2013-07-17 11:36] #113 closed, assigned to takahashim

[2013-07-17 11:39] kakutani commented on #111
新生 w.r.o にPRして頑張る流れ……なのかな……。

[2013-07-17 11:40] kakutani opened #122 "クレジットカードがあるとべんり"

[2013-07-17 11:41] kakutani commented on #112
@takahashim ping.

[2013-07-17 11:43] kakutani commented on #97
さしあたってはこれで良さそう。

[2013-07-17 11:48] kakutani commented on #16
8/8に札幌で話をする。

[2013-07-17 11:49] gunjisatoshi commented on #118
ありがとうございました！
（さて、テープ起こさないと‥‥）

[2013-07-17 11:49] kakutani commented on #101
RubyKaigi 2013のふりかえりのときに、高橋さんにレシートをわたした!!!

[2013-07-17 11:49] #101 closed, assigned to kakutani

[2013-07-17 11:50] kakutani commented on #46
やらないといけないのだった……。

[2013-07-17 11:59] kakutani commented on #71
RubyConf 2013の季節になってしまった!

[2013-07-17 12:02] kakutani commented on #99
もうちょっと活用したほうがいいな、と思います(なんか他人事っぽいけど……)。

[2013-07-17 12:03] kakutani opened #123 "2012年度の活動レポートを書く"
2011年度もやってた。

[2013-07-17 12:04] kakutani commented on #74
挑戦しようとして、ぼくの権限だと無理だったので、 @takahashim おねがいします!

[2013-07-17 12:06] kakutani commented on #76
お金を払えばドングルは増やせるらしい。

[2013-07-17 12:07] kakutani commented on #57
終わらせたい……。

[2013-07-17 12:07] #57 closed, assigned to takahashim

[2013-07-17 12:08] kakutani commented on #42
2013のとまとめて払う :<

[2013-07-17 12:08] #20 closed, assigned to kakutani

[2013-07-17 12:10] kakutani commented on #49
qwikのログをサルベージすればいいということがわかっている。

[2013-07-17 12:21] xibbar commented on #76
今ってUSBトークンなんですか。口座を持って10年以上経つのですが、
私のトークンはUSBじゃないなぁ。

[2013-07-17 12:25] xibbar commented on #76
やっぱりUSBじゃないですよね。
https://www.japannetbank.co.jp/card/index.html
些細なことでしたが。

[2013-07-17 12:27] xibbar commented on #76
http://www.japannetbank.co.jp/token/tokens/
を見ると1050円で追加できますね。

だいたいネット銀行で法人口座といったら
ジャパンネット銀行か楽天銀行になりますね。

[2013-07-17 12:29] kakutani opened #124 "Ruby Prize 2013 の一般推薦やってるよのお知らせをRubyの会のMLに出す"
http://rubyprize.doorkeeper.jp/events/3943 の宣伝をする!

2013/07/12 (金) 16:00 - 2013/08/04 (日) 17:00

までなので、それまでにお願いします! > @takahashim

[2013-07-17 12:30] hsbt commented on #111
upcoming events みたいなコンテンツですかね...

[2013-07-17 12:34] hsbt commented on #111
pragprog magazine にあるようなのを常設したいのだわ～

[2013-07-17 12:37] kakutani opened #125 "RubyConf2013参加支援企画をやる"
参考: RubyConf2012参加支援企画

https://github.com/ruby-no-kai/official/wiki/RubyConf2012SupportProgram
- [x] 開催趣意書の2013年版
- [x] 応募フォーム開設
- [x] ruby-listと日本Rubyの会MLにアナウンス
- [x] 支援対象者を决める
- [x] 精算 ( @authornari )
- [x] 精算 ( @hsbt )
- [x] 精算 ( @shyouhei )

[2013-07-17 12:38] kakutani commented on #125
去年3人だったから、とりあえず3人ぶんチケットを買っとくか〜。
ホテルと飛行機はまだ。

[2013-07-17 13:24] snoozer05 opened #126 "2012年度社員総会議案書作成"
以下を準備する:
- [ ] 議案書表紙
- [ ] 2012年度活動報告
- [ ] 2012年度決算報告書
- [ ] 2013年度活動計画
- [ ] 2013年度予算
- [ ] 委任状 #不要？？

[2013-07-17 17:02] shyouhei commented on #125
チケット買いまーす

[2013-07-17 17:11] shyouhei commented on #125
https://www.dropbox.com/s/sq9xnye5sl32p6l/tito-rubyconf-2013-381T-receipt.pdf

買いました！

[2013-07-17 17:21] kakutani commented on #125
うぉっ。ありがとうございます。今日のミーティングでは昨年と同じような流れでアナウンスをして募集するのがいいかなあ、という話をしておりました!

[2013-07-17 22:56] shyouhei commented on #125
はい。よいとおもいます。

[2013-07-18 04:49] takahashim commented on #126
表紙はなくてもいいかも？（NPO法人のFSIJの総会資料にもなかったので）

[2013-07-23 10:33] takahashim commented on #112
とりあえず作ってみました〜
rubynokai-22

[2013-07-23 10:35] #112 closed, assigned to takahashim

[2013-07-24 02:51] mayuco commented on #117
卜部さんの名刺データを作成してみました。
いかがでしょうか？

![urabe](https://f.cloud.github.com/assets/52765/846328/c1e3c3ee-f40b-11e2-937a-593e9457d9ab.jpg)

[2013-07-25 00:23] kakutani commented on #125
応募フォームを用意したいと思ったのですが、昨年のフォームって @shyouhei が作成してくれたんでしたっけ……。
フォームが閉じられちゃってたので、どういう情報を集めればいいのかわからなくなっていたのでした。

[2013-07-27 02:42] snoozer05 opened #127 "RailsGirlsのステッカーの代金のお振込み"
先ほどメールした件です！
よろしくおねがいいたします。

[2013-07-29 05:39] snoozer05 commented on #117
角谷さんからOKもらったので発注します！

[2013-07-29 15:12] takahashim commented on #127
こちら本日（7/29）支払いました！

[2013-07-29 23:47] snoozer05 commented on #127
ありがとうございます！

[2013-07-31 05:05] snoozer05 opened #128 "RailsGirls Sapporo 分のお小遣い帳を作成する"
わすれないように

[2013-08-05 04:50] shyouhei commented on #125
ちなみにまったくおぼえてません

[2013-08-05 04:53] shyouhei commented on #125
発掘したのでシェアしときました

[2013-08-09 23:33] hsbt commented on #125
:eyes: 見ています

[2013-08-11 14:51] #128 closed, assigned to snoozer05

[2013-08-11 14:51] #127 closed, assigned to takahashim

[2013-08-13 09:38] #124 closed, assigned to takahashim

[2013-08-13 09:40] kakutani opened #129 "RailsGirls Sapporo 1stで必要な立替の精算"
- [x] kuppiが諸々立て替えてくれたぶん
- [x] 粋ラボに発注したお弁当の請求
- [x] kakutaniが現地で精算した、@equal_001 の旅費交通費
- [x] kakutaniの交通宿泊費

振込先は、ruby-no-kai のgoogle appのspreadsheet、振り込めシートに書きました。

振り込めシートの状況が最新の状況を反映していない気がするので、あとでチェックしないといけない……。

[2013-08-13 11:33] kakutani commented on #125
wikiページをつくりました!! https://github.com/ruby-no-kai/official/wiki/Rubyconf2013supportprogram

[2013-08-14 01:21] snoozer05 commented on #129
@takahashim えにしテックからのスポンサー料⾦を振り込みましたので、ご確認ください :moneybag:

[2013-08-14 02:22] shyouhei commented on #125
よいのでは！ :+1:

[2013-08-14 05:35] kakutani opened #130 "岡山Ruby会議02の精算"
講師の交通旅費の支援について、山口さんへの立替ぶんを支払う。
- [x] 振り込めシートに記入
- [x] 入金
- [x] 領収書の原本を郵送してもらう

[2013-08-14 05:56] kakutani commented on #125
アナウンスしました!

[2013-08-16 06:13] takahashim opened #131 "rubykaigi.orgのドメイン更新"
こちらも3年くらい？

[2013-08-16 08:29] kakutani commented on #131
あと3年ぐらいはやれると思います！

[2013-08-26 06:01] snoozer05 commented on #117
@takahashim 請求書をつけて名刺をお送りしましたが、届いておりますでしょうか...!! 今月中にお振り込みをいただけると助かります！

[2013-08-26 07:32] takahashim commented on #117
すみません、こちら届いてました！
振り込みの方は今週中に何とかします…

[2013-08-26 07:36] kakutani opened #132 "関西Ruby会議05の費用の仮払,請求など"
スポンサーを数社集めたということを関西05チームから聞いてます。請求業は日本Rubyの会でやりましょうか、という話をしました。

で、さまざまな費用について、実行委員の松本さんが当日立て替えたいそうなので、仮払をしてほしいそうです。
- [x] 松本さんの振込先と必要な金額をゲットする( @kakutani, いま聞いてます)
- [x] 高橋さんから松本さんの口座に振り込んでもらう
- [x] スポンサーに請求書を作成して送付する( @kakutani )
- [x] 入金確認 ( @takahashim )

会期が今週末なので、ちょいと急ぎにはなってしまうのですが、
それは先方も承知していると思うので、対応よろしくお願いします!!

[2013-08-26 10:32] takahashim commented on #132
木曜日中くらいに振り込めればギリギリセーフ、というところでしょうか？

[2013-08-27 07:12] ko1 opened #133 "CRuby開発会議（2013/8/31）の飲み物・お菓子代"
CRuby開発会議（2013/8/31）に出すお茶、お菓子代について
援助をお願い出来ないでしょうか。
１０人前後の参加で、おそらく、３～４０００円くらいじゃないかと思います。
http://cruby.doorkeeper.jp/events/5117

[2013-08-27 07:15] kakutani commented on #133
はいよころんで〜。領収証的なものをお忘れなきよう、よろしくお願いいたします。

[2013-08-27 07:15] takahashim commented on #117
こちら振り込みました！
ところで @shyouhei さんにはいつ頃渡せそうですかね…

[2013-08-27 07:34] ko1 commented on #133
ありがとうございます。了解です。

[2013-08-27 10:07] kakutani commented on #108
@takahashim 早川さんの立替ぶんを振り込めシートに記入しました

[2013-08-27 10:15] kakutani commented on #130
@yamagutch さんの振込情報を振り込めシートに記入しました!

[2013-08-27 11:10] kakutani opened #134 "RubyKaigi 2013のissueを0にする"
"10 open" (8-27-2013)

[2013-08-28 11:47] kakutani commented on #134
"8 open" (2013-08-28)

[2013-08-28 11:47] takahashim commented on #126
そろそろ本気出します…

[2013-08-28 11:51] kakutani commented on #117
卜部さんに渡せれば done...

[2013-08-28 11:56] kakutani commented on #42
2013のとまとめて払うから、こちらは閉じます。

[2013-08-28 11:56] #42 closed, assigned to kakutani

[2013-08-28 11:57] kakutani commented on #123
#126 と同じタイミングでやる感じ。

[2013-08-28 11:58] kakutani commented on #46
dup #49

[2013-08-28 11:58] #46 closed, assigned to kakutani

[2013-08-28 11:59] kakutani commented on #97
wikiのどっかに転記したらcloseとする。

[2013-08-28 11:59] kakutani commented on #122
github代などの精算をしなくてよくなるからべんりなので1枚ほしい……。

[2013-08-28 12:00] kakutani commented on #115
移管はどうすすめていけば良いんでしたっけ……。

[2013-08-28 12:01] kakutani commented on #119
振り込めシートに書きました!!

[2013-08-28 12:01] #116 closed, assigned to kakutani

[2013-08-28 12:02] kakutani commented on #92
入金確認まち :)

[2013-08-28 12:02] takahashim commented on #131
3年分更新しました！

[2013-08-28 12:02] #131 closed, assigned to nobody

[2013-08-28 12:04] takahashim commented on #98
こちらお願いしました！

[2013-08-28 12:04] #98 closed, assigned to takahashim

[2013-08-28 12:09] hsbt commented on #115
移管先は何処になりますか?

[2013-08-28 12:21] kakutani commented on #125
"Refunds are possible until October 11th. " なので、そこまでには决めないといけない!!
http://rubyconf.org/registration

[2013-08-28 15:19] hayabusa333 opened #135 "RubyKaja2013 ノベルティ代金"
お疲れ様です。RubyKaja2013にてノベルティに使用した金額を共有させていただきます。

RubyKaja2013にて作成したノベルティの代金

ノベルティステッカー：200枚 6,934円
Kaja用ステッカー：20枚 2,418円
Kaja用扇子：20本 54,600円

合計金額：63,952円

扇子は現在、注文中にて領収書がまだ届いておりませんので、届きましたら再び連絡いたします。

[2013-08-30 06:24] kakutani commented on #132
@takahasim これってもしかしてやり忘れました？ /cc @urimaro

[2013-08-30 06:39] takahashim commented on #132
う、すみません、振り込んでません…
というか口座の情報ってどこでしたっけ？

[2013-08-30 06:42] takahashim commented on #130
こちらは領収書が届きました！

[2013-08-30 06:44] urimaro commented on #132
アウト！
ですね。 :grin:
急ぎでなくて結構です。
口座の情報は @kakutani に確認をお願いします。
＜26日にメールで回答しています

[2013-08-30 07:20] kakutani commented on #132
現金もってこうかと思いましたが、それは不要？ > @urimaro

振込先は振り込めシートに書いたつもり！ @takahashim

[2013-08-30 07:27] urimaro commented on #132
＞ @kakutani
不要です。
現金だと僕が混乱しそうなので。

[2013-08-30 07:28] kakutani commented on #132
@urimaro り。じゃ @takahashim からの振込まちということで、よろしくお願いします。

[2013-08-30 07:36] urimaro commented on #132
@kakutani 承知しました。
@takahashim よろしくお願いします。

[2013-08-30 09:50] takahashim commented on #132
振り込めシート確認したらありました。申し訳ないです…。
週明け早々に振り込んでおきます

[2013-09-02 02:28] snoozer05 commented on #117
入金確認しましたー :moneybag:

[2013-09-03 01:52] ko1 commented on #133
お菓子代、1,240 円となりました。
７月分と併せて、今度よろしくお願いいたします。

[2013-09-04 13:10] shyouhei commented on #125
決めましょう。

次回理事会には参加させていただきます

[2013-09-06 18:50] kakutani commented on #132
スポンサーへの請求はかくたにがやります!!(まだやってない…)

[2013-09-10 03:50] urimaro commented on #132
振り込まれていることを確認しました。
ありがとうございました！

[2013-09-10 05:53] kakutani commented on #132
4団体に向けて請求書PDFを送付しました〜

[2013-09-10 08:43] urimaro commented on #132
松本です。

本日、振り込まれていることを確認しました。
ありがとうございました。

[2013-09-11 11:20] shyouhei commented on #117
受けとりました :+1:

[2013-09-11 11:20] #117 closed, assigned to nobody

[2013-09-11 12:35] shyouhei commented on #61
現況確認しましょー。

[2013-09-11 12:39] kakutani commented on #115
うおお。返信を忘れてました。歴史的な経緯でRubyの会のドメインはvalue-domainで管理しております〜(というので回答になってますか??)

[2013-09-11 12:42] kakutani commented on #92
入金確認DONE!!!!!1

[2013-09-11 12:42] #92 closed, assigned to takahashim

[2013-09-11 12:44] kakutani commented on #49
やらないといけないのだった……

[2013-09-11 12:47] kakutani commented on #134
"7 open" (2013-09-11)

[2013-09-11 12:58] kakutani commented on #129
あとは母のぶんだけ!

[2013-09-11 13:04] kakutani commented on #27
[ruby/www.ruby-lang.org#94](https://github.com/ruby/www.ruby-lang.org/issues/94) とか [ruby/www.ruby-lang.org#234](https://github.com/ruby/www.ruby-lang.org/issues/234) にissueがあるので、あっちでやるのが筋な気がする!

[2013-09-17 15:39] shyouhei commented on #125
当落を発表しましょう(もう決めたので)!

@kakutani 連絡先をいただけるとこちらで連絡します、ご連絡していただいてもOKです。

[2013-09-17 20:07] hsbt commented on #115
ムームードメイン(自動継続払いがあるので便利!)を使っているので、value-domain に持って行くにはどうすれば〜というところをちょっと調べます。

[2013-09-24 10:59] shyouhei commented on #125
遅くなりましたが当落通知を発射しました！

[2013-09-24 11:09] shyouhei commented on #125
@kakutani 個人宛にはメールしましたが、採択者の氏名って公開するんでしたっけ?

[2013-09-30 03:57] kakutani opened #136 "RailsGirls Tokyo 3rd のステッカー代金の振込"
振り込めシートに詳細を記入しました! 入金後制作なのでよろしくお願いします! > @takahashim

[2013-09-30 03:58] kakutani commented on #136
メモ: @yucato が発注した。

[2013-10-01 05:41] takahashim commented on #136
こちら振り込みました！

[2013-10-01 05:45] kakutani commented on #136
@yucato 先方から連絡あれば閉じてください!

[2013-10-01 06:37] kakutani commented on #136
入金確認されたみたいなので閉じます。

[2013-10-01 06:37] #136 closed, assigned to takahashim

[2013-10-02 12:47] shyouhei commented on #125
進行中です

[2013-10-18 04:48] kakutani opened #137 "RailsGirls Tokyo 3rd の支払・請求・立替"
請求書が届いたりするので、起票しておきます。
- [x] 惣助弁当の請求書に対する支払 ( @takahashim )
- [x] パーティの代金の請求書が副島シェフから届くので支払ってもらう ( @takahashim)
- [x] @yakitorii のTシャツ立替ぶんを精算 (@kakutani, 振込先を確認する)
- [x] @publichtml のカクヤス代の立替精算
- [x] ステッカーの領収書を @takahashim にわたす → hsbtとやる
- [x] 他、@kakutani が立替たぶんの領収書を @takahashim にわたす → hsbtとやる
- [x] スポンサー向け請求書の発行( @kakutani )
- [x] スポンサーの入金確認( @takahashim )
- [x] hsbtと精算する( @kakutani)

[2013-10-22 00:17] kakutani commented on #137
- 惣助の弁当代の振込は、支払期限が10/26(土)なのでメールで @takahashim に振込依頼した。
- 鳥井ちゃんは振込先口座の返信まち。

[2013-10-22 12:01] kakutani commented on #137
railsgirls-jp/tokyo-team#77 を済ませました。

[2013-11-28 12:50] shyouhei commented on #119
清算終わってたら閉じましょうー

[2013-12-05 13:05] kakutani opened #138 "12/5(木) Ruby開発者会議の軽食の精算"
/cc @ko1
- [ ] 領収書をもらう
- [ ] ko1さんの口座に振り込む || 現金を渡す?

[2014-01-15 11:55] shyouhei commented on #125
あと清算だけ

[2014-01-15 12:01] shyouhei commented on #122
github代に関しては解決したので取り急ぎは大丈夫か

[2014-02-04 12:29] snoozer05 commented on #138
領収証は貰いましたか？

[2014-02-04 12:29] snoozer05 commented on #119
終わりました？

[2014-02-04 12:29] snoozer05 commented on #137
まだっぽい

[2014-02-04 12:30] snoozer05 commented on #132
@takahashim 入金確認どんな感じでしょうか

[2014-02-04 12:33] snoozer05 commented on #130
入金も済んでるようなので、閉じますー。

[2014-02-04 12:33] #130 closed, assigned to takahashim

[2014-02-04 12:33] snoozer05 commented on #135
@hayabusa333 これってその後どうなっておりますでしょうか......!!

[2014-02-04 12:34] #108 closed, assigned to takahashim

[2014-02-04 12:35] snoozer05 commented on #121
向こうから精算の依頼が来ていなくて止まっているらしい

[2014-02-04 12:35] snoozer05 commented on #126
@takahashim ど、どうなってますでしょうか......!!

[2014-02-04 12:38] kakutani commented on #119
終わってました!!1

[2014-02-04 12:38] #119 closed, assigned to nobody

[2014-02-04 12:39] kakutani commented on #132
振り込めシート的には終わっているように見えます(なので、閉じます。払われてないよ!ということであれば、reopenしてください > @urimaro )

[2014-02-04 12:40] kakutani commented on #132
うっ。確認しないといけないのは、スポンサー企業さまからの入金確認でした(と、いうわけでreopenします)。確認おねがいします > @takahashim

[2014-02-04 12:46] kakutani commented on #121
おくればせながらで恐縮ですが、実行委員長係の方にメールで状況確認をおねがいしました。

[2014-02-04 13:03] kakutani commented on #137
(まだです…)

[2014-02-04 20:02] hayabusa333 commented on #135
日本Rubyの会様
お疲れ様です。橘田です。

RubyKajaノベルティの代金をお伝えするのが遅くなり申し訳ありません。

一般用ステッカーノベルティ
200枚 = 6,934円
Kaja用ステッカー
20枚 = 2,418円
Kaja用扇子
20本 = 55,650円

合計 65,002円

以上となります。

振込み先と証明書に関しましては本日の夜までに  info@ruby-no-kai.org にお送りいたします。
振込み先をお伝えする場所が別の場所が良いようでしたらお伝えいただければ、そちらに連絡いたします。

以上です、宜しくお願いいたします。

[2014-02-05 14:32] kakutani commented on #135
メールがきました!

[2014-02-06 01:17] urimaro commented on #132
あ、コメントが文字化けしてたんですね…

たぶん、わかっていらっしゃると思いますが、僕のことに限って言えばcloseしてます。> @kakutani

[2014-02-06 02:18] kakutani commented on #132
@urimaro ありがとうございます。私の勘違いでしたっ。

[2014-02-13 13:29] kakutani opened #139 "RailsGirls Nagoyaのステッカー代金の振り込み"
詳細はメールしますので、振り込みをおねがいします!! > @takahashim

[2014-02-14 05:17] takahashim commented on #139
こちら振り込みました！

[2014-02-14 05:47] kakutani commented on #139
ありがとうございます！

[2014-02-14 14:44] #139 closed, assigned to takahashim

[2014-03-14 10:23] kakutani commented on #121
とちぎ05については、済んじゃったみたい(池澤さん談@沖縄)

[2014-03-14 10:23] #121 closed, assigned to nobody

[2014-03-14 10:24] takahashim commented on #126
こちら押印し終わってない議事録が発掘できたので島田さんにお送りします… :bow:

[2014-03-14 10:24] kakutani opened #140 "るびま用のSqaleの支払い"
3月中に払わないと、るびまが止まる!!1

[2014-03-14 10:26] hsbt commented on #140
ふわっ

[2014-03-14 10:26] kakutani commented on #122
gihtub代が年額で払えるようになったので、とりあえず困らない!

[2014-03-14 10:26] #122 closed, assigned to takahashim

[2014-03-14 10:42] shyouhei commented on #125
引き続きあと清算だけ

[2014-03-14 10:43] shyouhei commented on #129
おわったとのこと！

[2014-03-14 10:43] #129 closed, assigned to takahashim

[2014-03-14 10:46] kakutani opened #141 "RailsGirls Nagoyaのスポンサー請求業務"
- [x] @kakutani が請求書を送る
  (つづく)

[2014-03-14 10:48] kakutani opened #142 "沖縄Ruby会議01の精算"
- [x] スポンサーに請求書を送る(@kakutani)
- [x] masuidriveの旅費精算
- [x] matzの旅費精算
- [x] kakutaniの旅費精算
- [x] yasulabに入金

[2014-03-14 10:55] shyouhei commented on #133
はや半年

@ko1 これって領収書とか渡してあるかんじでしょうか?

[2014-03-14 10:56] shyouhei commented on #138
領収書まち

[2014-03-14 10:58] kakutani commented on #135
振り込めシートをupdateして、振り込んでもらう!

[2014-03-14 22:45] gunjisatoshi commented on #140
https://github.com/rubima/rubima/issues/263 の件ですね。

すみませんがよろしくお願いします！！１

[2014-03-18 05:03] takahashim commented on #140
振り込みました！

[2014-05-08 02:36] snoozer05 commented on #140
振り込んだとのことなので、閉じちゃいますね...!!

[2014-05-08 02:36] #140 closed, assigned to takahashim

[2014-05-08 02:37] snoozer05 commented on #135
@kakutani ping。これってどんな状況でしょうか

[2014-05-08 02:38] snoozer05 commented on #142
@kakutani もろもろどんな状況でしょう...!! (スポンサーの請求書に関しては、請求先と請求額をいただければ、ぼくの方でも作業します）

[2014-05-08 02:39] snoozer05 commented on #141
@kakutani ping

[2014-05-08 02:39] snoozer05 commented on #126
@takahashim ping。2012年の話できょうしゅくですが...!!

[2014-05-08 02:39] snoozer05 commented on #125
@shyouhei ping。どんな状況でしょうか

[2014-05-08 02:40] snoozer05 commented on #132
@takahashim 入金確認いかがでしょうか

[2014-05-08 02:41] snoozer05 commented on #137
@kakutani @takahashim ping。それぞれの状況いかがでしょうか

[2014-05-08 02:41] snoozer05 commented on #61
これはどうしたら閉じれるんでしたっけ？

[2014-05-08 02:42] snoozer05 commented on #133
@ko1 ping。領収証の件、いかがでしょうか...!!

[2014-05-08 02:43] snoozer05 commented on #138
@shyouhei  領収証の件ってどんな感じなのでしょう...

[2014-05-08 02:45] snoozer05 commented on #134
"2 open" (2014-05-08)

[2014-05-09 02:40] takahashim opened #143 "rubykaigi.infoのドメイン更新手続き"
VALUE-DOMAINの方から更新の案内が来ています。
現状 tokyo10.rubykaigi.info で使ってるので延長する方針で。

[2014-05-09 09:54] shyouhei commented on #125
えっ、清算待ちです。振り込まれるのを待ってる。

[2014-05-09 09:55] shyouhei commented on #138
@ko1 こちらも領収書お待ちしております。

[2014-05-09 10:45] hsbt opened #144 "RailsGirls Osaka の会計処理"
@kakutani hi

https://github.com/railsgirls-jp/osaka-team/issues にある issue の中で Ruby の会が窓口となって請求書や見積書を発行して欲しいというオーダーを頂戴していますが対応可能でしょうか?(実は既に依頼が行っている?)

/cc @snoozer05 @springaki

[2014-05-09 14:09] snoozer05 commented on #144
@hsbt しまだが代わりに対応しますね。
@springaki https://github.com/railsgirls-jp/osaka-team/issues/15 のことですよね。対応します。お手数をおかけして恐縮ですが、角谷さんに送ったのと同じメールを info@ruby-no-kai.org 宛にも送っていただけますでしょうか？

[2014-05-10 05:07] springaki commented on #144
@hsbt @snoozer05 ありがとうございます !!
了解です。メール転送させていただきました。よろしくお願いします。

[2014-05-10 07:20] snoozer05 commented on #144
@springaki ありがとうございます！
返信しましたので、ご確認下さい！

[2014-05-10 08:03] takahashim commented on #143
対応しましたー。

[2014-05-10 08:04] #143 closed, assigned to nobody

[2014-05-10 08:04] snoozer05 commented on #143
ありがとうございます！

[2014-05-10 08:42] springaki commented on #144
確認しました。 対応ありがとうございます!

[2014-05-11 13:16] sunaot opened #145 "るびまの読者プレゼント発送をしたい (yhara さんご提供分)"
rubima/rubima#261 のほうから出張してきました。Cc @yhara さん

るびまの読者プレゼントの提供者が今回個人なので、日本 Ruby の会で実費を負担してもらえるとうれしいなという相談です。

おおざっぱに以下の流れになりそうなんですが、誰がどうすると諸々スムーズにいくのかなというところを相談して決めさせてください。

* るびまでの当選発表 <sunaot>
* yhara さんから本の受取
* 当選者 (抽選済) へ連絡して、発送先住所の確認＆発送
* 諸費用の実費を日本 Ruby の会に精算してもらう

[2014-05-12 02:34] takahashim commented on #145
Rubyの会の方から来ました。最後に発送者（？）宛に実費を振込か手渡し、という感じでしょうか。

[2014-05-12 03:28] sunaot commented on #145
反応ありがとうございます。選択肢としてはこんなところですかね。
- 偶然、松江で発送者にたてるるびま編集者 or 日本 Ruby の会の人がいるので、やってもらう
- sunaot 宛に yhara さんから着払で本を送付いただいて、私が発送などなどする

[2014-05-13 16:42] takahashim opened #146 "松江Ruby会議05の精算"
振込口座情報と領収書PDFは受け取りました（原本は後ほど郵送）。

[2014-05-13 17:10] takahashim commented on #137
misocaで請求しているものについては全て入金確認いたしました！

[2014-05-13 17:11] takahashim commented on #132
確認できました！！１
というわけで閉じれるはず。

[2014-05-13 17:14] takahashim commented on #142
misocaに入力済みだけど未請求ステータスになっているWebPay分については入金されているようです…（ステータスが間違いで本当は請求済み？）

[2014-05-13 17:23] takahashim commented on #141
misocaで請求済みのものに関しては入金確認できました！（全部かどうかは不明ですが）

[2014-05-13 17:48] takahashim commented on #125
@shyouhei すみません、卜部さんのって円建てでいくら払えばよいんでしょうか…？

[2014-05-14 02:08] shyouhei commented on #125
領収書は https://github.com/ruby-no-kai/official/issues/125#issuecomment-21128384 なのですが実際カードで引き落とされた金額もう覚えてない(一年も前なのでカード明細が残ってない)ので計算で求めると、
http://www.murc-kawasesouba.jp/fx/past_3month_result.php?y=2013&m=7&d=12&c=270955
を見ると当日のJPY→USD相場は98円だったぽいので 1050.00 \* 98.07 = 102973.5 という計算なので

結論でいうと 102,973 円でお願いします。

[2014-05-14 08:57] takahashim commented on #125
計算ありがとうございます！　その金額で振り込みました :yen:

[2014-05-14 13:10] springaki commented on #141
名古屋での請求先としては
- エイチーム様
- heroku様
- スタンドファーム様
- オージス総研様
- IIJ様

で全てのようです。名古屋のオーガナイザーに確認しました。
ご参考まで。

[2014-05-14 13:25] snoozer05 commented on #141
ありがとうございます！なら全部入金されてそう！
なので、このissueは閉じます :-)

[2014-05-14 13:25] #141 closed, assigned to kakutani

[2014-05-14 13:27] snoozer05 commented on #142
@takahashim むむ。送ってなくても向こうの手続き的に振り込んだ、みたいな感じですかねえ。
matzやmasuidriveさんの旅費精算とかyasulabさんへの入金はどうしましょうか...

[2014-05-14 13:28] snoozer05 commented on #125
ではこのissueは閉じます！
なにか不都合があれば再度開いてください！

[2014-05-14 13:28] #125 closed, assigned to takahashim

[2014-05-14 13:29] snoozer05 commented on #132
閉じます！何かあればまた開きましょう

[2014-05-14 13:29] #132 closed, assigned to takahashim

[2014-05-14 13:29] snoozer05 commented on #146
@takahashim 処理で何が必要かわかってませんが、お願いしてしまってもよいでしょうか... :bow:

[2014-05-14 13:33] snoozer05 commented on #145
@sunaot 関係者がやりやすい方でやってもらえるとよさそう...!!

[2014-05-14 13:34] snoozer05 commented on #135
@takahashim これってもう振込済みですか？

[2014-05-14 13:46] takahashim commented on #146
とりあえず領収書PDFの情報を元に振り込んでおきました！

[2014-05-14 13:47] snoozer05 commented on #146
ありがとうございます！
原本を受領したら閉じていただけますでしょうか！

[2014-05-14 13:54] takahashim commented on #135
これは振り込んでないですね…。振り込めシートを更新して今週中には振り込んでおきます

[2014-05-14 13:54] snoozer05 commented on #135
お手数をおかけします ><

[2014-05-14 17:52] takahashim commented on #142
yasulabさんに相談してみるのがいいでしょうか？

[2014-05-15 05:10] takahashim commented on #142
メールしてみました

[2014-05-15 07:10] yhara commented on #145
私はどっちでも大丈夫です。(松江にどなたかおられるなら、その人にお願いする方が楽かな？)

[2014-05-15 07:22] takahashim commented on #135
さきほど65,002円振り込みました！

[2014-05-15 09:14] snoozer05 commented on #135
ありがとうございます！
@hayabusa333 お手数をおかけしますが、入金のご確認をお願いできますでしょうか。確認いただけたらこのissueは閉じようと思います。

[2014-05-15 09:14] snoozer05 commented on #142
ありがとうございます！

[2014-05-15 17:18] takahashim commented on #142
yasulabさんからお返事をいただきました。
yasulabさんへの入金とmasuidriveさんの旅費精算は私の方で進めておきますね。

[2014-05-15 23:45] hayabusa333 commented on #135
ありがとうございます。
入金の確認ができるのが今週末になるかと思いますので、確認後再びコメントを記載しますので宜しくお願いいたします。

[2014-05-15 23:47] snoozer05 commented on #135
はい！よろしくおねがいいたします！

[2014-05-16 04:05] kakutani commented on #142
@takahashim @snoozer05 もろもろありがとうございます…。

[2014-05-16 05:53] shyouhei commented on #125
入金確認しましたー

[2014-05-16 06:53] takahashim commented on #142
yasulabさんの入金先は聞いたので振り込んでおきます。
masuidriveさんにはメールを投げて返事待ちです。

[2014-05-17 06:38] ko1 opened #147 "開発者会議のお茶菓子代(2014/4/17)"
以前の領収書処理がまだで恐縮ですが、

本日の開発者会議
https://bugs.ruby-lang.org/projects/ruby/wiki/DevelopersMeeting20140517Japan
のお茶菓子代

1,547 円

をお願い出来ますでしょうか。

[2014-05-17 10:46] shyouhei commented on #147
@ko1 領収書ください

[2014-05-18 23:17] hayabusa333 commented on #135
記載が遅くなりましたが、入金の確認を行いました。
ご対応いただきありがとうございました！

[2014-05-18 23:52] snoozer05 commented on #135
よかったです！こちらこそ、対応が遅くなってしまい申し訳ありませんでした :bow:
確認ありがとうございました！

[2014-05-18 23:52] #135 closed, assigned to kakutani

[2014-05-19 07:10] takahashim commented on #147
以前の分もまとめて確認中なのですが、
- 2013/07/23: 3,937円
- 2013/08/31: 1,240円
- 2013/12/05: 5,140円
- 2014/05/17: 1,547円 :new:

という感じで合ってますか？

あと、現金手渡しよりも振り込んだ方が確実かという気がしてきたので、メールか何かで振込先の口座を教えていただければ。

[2014-05-19 07:33] takahashim commented on #142
yasulabさんとmasuidriveさんへの振り込みは完了です。

[2014-05-19 08:08] ko1 commented on #147
すみません、1点だけ、

でした。

振込先をお伝えするのでもいいのだけれど、
領収書の取りっぱぐれが怖そうな気もします。
今度私が忘れなければ...（いつだろ）。

[2014-05-26 08:19] yhara commented on #145
@sunaot と思ったけど、やっぱり後者のほうがよいかなと思いました。発送先をyutaka.hara.gmail.comまでご連絡いただけますでしょうか。

[2014-05-27 11:48] takkanm commented on #144
@hsbt close にしてよい ?

[2014-05-27 11:56] hsbt commented on #144
@springaki 閉じてしまっても大丈夫でしょうか!

[2014-05-27 14:35] springaki commented on #144
@takkanm @hsbt 閉じて大丈夫です(私にはcloseする権限ありませんでした)。また請求書業務をお願いするときにはメールでお願いするか新規で Issue作らせてもらいます。

[2014-05-27 14:37] #144 closed, assigned to nobody

[2014-05-27 14:37] hsbt commented on #144
しゅたっ

[2014-05-27 14:45] kakutani commented on #144
@springaki 請求は別途issueを切ってもらえると助かります〜

[2014-05-27 23:56] springaki commented on #144
@kakutani 了解ですー

[2014-06-12 11:23] snoozer05 commented on #126
押印しました！
閉じれる??

[2014-06-12 11:25] snoozer05 commented on #142
matzの分はどういう感じなんでしたっけ？
このissueはもう閉じれそうな感じでしょうか。

[2014-06-12 11:26] snoozer05 commented on #146
@takahashim 原本受領してますでしょうかー

[2014-06-12 11:27] snoozer05 opened #148 "RubyKaja 2014 の状況について"
RubyKaigi 2014で表彰ならそろそろ...??

[2014-06-12 15:50] takahashim commented on #126
閉じれます！　ありがとうございました！

[2014-06-12 15:50] #126 closed, assigned to nobody

[2014-06-14 12:54] springaki opened #149 "RailsGirlsOsakaの精算をお願いします"
お世話になります。
RailsGirlsOsakaスタッフの Akiです。

皆様の協力のおかげでRailsGirlsOsakaを無事開催する事ができました。
ありがとうございます。

つきましてはRailsGirlsOsakaの精算作業をよろしくお願いします。
- [x] パートナー様へ請求書送付
- [x] パートナー様からの振込確認

[2014-06-14 12:57] springaki commented on #149
RailsGirlsOsakaパートナー様 請求先一覧へのリンクは info@ruby-no-kai.org にメールしました !!

[2014-06-14 16:21] kakutani commented on #149
はいー

[2014-06-15 04:50] snoozer05 commented on #149
@kakutani 一覧にあった企業様宛すべての請求書を作成しました。内容をチェックしていただいて問題なければ郵送手続きを進めていただけますでしょうか

[2014-06-17 03:08] gunjisatoshi commented on #145
@sunaot この件いかがでしょうか？（まずは当選者を決めるところから？）

お忙しいようでしたら本件引き取りますので状況をシェアいただければと思います！

[2014-06-17 13:09] sunaot commented on #145
@yhara わーすみません... twitter のほうも見ました。。これから発送先を送ります＆当選者の方へ連絡しておきます。

[2014-06-17 13:10] sunaot commented on #145
@gunjisatoshi ありがとうございます。すぐ対応いたします。。

[2014-06-24 00:45] snoozer05 commented on #149
@kakutani ping

[2014-06-30 00:47] springaki commented on #149
ping...

[2014-06-30 00:52] snoozer05 commented on #149
ご迷惑をおかけしています...早急に何とかしますので、今しばらくお待ちください... ><

[2014-06-30 01:54] springaki commented on #149
すみません。皆様お忙しいと思いますがよろしくお願いします ><

[2014-07-01 00:20] snoozer05 commented on #148
@tyabe ちらっ

[2014-07-01 00:23] snoozer05 commented on #149
今日明日中には送付できるかと思います... ><

[2014-07-01 02:11] springaki commented on #149
ありがとうございます !! 今日ピークワンさんからも打診が来たので、そのようにお答えしておきます
(いろいろすみませんー)

[2014-07-01 02:32] tyabe commented on #148
@snoozer05 遅くとも今月12日までには募集開始します。
また今回募集開始が遅れてしまったので、個別にお声がけしようとも考えています。

[2014-07-01 02:34] snoozer05 commented on #148
よろしくお願いします！

[2014-07-01 02:36] snoozer05 commented on #149
郵送手続きを完了しました！遅くなってしまい、誠に申し訳ありませんでした :bow:
明日明後日には請求書届くかと思います。どうぞよろしくおねがいいたします。

[2014-07-01 02:37] tyabe commented on #148
こちらこそ。
必要な情報などがあれば共有させていただきたいと思いますので、よろしくお願いします！

[2014-07-01 02:38] snoozer05 commented on #148
承知いたしました！

[2014-07-01 13:26] springaki commented on #149
こちらこそ急かしてしまってすみません。
ありがとうございます !!

[2014-07-20 18:22] ko1 commented on #147
領収書は先日まとめてお渡ししたけど、
何をどこまでお金もらってるんだっけ。

[2014-07-20 18:29] ko1 opened #150 "Ruby開発用マシン機材について"
芝浦工業大学様より、Ruby開発に利用するためのマシンを置く環境を提供して下さることになりました。そのマシンをどっかから持って来れないか探しているのですが（1台は私の私物）、
Rubyの会様から何かしら提供頂くことはできないでしょうか。

用途は、
- テスト
- デバッグ（開発者で共有して、同じ環境上でデバッグ）
- ベンチマーク
- 場所提供元の芝浦工大様の研究に利用（これは場所の利用条件です。研究といっても、本開発環境構築が研究のネタになる予定です）

マシン環境は、例えば：
- MacPro（開発者が共用できる Mac OSX 環境は優先度高い）
- 速い Intel マシン（あるだけ）
- そこそこの Intel マシン（あるだけ）

今のところ、笹田の個人プロジェクトということになる（Ruby-core team の総意などでは無い）ので、公平性などに問題があるかと思います。た

[2014-07-21 04:53] hsbt commented on #115
ほぼ1年経ってしまった...

これ、ドメインの移管はアレなので請求書を発行して費用をいただくという形式は可能でしょうか?

[2014-07-22 02:36] takahashim commented on #147
そういえば銀行口座を聞かないとと思って忘れてました…。すみません。
振込先を教えて下さいませ（私宛にメールで良いです）。

[2014-07-22 10:55] shyouhei commented on #150
まあでも個人的にはrubyの発展に寄与するというたてつけであれば支援したいなーとは思います。
- いつまでに
- なにが
- どれくらい

が決まらないと動けないのでしょうかねえ。たとえば物納が望まれているのか、金銭で良いのか。

[2014-07-22 11:24] ko1 commented on #150
できるだけはやく、

上記に書いた通り（up to you）、

上記に書いた通り（up to you）、

どちらでも（提供者の処理しやすいもの。レンタル、なども可）

かと思います。

[2014-07-22 15:57] shyouhei commented on #150
できるだけはやくとなるとRubyKaigiとキャッシュフローの相談になりますねえ。
@takahashim 今度相談させてください

[2014-07-22 17:40] hsbt commented on #150
用途として、現在 mrkn が個人で管理している chkbuild の OS X 環境をこのプロジェクト(?)で構築出来れば良いなと思っています。

[2014-07-24 09:43] shyouhei commented on #150
@ko1 たとえば、Rubyの会のメーリングリストで「余ってるMacPro持ってる人いませんか」とか（Rubyの会から）聞いてみるというのはNGな感じでしょうか。そうじゃなくて新品が良い？

[2014-07-24 09:56] ko1 commented on #150
(2014/07/24 18:43), Urabe, Shyouhei wrote:

　何の問題もありません。

（個人的には、MacPro はゴミ箱を見てみたい）

##

// SASADA Koichi at atdot dot net

[2014-07-26 05:52] ko1 commented on #147
追加で本日 2014/07/26 の開発者会議 https://bugs.ruby-lang.org/projects/ruby/wiki/DevelopersMeeting20140726Japan についても援助をお願い出来ないでしょうか。1,829 円になりました。
- [ ] 領収書を渡す
- [x] お金を受領する（1,829円）

[2014-07-28 10:46] takahashim commented on #147
7/26の件も了解です！
そしてこちらも合わせて(3937+1240+5160+1547+1829=13,713円)振り込みましたのでご確認ください。

[2014-07-30 06:04] shyouhei opened #151 "RubyConf2014渡航支援"
やりますよね。

チケット何枚か買っときます？最近はすぐには売りきれないし平気なのかな…

[2014-07-30 06:10] shyouhei commented on #151
http://rubyconf.org/registration

[2014-08-05 09:45] snoozer05 commented on #16
難しかったことを整理する

[2014-08-05 09:46] shyouhei commented on #71
RubyConf 2014の季節になってしまった!

[2014-08-05 09:48] shyouhei commented on #71
2013はぎりぎり今見えるので今のうちに残しておくべきか。

[2014-08-05 09:49] shyouhei commented on #99
今まで通りのゆるい運用でいいのかなあ。

運用はよさそうだが位置づけ…？

[2014-08-05 09:50] shyouhei commented on #99
位置づけはさておき運用はこれまでどおりということでこのチケットはおわり。

[2014-08-05 09:50] #99 closed, assigned to nobody

[2014-08-05 09:52] shyouhei commented on #74
RubyKaigiのときに！

[2014-08-05 09:56] shyouhei commented on #76
継続して作成

[2014-08-05 09:57] shyouhei commented on #111
これどうするのー

[2014-08-05 10:00] shyouhei commented on #111
このチケットの終了条件は？

[2014-08-05 10:00] snoozer05 commented on #111
rk14に関してはあとで rko に ja の記事もPRするようにします

[2014-08-05 10:01] shyouhei commented on #123
kore
owatta?

[2014-08-05 10:02] #123 closed, assigned to takahashim

[2014-08-05 10:02] shyouhei opened #152 "2013年度の活動レポートを書く"
#123 の続きというか次の年度というか

[2014-08-05 10:04] shyouhei commented on #97
まだない

[2014-08-05 10:06] takahashim commented on #97
Wikiにはこの内容＋茶菓子代（これは全額、1万円以内）を載せることにしましょう

[2014-08-05 10:08] snoozer05 opened #153 "入金確認"
@takahashim app.misoca.jp の請求書一覧で請求済みになっているものについて入金確認をお願いしたいです! 入金されているものはステータスを入金済みにしていただけますでしょうかー

[2014-08-05 10:09] shyouhei commented on #27
続きは ruby/www.ruby-lang.org#94 で！

[2014-08-05 10:09] #27 closed, assigned to takahashim

[2014-08-05 10:10] shyouhei commented on #61
これは出納が確認できたらおわり。

[2014-08-05 10:21] takahashim commented on #115
はい、それでも大丈夫です！

[2014-08-05 10:22] shyouhei commented on #147
#133

[2014-08-05 10:23] shyouhei commented on #133
続きは #147 で

[2014-08-05 10:23] #133 closed, assigned to takahashim

[2014-08-05 10:24] shyouhei commented on #134
https://github.com/ruby-no-kai/rubykaigi-orgz/issues?q=is%3Aopen+is%3Aissue+milestone%3A2013 0件では?

[2014-08-05 10:24] shyouhei commented on #134
おわり。

[2014-08-05 10:24] #134 closed, assigned to nobody

[2014-08-05 10:25] shyouhei commented on #138
続きは #147 で！

[2014-08-05 10:25] #138 closed, assigned to nobody

[2014-08-05 10:30] shyouhei commented on #137
@kakutani さんへの清算が終われば終わりぽい

[2014-08-05 10:30] shyouhei commented on #137
@kakutani 入金確認したら閉じといてください

[2014-08-05 10:33] shyouhei commented on #142
まつもとさん分に関して @yasulab さんと状況を整理する。

[2014-08-05 10:33] shyouhei commented on #142
未清算なら清算。

[2014-08-05 10:36] takahashim commented on #142
まつもとさん分については5月時点ではyasulabさんの方では特に対応されてなくって、Rubyの会側で勧めることになってました。ので、こちらからMatzに話をつける流れです

[2014-08-05 10:36] snoozer05 commented on #145
@sunaot 対応状況っていかがでしょうか。対応が終わっていたら諸費用の精算をいたします。

[2014-08-05 10:45] shyouhei commented on #148
じゃあ続きはkajaのほうで。

[2014-08-05 10:45] #148 closed, assigned to nobody

[2014-08-05 10:49] shyouhei commented on #150
とりあえずMLにはメールしてみているところ。

[2014-08-05 10:52] shyouhei commented on #150
MLの反応待ち。あればそれ。なければMacProを買う。

[2014-08-05 10:52] shyouhei commented on #150
というかんじでどうでしょうか

[2014-08-05 10:53] shyouhei commented on #147
@ko1 ご確認ください。
あとRubyの会の期末の関係で領収書はやめにいただけるとうれしい感じですが…

[2014-08-05 10:56] ko1 commented on #133
こちら、高橋さんにまとめてお渡ししているように思います。
わかりづらくてすみません。

[2014-08-05 10:56] shyouhei commented on #151
今年はCFP出してる人はチケット買えそうだしチケットは買わなくてよさそう

[2014-08-05 10:57] ko1 commented on #147
領収書いつのタイミングがいいすかね。
会社に置いてあります。

[2014-08-05 10:58] ko1 commented on #150
MacPro 以外はどうします？

[2014-08-05 11:00] takahashim opened #154 "2013年度決算"
まとめます！

[2014-08-05 11:01] takahashim opened #155 "2013年度社員総会議案書作成"
以下を準備する:

- [x] 2013年度活動報告
- [x] 2013年度決算報告書
- [x] 2014年度活動計画
- [x] 2014年度予算
- [ ] <del>委任状 #不要？？</del>(作らなかった)

[2014-08-05 16:41] sunaot commented on #145
@snoozer05 ありがとうございます。発送まで終わっております。
精算どのようにすればよろしいでしょうか？

[2014-08-05 17:04] takahashim commented on #149
昨日振り込み分までを突き合わせてみました。
こちら一件を除いてそれ以外はお振り込みいただいていたようでした。

[2014-08-06 01:59] snoozer05 commented on #149
@takahashim 確認ありがとうございます！

[2014-08-06 02:01] snoozer05 commented on #149
@takahashim いちおう最後の１件も8/5付けで振り込んでいただけるようなご連絡をいただいていたのでした。なので、週明けあたりに再度確認をおねがいいたします :bow:

[2014-08-06 02:03] snoozer05 commented on #145
@sunaot 精算額と振込先について info@ruby-no-kai.org までご連絡くださいませ！

[2014-08-06 02:06] snoozer05 commented on #146
@takahashim 5月くらいに高橋さん宛に郵送しているとのことでした >< 届いていないかどうか、改めて確認をいただけると助かります...!!

[2014-08-06 02:58] springaki commented on #149
@takahashim @snoozer05 お手数おかけしております :bow:
最後の1件は N社様だと思うのですがN社様内での支払先登録に時間が掛かっているようで、8/5 よりも入金が遅れる可能性があるようです。

[2014-08-06 12:25] shyouhei commented on #150
mac pro買うのであればごよさんが…
買わないならその分の値段で数台はいけるのでは。

[2014-08-06 18:25] ko1 commented on #150
今更だけど、告知して募集するなら、私がこれこれの理由でこういうのが欲しい、って言った方が早かったかもね。Mac pro は無いけど、ia32 のマシンなら余ってるのがあるから提供できるわ、って可能性とかもありあそう。というか、今からでも被せて聞いてみますか。

[2014-08-06 18:46] ko1 commented on #150
ちなみに、pro じゃなくて mini が新型出たら、そっちで十分かもね、と柴田さんと喋ってました。
MacPro って GPU 凄いんですなぁ（使わないけど）。

[2014-08-07 17:36] takahashim commented on #146
そういえばこちらは受け取っていないような気がしてたんですよね…（来ないなあ、と思っていた）。
私の記憶違いか間違いかもしれないので、もう一度確認してみます。

[2014-08-12 10:42] snoozer05 opened #156 "現在の RailsGirls 繰越金額を知りたい"
RailsGirls-JP Organizers 方面から質問をいただきました。
Dropboxにある分だけだと、松江までの記録しかないのですが、収支はどこをあさるといいですかねえ。
@takahashim 決算絡みで、この辺り整理されていたりしませんでしょうか...

[2014-08-12 12:13] takahashim commented on #156
Dropboxのfinancialstatements/2013/Rubynokai2013.xlsのピボットテーブルの表で出入りは分かるようになっております。

[2014-08-12 12:32] snoozer05 commented on #156
確認できました！ありがとうございました！

[2014-08-12 12:32] #156 closed, assigned to nobody

[2014-08-13 05:48] snoozer05 opened #157 "日本Rubyの会で台湾からの留学生の渡航費用精算事務をお願いしたい件"
相澤さんから以下の依頼をいただきました:

ご存知かもしれませんが、今年、RubyConf Twに参加した人たちを中心に、台湾のRuby
コミュニティーの人を日本のRubyKaigiに招待しようという企画「RubyKaigi2014 Scholar-
ship Program for RailsGIrls Taipei」を進めており、私が発起人になっています。
募集要項はこちらです。
（中国語版） http://railsgirls.tw/2014/07/28/rubykaigi-scholarship/
（英語版） https://gist.github.com/ayumin/62ebb6d4b99e2295a49c

の申込を受けました。そして本日、日本と台湾側でミーティングをおこない、3名の方を
RubyKaigiに招待することにしました。

今回招待する人たちの渡航費および宿泊費、

[2014-08-14 08:16] snoozer05 commented on #157
以下のように進行することで調整しました:
1. 協賛企業に対してRubyの会から請求書を発行
2. 協賛者さん（企業、個人）からRubyの会に入金
3. 入金されていることを確認
4. 相澤さんから立替精算明細および精算額を報告いただく（領収証や支払証明もRubyの会に送っていただく）
5. Rubyの会から相澤さんに入金

[2014-08-14 09:09] takahashim commented on #157
調整ありがとうございます！

[2014-08-18 05:10] takahashim commented on #154
会計事務所さんの方に行ってきました。
RailsGirlsの会計処理（一応別会計のつもりだけど振込口座は一緒になっている）のはやっぱり突っ込まれました。
- RailsGirlsの団体名義の別の口座を作っておいて、いったんRubyの会を通っても最終的にはそちらに貯めるようにしておくのがよい。
  - 任意団体の銀行口座を作るのは年々大変になってるみたいなので、作るなら早めに作っておいた方がよい（最近だとネットバンクの口座でもめんどくさくなってるらしい）。今だとゆうちょ銀行が一番ゆるいらしい。
- 請求書を発行する際には、口座振込先はRubyの会だとしても、請求する請求元の名義はRailsGirlsの団体名義にして、「経理担当事務局：日本Rubyの会」みたいな形にするのがおすすめ。

あといくつか処理の間違いがあったので今期で修正をします… :bow:

[2014-08-18 12:22] hsbt commented on #154
おお...

[2014-08-19 02:22] takahashim commented on #154
なんか会計操作してるんじゃ？みたいに怪しまれるそうで…（去年の決算のときにも言われた）。
ダメゼッタイ、というわけではないみたいなのですが、あまりよろしくないよう感じでした。

[2014-08-30 03:29] shyouhei opened #158 "eBay口座開設"
PayPalアカウントじゃだめなのか…

[2014-08-30 03:39] takahashim commented on #158
提出書類ですが、W-9じゃなくてW-8BENじゃないでしょうか…。
https://www.servicescape.com/help.asp?tab=p&lang=ja&con=2

[2014-08-30 05:00] shyouhei commented on #158
W8BENで済むといいですよねえ。米国内の住所がどうしても必要って言われたら無理なので…小切手送ってもらうとかかな…

@takahashim Supplier Registration Page 、だいたい埋めれそうなんですけど、Bank Dataのところがどう書けばいいか no idea です。ちょっと見ていただくことは可能そうでしょうか。

[2014-08-30 05:31] takahashim commented on #158
こんな感じですかねえ。

Bank Key: 0009677
SWIFT: SMBCJPJT
Bank Name: SUMITOMO MITSUI BANKING CORPORATION
Bank Branch: MEJIRO BRANCH
Acccount Holder Name: NIHON RUBY NO KAI
Account Number: 6888135
Address: 3-14-1 MEJIRO TOSHIMA-KU TOKYO JAPAN 171-0031

（参考）
- http://www.smbc.co.jp/kojin/otetsuduki/sonota/kaigai/hishimuke.html
- http://ja.wikipedia.org/wiki/%E6%97%A5%E6%9C%AC%E3%81%AE%E9%87%91%E8%9E%8D%E6%A9%9

[2014-09-01 11:55] shyouhei commented on #158
ぐぬー、口座種別を選べと言われる。けどそんなフィールドない…
![screen shot 2014-09-01 at 8 53 29 pm](https://cloud.githubusercontent.com/assets/15377/4107924/bbb2acea-31ce-11e4-9df8-d6bf1b0d6341.png)

入力欄があればOrdinaryまたはSavingsなのだが…

[2014-09-01 11:58] shyouhei commented on #158
これは電話しないと解決しないパターンかな...

[2014-09-01 12:25] shyouhei commented on #158
だめもとでメールしてみた。向こうはこういうのは電話しないとだいたい反応ないからな…

[2014-09-02 10:46] shyouhei commented on #158
現地時間の火曜日で反応なければ現地時間の水曜で電話してみますね…

[2014-09-03 06:58] ko1 commented on #147
すみません、7/29 に13,713円振り込まれていることを確認しました。
1829円の領収書はまだ手元（会社）にあります。

[2014-09-03 07:06] ko1 opened #159 "Ruby開発者会議 20140904 への支援について"
[Ruby開発者会議 20140904] (http://cruby.doorkeeper.jp/events/13742) が夜に行なわれるので、ちょっとつまめるように、5,000円くらい、ピザとか援助頂いてもいいでしょうか。
（人数 x 1,000 円くらいを上限）

[2014-09-03 07:09] ko1 commented on #97
どっかに載ってる？

[2014-09-03 07:25] takahashim commented on #159
問題ありません！ :+1:

[2014-09-03 08:21] shyouhei commented on #158
へんじない＞＜

[2014-09-03 12:31] kakutani commented on #151
自分が行く準備をしていて気づいたのですが、今年も渡航支援あるよのお知らせは、どのへんでやるのがいいですかねえ

[2014-09-03 16:14] shyouhei commented on #158
ところでこの携帯電話から国際電話ってどうかけるんだ？

[2014-09-03 16:17] shyouhei commented on #151
というかCFP8月中に終わってる(まだ開いてるけど)んですが。

今年はどういうたてつけで支援することにします？というところから決める方がいいと思う。

[2014-09-03 17:04] kakutani commented on #151
案だけ:
- CFP通ったけど旅費のスポンサー(勤務先とか)がいない人、は継続的に支援したい。
- RubyConfに行ったことない日本のRubyistにいってもらいたい。できればコンテンツとして「輸出」したい

ほか:
- CFP出したけど落ちた人……今年はどうなのかなあ
- るびまにレポート記事を書いてくれる(他の参加者と分担してもらってもいいから、取りまとめまでやってくれる)人
- 「私のRubyConf行きの渡航費を支援すべき n の理由」を書いて納得できる感じの記述をしてくる人

など???

[2014-09-03 17:40] shyouhei commented on #158
国際電話の掛け方は分かった

[2014-09-03 17:41] shyouhei commented on #158
スクリーンショット確認して折り返しの電話が来ることになってるけどそれ待ってたら永久に練れないので30分ほど待ってから再度かけます

[2014-09-03 17:42] shyouhei commented on #158
こちらがおかねをいただく立場なのでわりとがんばる。。。

[2014-09-03 17:44] kakutani commented on #158
おうえんしています!!1

[2014-09-03 18:24] shyouhei commented on #158
再度電話したので、スクリーンショットを見てくれて、返信をくれるとのことなんだけど、いつ来るかはよくわからない。

[2014-09-03 18:58] shyouhei commented on #158
まあeBayくらいの大企業なら電話窓口のオフショアくらい当然やってるよね…

[2014-09-03 19:10] shyouhei commented on #158
サポートセンターでは解決できないようなのでとりあえず窓口に電話する修行は終わりのようです

[2014-09-03 19:10] shyouhei commented on #158
がこのissueは閉じれない

[2014-09-03 19:42] shyouhei commented on #158
とりあえずwebフォームはおかしいようだからメールで必要な情報を送ってくれと言われつつエクセル方眼紙が来たので、埋めて打ち返したところです。

[2014-09-04 03:07] kakutani commented on #158
おつかれさまです……先方で代理入力してくれたら…勝利……ッ……

[2014-09-04 10:09] shyouhei commented on #158
状況確認中です

[2014-09-04 10:41] shyouhei commented on #158
メール来た！

[2014-09-04 11:09] shyouhei commented on #158
進んでるけどまだ終わりません(上記のW8BENの話に進むはず)

[2014-09-05 08:46] shyouhei commented on #158
とりあえず口座は開けたぽいですね

発注書の単価が間違ってるから「どうなっとるんじゃ？」というメールを送っています。

[2014-09-06 12:45] kakutani opened #160 "RailsGirls 4thのステッカー代金の支払い"
@takahashim 毎度お手数をおかけします。RubyHiroba 2014の会場で実施する、
RailsGirls 4th のステッカーの発注をしたいので、例によってデジタさんへの振り込みをおねがいします。

振込口座と注文情報は info にメールします。 /cc @emrima

[2014-09-06 13:00] emorima commented on #160
info宛にメールをお送りしました。ご確認お願い致します！

[2014-09-06 13:03] kakutani commented on #160
わ。早い。ありがとうございます。えっと、デジタさんへの注文時のメールみたいなやつってありませんかね?(金額が入ってるやつ)  そーゆうメールなりファイルがあれば info に転送しておいてもらえると助かります。

[2014-09-06 13:08] emorima commented on #160
あります!  今、info宛に発注メールの内容を添付してお送りさせて頂きましたので、ご確認ください!

[2014-09-07 08:42] emorima commented on #160
念のため、お知らせを...
ステッカーの制作は、入金後に業者さんでの制作がスタートということです。
中五営業日ということですので、来週中頃にはお振込をお願いできればと思います。

[2014-09-08 04:49] takahashim commented on #160
こちら今日明日には振り込む予定です！

[2014-09-08 10:41] takahashim commented on #160
振り込みました！　明日入金の予定です。
それで振り込み人の名義は「55918_S001ニホンルビーノカイ」にしてみましたが、これで大丈夫でしょうか？

[2014-09-08 11:32] emorima commented on #160
@takahashim ありがとうございます！
振込名義人については、確認してみます!!!

[2014-09-08 13:00] kakutani commented on #151
(メモ: RubyConf 以外のカンファレンスへの渡航も支援できるとよいのではないか)

[2014-09-08 13:23] hsbt commented on #151
(RedDotRubyConf あたりは良いと思います)

[2014-09-09 11:15] shyouhei commented on #151
RedDotがよいのはよいとおもうのですが、せっかく支援するんであれば、もうちょっとみんなが行けなそうな旅費高いやつとかどうですかね。rubyfuzaとか…

[2014-09-09 11:21] kakutani commented on #151
ブラジルいきたい

[2014-09-10 08:58] emorima commented on #160
振込名義についてですが、デジタさんにご連絡いれたので、大丈夫です!
お忙しい中、ご対応頂きありがとうございました!!!

[2014-09-10 09:39] takahashim commented on #160
良かったです！

[2014-09-14 07:25] takahashim commented on #151
遠いところに行って交流するメリットもある一方で、近場の場合は一回目は支援するとして、その後は自費でも継続的に交流しやすいというメリットもあるなあ、とも思いました。

それはそれとして角谷さんとかが RubyKaigi Organizer として各国のイベントに行くのは、このスレの事業とは別にいいんではないですかね。

[2014-09-19 01:28] shyouhei commented on #158
ログインできたので口座開設は終わったけど、パスワードはいつものが使えなくて制限がきつかったので `SecureRandom.urlsafe_base64.each_char.map{|i| rand < 0.5 ? i : i.upcase }.join` で作成しました。自分でも暗記できませんのでなにかの方法で共有したいです。。。

![](http://i.gyazo.com/acffc20dc28a9588a0ac1d2f61585a7a.png)

ちなみにログインしてみたら何も特に進行してなかったぽいのでスポンサー費用回収は終わらないです…

[2014-09-22 04:49] ko1 commented on #159
こちら、遅くなりましたが、7人参加で 6,400 円（ピザ）でした。
少しオーバーしてしまいましたが、ご支援賜れば幸いです。

[2014-09-22 05:58] takahashim commented on #159
@ko1  了解です！:pizza: 　この前の口座に振り込めばよいですか？

[2014-09-22 06:28] ko1 commented on #159
はい、よろしくお願いします。

[2014-09-23 01:06] hsbt opened #161 "RailsGirls 関連の何かを巻き取る"
RailsGirls Japan(仮称)の方から来ました

今、Rubyの会にお金周りはすべてお願いしていますが、一部を @hsbt @yakitorii @emorima あたりで巻き取れればなあというのを @snoozer05 とぼんやり話していました。
- 全部 RailsGirls でやろうとすると、収支や登記?とかも全部やる必要があるのでそれは大変
- 請求書発行は Ruby の会、資金の出し入れは RailsGirls(これだと口座を分けないとダメ?)
- その他

[2014-09-23 02:11] kakutani commented on #161
たいへん。

昔のRubyの会方式(NaClさんやruby-assnに助けてもらってた)がいいんじゃないかなあと。
状況から言いますと、口座は分けたいです(会計士さんから2回指摘された)。
とはいえ、事務手続きは日本Rubyの会で代行します(たいへんだし)。

開催をまたいで発生する意思決定(年間スポンサーや、繰越金の使う度合い)や
会から「渡す先 is 誰」だと困る(会計的に)。
なので、窓口としての任意団体RGJPカッコカリあったほうがよさそう。

任意団体のつくりかたは、日本Rubyの会の前身をつくった @takahashim が経験者だからお詳しいのでは! ということで相談したい…。

[2014-09-23 04:09] takahashim commented on #161
はい。逆に言うと、Rubyの会としては口座さえ分かれていれば良いです。

現在、Rubyの会の会計では、RailsGirlsのお金は「預り金」として計上されています。つまり「一時的に預かってる」状態なので、どこかの口座に戻したいのでした。

Rubyの会の業務としては、RailsGirls *という各イベントの会計事務を担当して行うという形で、各企業からの協賛金を受け取る（振込先口座としてRubyの会の口座を使う）ことは問題ないです。

…というRubyの会側の話はおいておいて、コミュニティとしての一般論を書くと、
- a) 個人で頑張る
- b) 名目として組織を作る（いわゆる任意団体）
- c) 法的実体として組織を作る（NPOとか一般社団法人とか会社とか）

というパターンがあって、c)は大変なのでb)くらいがおすすめという感じです（実はaでも構わない）。

任意団体は会計は小遣い帳

[2014-09-23 05:21] hsbt commented on #161
@publichtml @igaiga @springaki も呼んでおこう

[2014-09-23 10:03] springaki commented on #161
呼んでいただきました。

協賛金を受け取っていただく（振込先口座としてRubyの会の口座を使う）ことは問題ないという事は
一旦協賛金を入金していただいた Rubyの会口座から a)個人名義の口座 か b)任意団体名義の口座に振込してもらうという事であってますか？

b) ならそのまま入金してもらってもいい感じですかね。送金業務が発生しなくてRubyの会の負担も減って尚良しな感じなのでしょうか。

RailsGirls で発生している事務処理ってこんな感じですか？
請求書送付とか手伝えるかもです(そういうのは求められてないのでしょうか)。
- 請求書送付
- 入金確認
- 立替金精算
- 証憑類の保管

[2014-09-23 10:13] hsbt commented on #161
@springaki 請求書送付そのものは Ruby の会にお願いすることになりそうです(僕らの誰かが Ruby の会の中の人になる、というオプションもある?と全部巻き取れそう)

短期的には、口座を分けて任意団体とすることで
- @kakutani さんや @takahashim さんにお願いしている入金確認、精算業務
- 年間スポンサーというやつの窓口
- 各 RailsGirls 開催のお金周りの窓口

を巻き取れそうだなあという感触です。

[2014-09-23 11:32] kakutani commented on #161
日本Ruby会議の経験からは、「あっちは任意団体で、こっちは法人口座で」みたいになるので、どちらかに寄せたほうが楽だと思います。で、寄せるなら法人口座じゃないと困る企業さんがいらっしゃるから会の口座のほうがよいと思います。

入金口座のこともありますし、請求書の送付元は日本Rubyの会でよいと思います。
作業の手間は、misocaフォーマットのcsvですぐ終わるので、あんまり大変じゃないです。

開催ごとの立替精算とか事前の支払い(ステッカーとかTシャツとか)を、
巻きとってもらったほうが、機動力は上がると思うし、助かります。

RGJPカッコカリの口座があれば、意思決定から会計までの流れが
スムーズになるんじゃないかな、と思いました。
ネットバンクの口座は、任意団体なら使えるのかな?
(法人のはなんかめんどくさそうにみえました(高橋さんが苦戦してた))

スポンサー窓口のところは巻き取っ

[2014-09-23 11:46] hsbt commented on #161
@kakutani @takahashim 口座を分けるときに、
- 入金自体は Ruby の会の法人口座
- 集まった分を RailsGirls JP の任意団体口座に移動
  - この資金自体は Ruby の会のものという扱い?
- 口座に入ったあとは RailsGirls JP で決めて使う

という感じだと思うのですが、口座間移動が会計的に問題ないのかをご相談させてください!(そろそろオフラインがいいかも!)

[2014-09-23 11:47] hsbt commented on #161
任意団体で 20-30万くらいのお金をやりくりすると税務的に何か問題あるのか、というところが引っかかっております。

[2014-09-23 11:58] kakutani commented on #161
移動じたいは問題ない、というのが総会での質疑の結果でした。
なので「預り金をわたす先の口座がほしい」という話の流れでございます!

で、受け取る側の話ですが、RGっていわゆる収益事業じゃないから
そこは課税されないんじゃないかなあ
(そろそろ書きっぷりに気をつけないといけなさそう)。

[2014-09-23 12:05] hsbt commented on #161
概ね把握ですぞ〜(続きは Web じゃないところで)

[2014-09-23 12:23] takahashim commented on #161
一般社団法人でも任意団体でも、課税の義務が発生するのは「34業種の収益事業に該当することを継続的に行うこと」という要件があり、勉強会とかセミナーとかは34業種に含まれないとのことなので、課税されない、という理解です。
（これがたとえば出版業は34業種に含まれるので、継続的に出版を行うと課税対象になるので注意、とのこと）。
- http://www.pref.kanagawa.jp/cnt/f100183/p28234.html#06
- http://hosoka.com/index.php?zinnkakunonaisyadanntou
- http://law.e-gov.go.jp/htmldata/S40/S40SE097.html#100000000000000000000000000000000000000000000000050000000000000000000000000

[2014-09-23 14:29] springaki commented on #161
なるほど。
なにが大変で、なには大変じゃないかの理解が進みました。ありがとうございます。口座間移動的なところも気になっていたのですが、大丈夫そうなのですね。

[2014-09-23 16:19] shyouhei commented on #158
どうなってるの？って聞いてみてます

[2014-09-25 21:32] yada-ITA opened #162 "RailsGirlsNagoya 2ndのステッカー代金の支払いについて"
Nagoya Team の@yadaitaです。
@kakutaniさんよりご連絡いただき、コチラにissue作成作成します。

デジタさんへの発注予定です。発注完了後に振込関連情報を
メールにてご連絡しますので、よろしくお願い致します。

[2014-09-26 01:42] shyouhei commented on #158
発注書来ました。W-8BENは不要ぽい（Asia Pacificはシンガポール国籍の現地法人でとりあつかいの模様）。

official 的な残件はログインパスワードの共有方法のみです。

[2014-09-27 11:57] publichtml opened #163 "RailsGirlsTokyo 4th! お弁当代振込み (2014/10/31(金)まで)"
RailsGirlsTokyo 4th! のお弁当代の振込みをお願いします。
- 振込金額: 49,000円
- 振込期限: 2014/10/31(金)
- 請求書: @kakutani さんにお渡し済み
  - RailsGirlsTokyo 4th!当日(9/21(日))にお渡ししたpixivのクリアファイルに入っているはずです

よろしくお願いしますm(_ _)m。

[2014-09-27 12:05] publichtml opened #164 "RailsGirlsTokyo 4th! 立替精算"
今回立て替えたのはスタッフの小田切 ( @publichtml ) のみ、合計 144,135円です。

## 金額 (合計 144,135円)

* カクヤス: 3,266円
* amazon: 6,713円
* ダイソー: 756円
* アフターパーティ: 133,400円

* 合計: 144,135円
* すべて 小田切 ( @publichtml ) が立替

## 領収書お渡し状況 (2014/09/27時点)

* @kakutani さんに RailsGirlsTokyo 4th! 当日(9/21) にお渡し済み
  * カクヤス (3,266円)
  * amazon (6,713円)
* @emorima さん預かりで、次に会った機会に @kakutani さんにお渡しいただく予定
  * ダイソー (756円)
  * アフターパーティ (133,400円)

よろし

[2014-09-28 13:47] takahashim commented on #163
@kakutani これって振り込めリストに載ってます？

[2014-09-29 12:52] yada-ITA commented on #162
info宛にメールをお送りしましたので、ご確認お願い致します！

[2014-09-29 13:37] takahashim commented on #162
確認しました！
こちら明日中はちょっと厳しそうですが、今週中には振り込んでおきます。

[2014-09-29 21:11] yada-ITA commented on #162
はい！よろしくお願いします :star2:

[2014-09-30 08:53] takahashim commented on #162
こちら先ほど振り込みましたので、明日には入金されるかと思います。

[2014-09-30 12:17] yada-ITA commented on #162
ありがとうございます！

[2014-10-02 13:47] yada-ITA commented on #162
10/01にデジタさんより入金確認＆作成開始のメールが入りました！
ありがとうございました！
（ご報告遅れてすみません……）

[2014-10-16 12:13] publichtml commented on #163
@takahashim @kakutani
振込み期限まであと半月となりましたが、進捗いかがでしょうかm(_ _)m

[2014-10-17 01:37] takahashim commented on #163
@publichtml 遅くなってしまってすみません、こちらですが直接私(takahashim [at] ruby-no-kai.org)の方まで振込先を教えていただけますか？（金額は49,000円でいいんですよね？　請求書はあとで角谷さんから回収します）

[2014-10-18 16:10] publichtml commented on #163
@takahashim すみません、右から左に @kakutani さんに請求書をお渡ししたので振込先は控えていないです＞＜。

たまたま @kakutani さんにお会いしたので、請求書を確認するようお願いしました (どうも他の領収書と一緒くたに渡してしまったので、一通だけ請求書が入ってると思っていなかったようです、すみません)。

確認にお時間かかるようなら業者に振込先など問合せますのでお申し付けいただければm(_ _)m

[2014-10-21 08:14] shyouhei commented on #150
これすすめましょう。Mac mini新型出たので、それで。

もとMac Pro想定だったので4コア必要でしょうか？Mac mini2コア2台でもMac Proよりは安いので、Mac mini2台は可だと思います。必要であれば。

[2014-10-21 12:19] ko1 commented on #150
予算次第って感じでしょうか。
多分、低スペックでもあれば嬉しいし、高スペックでも嬉しい。

複数人でログインする可能性（バグが出たとき、検証のためにログイン）を考えると、他はともかくメモリは多めの方がいいかもしれない。でも、VM とかは立てないだろうから、8GB で良いかな。他は、予算に応じて、CPU を良い奴にする感じで。多分、HDD はそんな大切じゃ無いと、思う（とりあえず ci 的な使い方が主なので、瞬発力はそんなに求められていないのでは無いか）。

元々のベンチマーク環境としては、まだ定点観測のための仕組みを作れていないので、とりあえずテスト・デバッグ環境として。という点で、2台だと、まずはもてあましそう。

[2014-10-21 13:25] ko1 commented on #150
http://taisy0.com/2014/10/17/39458.html
メモリ増設は後からは出来ないみたいっすね。

[2014-10-22 15:12] takahashim commented on #150
そんなに高スペックでなくても良いのであれば、10万円以下なら消耗品扱いになるのでその方が都合良いかなと思いました（別に超えるとムリというわけではないのですが）。

ということだと、2.6GHzのCore i5でメモリ16GBとか？（税別￥94,400）

[2014-10-24 12:42] publichtml commented on #163
進展ないようなので、業者に振込先と金額を問い合わせるメールを送りました。返信がもらえたらご連絡します。

[2014-10-25 03:11] publichtml commented on #163
@takahashim
お弁当の請求書PDFをメールにて送りました(takahashim [at] ruby-no-kai.org宛です)。
ご確認の上、振込み手続きをお願いいたしますm(_ _)m

[2014-10-25 04:08] takahashim commented on #163
振込先の方受け取りました。どうもお手数おかけしました :bow:
来週振り込んでおきます。

[2014-10-25 04:13] publichtml commented on #163
こちらこそ、情報が遅くなってすみません。よろしくお願いいたします！

[2014-10-27 02:38] shyouhei commented on #150
じゃあ
- 予算10万円
- メモリ8GB
- CPUそこそこ

という条件でいうと竹コースかなあ

USだと松コースが$999.00で手が届きますねえ。RubyConf現地で買って帰るとか…
http://store.apple.com/us/buy-mac/mac-mini?product=MGEQ2LL/A&step=config

ちなみにCI的に使うのであればCPUよりもディスクに振った方がよいと思うのでSSDのほうが嬉しいですという意味でも松コースが望ましくはある。

[2014-10-27 06:37] takahashim commented on #150
円安の昨今では$999は10万円超えるのでは…。
素直に10万円越えにしてRubyの会の固定資産ということにしますか？　PCの場合、償却期間は4年間なので、4年使ったら廃棄、ということにすれば面倒がないんですかねえ。

[2014-10-28 09:53] shyouhei commented on #150
4年…2018までこのマシン使うか…

いや、微妙ですね。竹コースにしよう

[2014-10-28 10:34] takahashim commented on #163
こちら先ほど振り込みました！　入金は明日の日付になるかと思います。

[2014-10-28 14:12] publichtml commented on #163
ありがとうございます！いろいろお手数おかけしましたm(_ _)m

[2014-10-28 14:12] #163 closed, assigned to nobody

[2014-10-29 03:11] takahashim commented on #150
じゃあこれで購入してよいですか？　送付先はささださんのところがよいですか？＞@ko1

[2014-10-29 06:03] shyouhei commented on #150
内容は卜部からはこれ以上ありませんので送付先が決まれば購入でよいと思います！

[2014-10-29 08:58] ko1 opened #166 "開発会議 DevelopersMeeting20141029Japan へのご支援について"
例のごとく、開発会議 <https://bugs.ruby-lang.org/projects/ruby/wiki/DevelopersMeeting20141029Japan> へのご支援をお願い出来ますでしょうか。

[2014-10-29 09:09] ko1 commented on #150
竹コースって何？
今日の開発会議で話題にします。

あと、俺が買って、後で精算と、そっちで買って、こちらに送っていただくでも、どちらでも良いです！
（が、来週引っ越すんで、もうちょっと後にして欲しい）

[2014-10-29 10:11] tyabe opened #167 "RubyKaja 2014 ノベルティ代金"
RubyKaja 2014 のノベルティ送付が完了しました。
後日、領収書と振込先を別途ご連絡します。

ご支援頂きたい金額の内訳は以下の通りです。

| 項目 | 金額 |
| --- | --- |
| 手ぬぐい | 30,888円 |
| レターパック | 6,120円 |
| Tシャツ | 25,056円 |

合計金額：62,064円

なお、手分けして発注したため、
領収書と振込先は @tyabe と @katorie のそれぞれからお知らせします。

[2014-10-29 16:30] takahashim commented on #150
Mac miniの商品紹介で3つ並んでる奴の真ん中のことではないかと＞竹コース
Core i5 2.6GHz Mac miniです。
http://store.apple.com/jp/buy-mac/mac-mini
メモリは16GBにしておいた方が無難ですか？　それとも8GBで良い？

[2014-10-29 16:31] takahashim commented on #166
はい、こちら問題ないです！

[2014-10-29 17:39] ko1 commented on #150
開発会議で検討したところ、一番いい奴で +16GB memory +1TB fusion memory = 126,400 円（税抜き）でどうだろうか、という意見が多いようでした。4年くらいは多分使うだろう、と。
固定資産にすると、色々面倒でしょうか。

[2014-10-30 02:30] takahashim commented on #150
なるほどー。であればそれで問題ないです。

[2014-10-30 03:36] shyouhei commented on #150
他人のお金だから無責任に言ってません? (笑)
- メモリが16GB必要な理由は? Rubyのコンパイルでそんなにメモリいりませんよ
- ディスクが1TB必要な理由は? Rubyのコンパイルでそんなにディスクいりませんよ

払わないとは言わないので理由が欲しい感がありますね。一番いいやつ！ではおもちゃと同じなので。妥当性がほしいなあ。

[2014-10-30 03:59] takahashim commented on #150
ディスクは標準で1TBシリアルATAドライブ、約2万円追加すると256GBのフラッシュか1TBのFusion Driveか（フラッシュとFusion Driveは金額同じ）なので、ある程度速度が欲しいと同金額になっちゃうんですよね…。

[2014-10-30 05:37] shyouhei commented on #150
金額同じなら256GB SSDのほうが速そう。

[2014-10-31 06:05] ko1 commented on #150
メモリは複数人で同時に利用することを考えての値です。
ディスクはログなどが大量に出る可能性があるので、255GB だと不安です。

個人的にはメモリ多め、ディスクはHDDで良い派ですが（手元の ci とかしている Linuxマシンではそれで困っていない。十分なメモリがあれば、page cache に載るからそんなに困らない）、
Mac は i/o 多発するから遅い、という意見がありました（私は真偽を知らない）。
CPU は、それこそ予算があれば速い方がいいよね、というところ。

[2014-10-31 08:52] ko1 commented on #150
メモリは 16 じゃなくて 8 でもいいかな。HDD は 256 SSD だったら最低でも 512HDD が良いな。

[2014-11-01 14:08] shyouhei commented on #150
MacはIO多発より何よりmacminiに搭載されてるHDDがめっちゃ遅いんですよ。3.5インチHDDとか絶対載ってないですから。Linuxマシンとは比較にならないです。

まあ10万円越えちゃうならCPUはけちってもしょうがないのはそうだとおもう。

あとは256GBで不安になるほどの大量のログというのが気になるんだけど、CIのログってどこかのタイミングでS3に移動したりしないんですか?

[2014-11-02 21:51] ko1 commented on #150
CI のためじゃなくて、開発一般の話です。とにかく dump してデバッグするような場合、溢れる可能性が。

[2014-11-04 06:23] shyouhei commented on #150
そういうことであれば特に問題ないと思います。懸念点ないので発注に進んでいただければ。

[2014-11-04 12:42] takahashim commented on #150
じゃあささださんが引っ越したら進めるということで！

[2014-11-05 02:06] hsbt opened #168 "RailsGirls Tokyo 4th のスポンサー費用の請求"
RailsGirls Tokyo からやってきました。

https://github.com/railsgirls-jp/tokyo-team/issues/121#issuecomment-60878628

RailsGirls のスポンサー費用の請求を該当企業へ行っていただきたいです。スポンサー費用の詳細は
 @emorima が把握しているはず...

/cc @yakitorii

[2014-11-05 04:14] snoozer05 commented on #168
不安を感じさせてしまい申し訳ないです。今晩遅くになってしまうかもしれませんが、対応しますね。詳細を info@ruby-no-kai.org に送っていただけますでしょうか。

[2014-11-05 05:35] emorima commented on #168
メールさせて頂きました!
情報が不足している等ありましたら、ご連絡お願い致します!

[2014-11-05 09:43] snoozer05 commented on #168
請求書を作成し、郵送が必要な企業様には郵送手続を、原本不要な企業様にはメール配信をそれぞれ行いました。遅くなってしまい申し訳ないです。もし何か不手際などあれば再度ご連絡ください... ><

[2014-11-05 09:48] ko1 commented on #150
引っ越したんですが、荷物がちょっと大変で作業スペースすら取れない状況で...。

rubyconf で高橋さんに最終的にOKもらって、発注する感じにしますかw

[2014-11-05 09:49] ko1 commented on #150
@hsbt それとも、柴田さんが発注・セットアップまでやっちゃいます？
（大学に持っていく時、私が受け取る感じで）

私としては、とりあえず clang でコンパイルできる開発マシンが手に入れば何も言うことは無い感じです（Mac OSX 用 clang のキャストの罠にはまることが多く）

[2014-11-05 13:31] hsbt commented on #150
@ko1 @takahashim 僕があれこれしてしまって良いということであれば、発注とセットアップしてしまいますが、進めても良いですか?

[2014-11-05 15:09] takahashim commented on #150
@hsbt はい、進めてもらえると助かります！
調べてみたら銀行振込にも対応してるみたいなので、支払いはこれでお願いできるとありがたいんですが可能でしょうか？
http://store.apple.com/jp/help/payments

[2014-11-05 22:07] emorima commented on #168
お忙しい中、対応頂きありがとうございました! :star2:

[2014-11-06 07:06] hsbt commented on #168
@snoozer05 :bow: いつもありがとうございます。

スポンサー企業からの振込が完了したら issue 閉じますので、入金確認までよろしくお願いします。

[2014-11-06 09:16] hsbt commented on #150
注文前の確認です!

http://gyazo.com/206d58112a071ad4cde213f127aae7d0

真ん中のモデルで CPU: そのまま メモリ: 16GB ドライブ: fusion drive 1TB の合計 114,000 円でよいでしょうか。

[2014-11-06 18:11] takahashim commented on #150
私の方は問題ないです！

[2014-11-06 21:25] yada-ITA opened #169 "RailsGirls Nagoya 2nd のスポンサー費用の請求"
RailsGirls Nagoya teamの@yadaitaです。

@kakutaniさんには、数日前にFacebookのメッセージにて直接ご連絡しましたが、
こちらにも念のため書き込みしておきます。

（Tokyo 4thでも、
https://github.com/railsgirls-jp/tokyo-team/issues/121
https://github.com/ruby-no-kai/official/issues/168
の書き込みがあった事もあり、ちょっと心配になりました……）

RailsGirls Nagoya 2ndについても、スポンサー様への請求業務をお願いしたいです。
詳細情報については、info@ruby-no-kai.org にお送りすればよろしいでしょうか？

[2014-11-07 00:46] snoozer05 commented on #169
はい。お手数をおかけしますが、おねがいいたします m(_ _)m

[2014-11-07 00:52] hsbt commented on #150
注文しよう!と思いましたが、銀行振込名義と購入者名義が異なると面倒になりそうなシステムでした。 @takahashim さん(or 中の人どなたか)が購入するか、僕が建て替えて購入するかのどちらかがスムーズに進みそうな気がしますが、どちらがよいでしょうか?

[2014-11-07 03:07] takahashim commented on #167
@tyabe ご報告ありがとうございます！
@katorie さんからメールのほうもいただきましたが、
- @tyabe さんがTシャツ代25,056円
- @katorie さんが手ぬぐい＋レターパック代で合計37,008円

という立替の分担で正しいでしょうか？

[2014-11-07 03:33] takahashim commented on #150
あー、そういうやつなんですね…。
であれば、 @hsbt さんの方で立て替えてもらって、支払い方法はお任せで、領収書を下記フォームから「一般社団法人日本Rubyの会」で発行してもらう、というのは可能でしょうか？
http://www.apple.com/jp/feedback/aos/receipt_request.html

[2014-11-07 03:54] yada-ITA commented on #169
先程、メールをお送りしました！
よろしくお願い致します。

また不足情報等ありましたらご連絡をお願いします。

[2014-11-07 04:00] tyabe commented on #167
@takahashim はい。おっしゃるとおりです。
わたしの分も今日明日中にはメールでご連絡しますので、よろしくお願いします。

[2014-11-07 04:15] takahashim commented on #167
了解です、お待ちしております！

[2014-11-07 06:58] katorie commented on #167
@takahashim よろしくお願いいたします！！

[2014-11-07 12:15] snoozer05 commented on #169
すべての請求書を作成して郵送手続を行いました。
週明けには届くかと思いますので、ご確認の程どうぞよろしくお願いいたします。
何かありましたらご連絡くださいませ

[2014-11-07 13:52] yada-ITA commented on #169
ご対応ありがとうございます！ :smiley:

請求書は週明けに確認したいと思います！

[2014-11-07 14:55] hsbt commented on #150
やってみます!

[2014-11-08 06:50] takahashim commented on #167
@tyabe さんのメールも受け取りました！
週明けにお二人にお振り込みしておきます。

[2014-11-08 06:52] tyabe commented on #167
@takahashim ありがとうございます！
よろしくお願いします

[2014-11-10 00:11] ko1 commented on #166
連絡が遅くなりましたが、お茶菓子代で、1,496 円でした。
よろしくお願いします。

[2014-11-10 04:01] takahashim commented on #166
了解です！
都度払った方がよいですか？　それとも何回分かまとめます？

[2014-11-10 05:05] hsbt commented on #161
ひとまず口座を巻き取ろうということで https://github.com/railsgirls-jp/railsgirls-jp.github.io/issues/118 で進めることにしました。

[2014-11-10 05:05] #161 closed, assigned to nobody

[2014-11-10 22:22] ko1 commented on #166
まとめて、が双方楽ではないかと。

[2014-11-11 06:11] takahashim commented on #166
了解です。では適当なタイミングで。

[2014-11-12 05:23] yada-ITA commented on #169
取り急ぎの速報ですが、今日時点では、まだ弊社宛の請求書は届いていない模様です…。

ということで、届いたらこちらにご報告する、ということで、いったん今週中は様子を見てみますー。

[2014-11-12 05:38] takahashim commented on #167
@katorie @tyabe そういえばこちらお振り込みしてました！　ご確認ください。

[2014-11-12 06:00] katorie commented on #167
@takahashim 確認いたしました！ありがとうございました。

[2014-11-12 07:56] snoozer05 commented on #169
`2014年11月10日 17時07分31秒  請求書が [発送] されました` となっております。住所も間違っていないと思いますので、もう少し待ってみていただけますでしょうか...

[2014-11-12 08:36] yamadashizuka commented on #169
(@yada-ITA さんがRuby World Conferenceに出かけてしまったので、留守番中の@yamadashizuka ですー)
発送されたということで了解です！ ありがとうございますー。じーっと待っておきますです、じーっと……

[2014-11-12 12:49] yoshiokaCB opened #170 "松江Ruby会議06 へのご支援について"
Matsue.rb の @yoshiokaCB と申します。
先日メーリングリストでご相談させていただきましたが、東京よりゲストを招いて講演をしてもらうことが正式に決定しました。
つきましては交通費と宿泊費のご支援をお願いいたします。

#### 費用詳細

交通費：￥30,980-
宿泊費：￥10,600-
合計：￥41,580-

何卒よろしくお願いいたします。

[2014-11-12 12:52] yoshiokaCB commented on #170
関連して一点質問をさせてください。
宿泊場先、飛行機などをWebで予約したため、PDFで領収書をお渡しする形になるかと思います。
問題はないでしょうか？

[2014-11-12 12:57] snoozer05 commented on #170
@takahashim 上記問題ないでしょうか

[2014-11-12 13:19] takahashim commented on #170
はい、PDFで問題ありません！

[2014-11-12 13:31] yoshiokaCB commented on #170
早速のご返事ありがとうございます！
それでは上記内容で進めさせていただきます。
引き続きよろしくお願いいたします。

[2014-11-12 13:38] hsbt commented on #150
改めて注文と領収書発行をしました!

[2014-11-12 13:49] tyabe commented on #167
@takahashim 確認しました！ご対応ありがとうございました。

[2014-11-12 13:49] #167 closed, assigned to nobody

[2014-11-12 15:19] takahashim commented on #150
:+1:

[2014-11-13 04:46] yamadashizuka commented on #169
留守番の @yamadashizuka です。
弊社宛のもの、届きましたっ！ ありがとうございました！

[2014-11-13 04:49] takahashim opened #171 "ruby-no-kai.orgのGitHub Pages対応"
これって今月中にやらないといけないんでしたっけ。
cf. https://github.com/blog/1917-github-pages-legacy-ip-deprecation

[2014-11-13 05:52] yada-ITA commented on #169
ただいまRWC休憩はいりました〜

@yamadashizuka さん、連絡ありがとうございます！ :smile_cat:
@snoozer05 さん、お手数おかけしました！ :smiley:

[2014-11-13 13:43] springaki commented on #169
よかった  :star:

[2014-11-17 13:34] hsbt commented on #150
11/17 に Mac mini が到着しました。領収書が到着したら改めてご連絡します。

[2014-11-20 01:29] hsbt commented on #150
領収書も到着しました。

@takahashim 何処かの asakusarb でお渡ししますので、よろしくお願いします。

[2014-11-26 09:08] ko1 opened #172 "開発会議 DevelopersMeeting20141126Japan へのご支援について"
例のごとく、
https://bugs.ruby-lang.org/projects/ruby/wiki/DevelopersMeeting20141126Japan
にご支援いただけませんでしょうか。

[2014-11-26 09:27] takahashim commented on #172
はい、問題ないです！
というか次の12/xxも問題ないですよ

[2014-11-26 10:09] ko1 commented on #172
ありがとうございます！
移行は、確認じゃ無くて、「これでお願いします」と ticket たてることにします！

[2014-11-26 10:16] ko1 commented on #172
というわけで、今回は 1,923円 でした。

[2014-12-01 07:23] springaki opened #173 "RailsGirls Kyoto 2nd のスポンサー協賛金の請求"
RailsGirls Kyoto teamのAkiです。

皆様の協力のおかげでRailsGirls Kyoto 2ndを無事開催する事ができました。
ありがとうございます。

つきましてはスポンサー協賛金の請求作業をよろしくお願いします。
RailsGirlsKyoto 2nd パートナー様 請求先一覧は別途 info@ruby-no-kai.org に送付させていただきます。

[2014-12-01 07:26] springaki commented on #173
請求先一覧 へのリンクを info@ruby-no-kai.org に送付させていただきました !!

[2014-12-01 12:09] snoozer05 commented on #173
すべての請求書について、郵送手続かんりょういたしました。
今週中にはそれぞれの企業様に届くかと思います。

[2014-12-01 23:08] springaki commented on #173
素早い ! いつもありがとうございます :smiley_cat:

[2014-12-02 00:34] hsbt commented on #173
:bow:

[2014-12-08 06:26] springaki commented on #173
請求書送付先企業からのフィードバックです。

とのこと。
協賛金表示額 + 消費税での請求書になっているようです。これは慣習的にどちらが一般的なのかはわかりませんが、無税の額で請求するのは可能なのでしょうか。
今回は請求額どおりにお振込みいただけるとの事なので大丈夫なのですが、次回請求時に備えてみなさんのご意見など伺えれば幸いですー。

[2014-12-09 04:34] takahashim commented on #173
フィードバックありがとうございます！

ええと、まず「寄付行為」（寄附行為）という用語は法律用語としてはふつうの寄付とは違う特殊な意味なので、要するに寄附金のことだと判断します。

寄附金については、消費税法基本通達第2節5－2－14では消費税の課税対象にならないことになっているのですが、一方で広告宣伝効果がある場合は「寄附金」ではなく「広告宣伝費」として扱うことになるようです。

例えば「基本的に表には法人名を出さないで、お金だけもらう」という扱いの場合は広告効果がないので、広告宣伝費ではなく寄附金として受け取るというのもありうると思いますが、全部がぜんぶそう扱うのも現実的ではない（広告宣伝効果を期待する法人が多そう）でしょうし、いちいち区別すると事務処理が面倒になりそうなのですが、どうするのがいいんでしょうね…。

（それと念のためですが、Rubyの会のような普通の一般社団法人（公益認

[2014-12-09 05:49] springaki commented on #173
おぉ。なるほど。
実際に区別して発行するのは現実的じゃないなぁとは感じていたので、どうなるのが両者都合がいいんだろうとお伺いしてみました。(実際には今までの企業様からは何も言われていないわけで...)

実質は寄附金ではなく(企業が寄附しても所得控除の対象にはならないの意味で)、広告宣伝費の一貫としてお取り扱いいただくようにお願いしてみようかなと思います。

ありがとうございました !! :bow:

[2014-12-09 12:47] ko1 commented on #150
ありがとうございます。設置することができました。
ruby-lang のほうに、こんな記事を載せて貰おうと思いますが、よろしいでしょうか。

どうぞよろしくお願いします。

---

= 開発マシン追加のお知らせ

このたび、一般社団法人 日本Rubyの会のご支援によって、Ruby インタプリタの
開発のために、mac mini を導入しました。mac mini の導入によって、Mac OSX
上での問題解決や性能評価に利用する予定です。

導入した mac mini は、 芝浦工業大学 工学部 情報工学科の菅谷研究室（基盤
システムソフトウエア研究室）に設置させて頂いております。

ご支援頂きました一般社団法人 日本Rubyの会、および芝浦工大菅谷研究室には
深く感謝致します。

すでに、Ruby開発には、様々な会社、団体からご支援を頂いております（[参考]
(https://www.r

[2014-12-10 20:55] sunaot commented on #145
そうそう、これを RubyKaigi でお会いしたときに手渡せればいいかなあと思っていたら当日はたのしくてそんなことをすっかり忘れていたのでした。メールしなければ。

[2014-12-11 08:46] takahashim commented on #150
はい、問題ないです！
（冒頭で「ご支援」の「ご」はいらないと思いましたが、後のほうでは他団体・法人に係ってるなら揃えてそのままの方が良さそうですかねえ）

[2014-12-22 03:10] yoshiokaCB commented on #170
おかげさまで先日無事に松江Ruby会議06を開催することができました。
ありがとうございます。
開催報告のレポートは後日お送りさせていただきます。

それで、請求書の処理をさせていただきたいと思いますが、請求書の添付と振込先はどのような連絡手段を用いてお送りしたらよいでしょうか？
よろしくお願い致します。

[2014-12-23 02:50] takahashim commented on #170
開催おつかれさまでした！
PDFと振込先口座情報については info [at] ruby-no-kai.org 宛にお送り下さい。

[2014-12-24 04:30] yoshiokaCB commented on #170
承知しました。
今日中に送らせていただきます。

[2014-12-24 06:15] takahashim commented on #170
受け取りました！　先ほどお振込したのでご確認下さい。

[2014-12-25 05:02] yoshiokaCB commented on #170
ありがとうございます。
昨日からバタバタしておりまだ確認出来ておりません。
明日中には確認したいと思います。
お待たせして申し訳ありませんが、もうしばらくお待ちください。

[2014-12-25 06:08] takahashim commented on #170
@yoshiokaCB こちらの方は別に急ぎではないので年内でも年明けでも大丈夫です！　お手すきのときにどうぞ。

[2014-12-26 03:46] yoshiokaCB commented on #170
@takahashim
確認しました。ありがとうございました！

[2015-01-15 02:33] takahashim commented on #171
再度アナウンスが来てたので。

DNSって @kakutani さんしか変更できないんでしょうか…。

[2015-01-16 05:57] shyouhei commented on #171
これは困りましたね

[2015-01-17 00:11] hsbt commented on #150
振込確認、Web への掲載終わっているので閉じても良いかと思いますー。

[2015-01-17 00:25] hsbt opened #174 "RailsGirls Shiojiri へのコーチ派遣の補助をおねがいしたい"
@kakutani @takahashim @snoozer05 @shyouhei

http://railsgirls.com/shiojiri のオーガナイザーの方より、開催にあたって RailsGirls のコーチ経験者数名の派遣要請が RailsGirls のコミュニティへ届きました。

現在、有志がお手伝いに行くという意思表明をされていますが、このような開催地からの要請があった際に交通費の補助があると自助努力だけではなく、継続的な RailsGirls 開催が可能になると思います。

本来であれば、RailsGirls Japan(仮)でスポンサー費用のプール金や何かしらの資金集めで補助すべきと思いますが、まだ実体のない団体のため実現できません。そこで、「Rubyの利用者の支援」を目的としている、日本Rubyの会に「RailsGirls Shiojiri へのコーチ派遣の交通費

[2015-01-18 09:02] takahashim commented on #150
@ko1 閉じちゃってよいですか？（私は問題ないです）

[2015-01-18 10:12] takahashim commented on #174
@hsbt この件について、Rubyの会が補助するとか以前の話として、RailsGirlsのお金として預かっているものがまだRubyの会の口座にそれなりの金額分残っているわけですが、それを使ったりしますか？

あと、個人的な意見としては、Rubyの会が特定のRailsGirls 〇〇 NN(th)に対してお金を出すというのは、公平な是非の判断が難しそうなのであんまり良い形ではなさそうだなあと思っています。それよりは、RailsGirls Japan(仮)の発足支援的な形でまとめて支出して、あとは何にどう使うかはRailsGirls Japan(仮)の中で検討して適切に振り分けてもらう、というのが良いかなあと思いました（定期的に支援できるかどうかはまたちょっと微妙な感じではあります）。

[2015-01-18 10:55] hsbt commented on #174
はい、そう思います。

可能であれば、この方向で考えたいので、残額を個人的にご連絡していただくことは可能でしょうか? よろしくお願いします!

[2015-01-18 12:21] takahashim commented on #174
去年のRubyの会の会計として〆た時点の計算を元にした情報を柴田さんにメールしておきましたー

[2015-01-18 15:27] ko1 commented on #150
はい、ありがとうございました。
また、よろしくお願いします。

[2015-01-18 15:27] #150 closed

[2015-01-21 10:49] hamakn opened #175 "神奈川Ruby会議01 へのご支援について"
神奈川Ruby会議 http://regional.rubykaigi.org/kana01/ 会計の川口@hamaknと申します。
神奈川Ruby会議で遠方からお招きしたゲストスピーカーへの交通費と宿泊費のご支援をお願いいたします。

費用詳細

ゲスト1
交通費: ¥11,640-
宿泊費: ¥8,880-
ゲスト2
交通費: ¥29,380-
宿泊費: ¥5,600-

合計: ¥55,500-

また、領収書は上記のうち3件は原本、もう1件はPDFがあるのですが、
どのようにお送りすれば良いでしょうか。
郵送、スキャンして電子データを送信のどちらも可能なのでご指定ください。

以上よろしくお願いいたします。

[2015-01-21 14:08] takahashim commented on #175
開催おつかれさまでした！

さて領収書ですが、紙のものは、

[code]

宛にお送りください。電子のものは `info [at] ruby-no-kai.org` 宛のメールに添付ください。

[2015-01-22 14:03] hamakn commented on #175
対応ありがとうございます。

電子のものはたった今送信しました。
紙のものは明日送付したいと思います。

[2015-01-23 09:02] takahashim commented on #175
PDFの方は受領しました！
来週振り込んでおきます。

[2015-01-25 14:55] hamakn commented on #175
紙の方、明日（3days ago）送付、と書きながら、本日投函しました。
よろしくお願いいたします。

[2015-01-28 10:10] takahashim commented on #175
領収書受領しました！
来週になってしまうかもしれませんが振り込んでおきます。少々お待ちください。

[2015-01-31 04:10] takahashim commented on #171
よく見たらruby-no-kai.orgの方はvalue-domainがname serverになってました！
というわけでこっちだけでも変更してみます。
rubyhiroba.orgの方はかくたにさんが持ってる模様。

[2015-01-31 04:25] takahashim commented on #171
value-domainのruby-no-kai.orgの設定変更して反映待ちです。

[2015-01-31 05:38] takahashim commented on #171
`dig ruby-no-kai.org` の結果が、

[code]

になっているので、ruby-no-kai.orgの方は変更されたはず。

[2015-01-31 05:56] hsbt commented on #171
:ok_woman: セフセフ...

[2015-01-31 05:57] hsbt commented on #174
https://github.com/railsgirls-jp/railsgirls-jp.github.io/issues/118 で口座開設を進めているので、完了したら預り金を受け取って、残金とにらめっこしつつ、RailsGirls サイドで決める。

[2015-02-01 02:44] publichtml commented on #174
@takahashim @hsbt

RailsGirls預かり金の額についてですが、実は #164 のRailsGirlsTokyo 4th! の立替精算(14万4,135円)がまだ処理いただけておりません。今の残額は恐らくこれを含んだものになっているかと思います。

ただ、領収書が昨年9月に他の方にお預けした以降行方知れずになってしまっているかと思います…。
立て替えた本人的にはもう諦めてるので精算不能で決着しても構わないのですが、それでRubyの会の決算やRailsGirls口座への資金移動に際し何か不都合ありそうでしょうか＾＾；；；

[2015-02-01 02:45] hsbt commented on #174
@publichtml がーん。この金額はさすがにちゃんとしないといけない気がします...

[2015-02-01 02:48] hsbt commented on #174
資金移動あれこれは @hsbt 個人としてはちゃんとお支払いするという思いがあります。続きは https://github.com/ruby-no-kai/official/issues/164 で。

[2015-02-01 02:50] hsbt commented on #164
@emorima アフターパーティーの領収書って今何処に言っているか思い出せますか...

@kakutani @takahashim @snoozer05 @shyouhei こちらの建て替え、金額も大きいので、@publichtml さんへの支払いをお願いしたいのですが、領収書がないと出来ないなどありますか?

[2015-02-01 02:51] publichtml commented on #174
ご面倒をおかけしてすみません…orz

[2015-02-01 04:02] takahashim commented on #174
@publichtml う、支払い損ねているものがあったらごめんなさい。
ちなみに先日 @hsbt さんの方に伝えた金額はRubyの会の期末である昨年7月末時点のもので、それ以降の入出金は（ご指摘の分も）含まれてなかったりします。

[2015-02-01 04:15] hsbt commented on #174
@takahashim はい! 先日頂戴したリストには Tokyo 4th, Kyoto 2nd は含まれていないことを確認しています。

[2015-02-01 04:16] hsbt commented on #168
どうなっているのかな...

[2015-02-01 04:21] snoozer05 commented on #168
入金確認は高橋さんじゃないとできないのでした。 @takahashim どうなってますでしょうか

[2015-02-01 04:23] snoozer05 commented on #164
出金伝票を書くなりすればやりようはあると思います。
@takahashim だいじょうぶですよね？？

[2015-02-01 04:29] emorima commented on #164
アフターパーティーの領収書は、
takkanm さん 経由で、@kakutani さんへお渡し済です!

[2015-02-01 04:42] hsbt commented on #168
@snoozer05 反応ありがとうございます。Nagoya 2nd, Kyoto 2nd も支出の精算が終わってないような気がするので issue などの状況をまとめたほうが良ければご連絡ください。

[2015-02-01 04:58] publichtml commented on #174
oh...7月時点の金額でお話してたのですね、失礼いたしましたm(_ _)m

[2015-02-01 05:07] publichtml commented on #164
領収書状況更新:
アフターパーティの領収書は @emorima さんが takkanm さん 経由で、@kakutani さんへお渡し済みとのこと。
これで全領収書が @kakutani さんの手に渡ったはず、という状況になります。

[2015-02-01 05:10] publichtml commented on #164
(あっ、スレを勘違いして同じ内容を二重書き込みしてしまいましたorz

[2015-02-01 06:03] springaki commented on #168
@hsbt さんのおっしゃるとおり Kyoto 2nd の立替清算も終わってないので、新規 issueでお願いしようとしていました。まとめた方がよさそうでしたら、それに準じますー。清算お願いが遅くなっていて申し訳ありません...

[2015-02-01 06:58] takahashim commented on #164
@snoozer05 @publichtml  Rubyの会から見るとRailsGirlsについては預り金扱いになっているので、まあそんなに細かいことは気にしなくて良いかと思います（入金と出金の金額があってればいいので）。

[2015-02-13 13:17] na74 commented on #175
2/4に振り込まれていました。確認が遅くなってすみません。
ご対応ありがとうございました。

[2015-02-13 13:18] hamakn commented on #175
2/4に振り込まれていました。確認が遅くなってすみません。
ご対応ありがとうございました。

[2015-02-14 08:33] takahashim commented on #175
@hamakn  そういえばこちらで報告してなくて失礼しました :bow:　こちらこそありがとうございました！

[2015-02-26 11:13] takahashim commented on #149
すみません、こちら振込確認できてました！

[2015-02-26 11:16] takahashim commented on #153
こちらひと通り行いました！

[2015-02-26 11:18] takahashim commented on #154
RailsGirlsについて、とりあえずRubyの会で預かってる金額のうち、協賛金分は計算できました（立替精算済みの金額がまだ）。
7/31までの分はすでに処理済みです。残りもなんとか今月中に決着をつけたい。たい。

というわけでこちらは閉じますね。

[2015-02-26 11:18] #154 closed

[2015-02-26 11:21] takahashim commented on #164
@publichtml @hsbt  こちらですが、金額がfixしているのであれば明日くらいに振り込みますか？
（それ以降になるとお金の流れが変わる予定）

[2015-02-26 11:22] takahashim commented on #151
今後どうするか未定ですがRubyConfは終了しているのでこのissueは閉じますね。

[2015-02-26 11:22] #151 closed

[2015-02-26 11:22] takahashim commented on #170
こちらご確認ありがとうございました！
issueは閉じておきますね。

[2015-02-26 11:22] #170 closed

[2015-02-26 11:24] takahashim commented on #169
遅くなりましてすみません、こちら全て入金確認いたしました！

[2015-02-26 11:24] #169 closed

[2015-02-26 11:25] takahashim commented on #168
こちらすみません、入金はすべて確認できました！
どうもお手数をおかけしました :bow:

[2015-02-26 11:26] #171 closed

[2015-02-26 11:32] hsbt commented on #164
@takahashim いったん、RailsGirls Japan 口座に現時点でお金の移動が確定したものを頂いて、こちらでアレコレしたいと考えていますが可能でしょうか?

[2015-02-26 12:39] publichtml commented on #164
|-`).｡oO( @takahashim @hsbt こちら、急いでいないのでお二人の都合のよいように調整いただければと思います。金額は 144,135円 でfixです )

[2015-02-26 12:52] hsbt commented on #164
@publichtml 僕が責任もってお支払いするのでもう少々お待ちください!

[2015-02-26 12:52] takahashim commented on #164
@hsbt @publichtml 了解です、では私の方では対応しないようにしておきます :bow:

[2015-02-26 12:55] publichtml commented on #164
了解いたしました！

[2015-02-26 13:04] #164 closed

[2015-02-26 15:34] takahashim commented on #162
遅くなってしまいましたがこちら閉じますね。どうもおつかれさまでした！

[2015-02-26 15:34] #162 closed

[2015-02-26 15:43] #160 closed

[2015-02-26 15:45] takahashim commented on #145
@sunaot これってどうなってましたっけ？

[2015-03-03 05:50] sunaot commented on #145
@takahashim これ私がメールしてないですね。すっかり放置ですみません。レシート探すところから始めます。

[2015-03-09 06:38] cobachie opened #176 "RailsGirls Shiojiri のスポンサー協賛金の請求"
Rails Girls Shiojiri Teamの小林（cobachie)です。

みなさまにいろいろご協力 & ご助言いただいたおかげで、
はじめてのRails Girls Shiojiriを無事開催することができました。
本当にありがとうございました。

つきましては、パートナー様への請求処理をお願いいたします。
RailsGirlsShiojiri1st パートナー様 請求先一覧は、
別途 info@ruby-no-kai.org に送付させていただきましたので、
ご確認をお願いいたします。

[2015-03-09 06:42] snoozer05 commented on #176
承知いたしました！

[2015-03-09 13:46] snoozer05 commented on #176
請求書を作成し、それぞれ郵送手続をいたしました。
今週中にはパートナー様のところに届くと思います！

[2015-03-09 23:52] cobachie commented on #176
早速のご対応、ありがとうございます！

[2015-03-10 12:15] sunaot commented on #145
無事精算していただきました

[2015-03-10 12:17] takahashim commented on #145
ただいま精算完了しました！

[2015-03-10 12:17] #145 closed

[2015-03-16 04:46] snoozer05 commented on #175
こちら閉じてしまいます〜

[2015-03-16 04:46] #175 closed

[2015-03-16 04:47] snoozer05 commented on #176
@takahashim 入金確認が終わりましたらここに追記をおねがいいたします :bow:

[2015-03-16 04:47] snoozer05 commented on #174
@hsbt これはもう閉じてしまっても大丈夫でしょうか

[2015-03-16 04:48] snoozer05 commented on #173
@takahashim 入金確認が終わりましたらここに追記をおねがいいたします :bow:

[2015-03-16 04:49] snoozer05 commented on #172
@takahashim こちら処理済みでしょうか？

[2015-03-16 04:49] snoozer05 commented on #168
入金まで終わっているので閉じてしまいます

[2015-03-16 04:49] #168 closed

[2015-03-16 04:50] snoozer05 commented on #166
@takahashim こちらまだタイミング待ちでしょうか？

[2015-03-16 04:50] snoozer05 commented on #159
@takahashim こちらはどういう状況でしょうか

[2015-03-16 04:51] snoozer05 commented on #157
@takahashim これってどういう状況でしたっけ...??

[2015-03-16 04:51] #153 closed

[2015-03-16 04:52] snoozer05 commented on #146
@takahashim これはどういう状況でしたっけ...??

[2015-03-16 04:52] snoozer05 commented on #61
@takahashim 出納は確認できましたでしょうか...??

[2015-03-16 04:54] snoozer05 commented on #106
DNSの設定変更の件の対応が遅れてずいぶん長い間 rubyhiroba.org にアクセス出来ない状況になっていたりした（気がつけたので設定の変更は行い、現状は回復しています）ので、対処したいです...

[2015-03-16 04:55] snoozer05 commented on #149
@springaki @takahashim こちら閉じても大丈夫でしょうか？

[2015-03-16 05:28] springaki commented on #149
一応確認なのですが、RailsGirls Osakaに対しての立替精算は未。という認識であってますか？(2重振込してしまいそうなので念のため確認しています)

立替精算はRailsGirlsでできるようになったので、この確認が終われば閉じてもらって大丈夫です。 :bow:

[2015-03-16 06:12] springaki commented on #149
すみません。この件振込終わってるようです。(つじたさんに、確認しました)

私は閉じてもらって構いません！

[2015-03-16 06:23] snoozer05 commented on #149
はい！確認どうもです！

[2015-03-16 06:23] #149 closed

[2015-03-17 05:38] takahashim commented on #159
う、これは払ってないみたいでした。すみません :bow:
振り込みます

[2015-03-17 05:43] takahashim commented on #172
@snoozer05 ここまでたまっているみたいです。
@ko1 今年に入ってDevelopersMeetingはまだ開催されてない＆予定もまだない、のでしょうか？

[2015-03-17 06:09] ko1 commented on #172
On 2015/03/17 14:43, Masayoshi Takahashi wrote:

4月にやろうかと思っております。

##

// SASADA Koichi at atdot dot net

[2015-03-17 06:24] takahashim commented on #172
@ko1 了解です、ではこれまでの分（#159 と #166）をまとめて振り込んでおきます :bow:

[2015-03-17 06:36] ko1 commented on #172
On 2015/03/17 15:24, Masayoshi Takahashi wrote:

ありがとうございます。よろしくお願いします。

##

// SASADA Koichi at atdot dot net

[2015-03-17 08:58] takahashim commented on #172
@ko1 こちら計9,819円振り込みました！

[2015-03-18 03:18] ko1 opened #177 "るびま合宿へのご支援のお願い"
Rubyist Magazine（るびま）は、今度50号を迎えます。
現在、るびまのシステムにはいくつか問題があり、これを集まって解決する合宿ができないか計画しています。

そのために、場所の用意、遠方から集まる交通費、食事代など、Ruby の会様のほうでご支援頂けると助かりますが、いかがでしょうか。具体的な計画はまだなのですが、何なら出来る、出来ない、この目的ならいくらまでなら出せる、などアドバイス頂ければ幸いです。

ご検討頂ければ幸いです。

[2015-03-18 06:10] hsbt commented on #174
RailsGirls で巻き取ることにしたので大丈夫です!

[2015-03-18 06:10] #174 closed

[2015-03-18 06:12] hsbt commented on #115
色々ありましたが、RailsGirls Japan 口座で何とかすることにします!

[2015-03-18 06:12] #115 closed

[2015-03-18 15:43] takahashim commented on #61
こちらですが、ちゃんとした記録が残っていないようでした…

[2015-03-20 10:14] takahashim commented on #177
遅くなってすみません、資金的な面でも何かしら支援できると思います！　が、ちょっとまだざっくりしてるので何ともいえないかも。
人数は10〜20人くらいでしょうか。食事代くらいは大丈夫そうですが、それよりも遠方の人が多いと交通費が大きそうですかね。
それと場所について、どこか安い施設のあてはありますか？

[2015-03-25 00:57] snoozer05 commented on #16
放置しておくのもあれなので、いったん閉じてしまいたいと思います。
（難しかったことも整理しきれていませんが...）
リベンジの機運が高まったら、開き直すことにしましょう...

[2015-03-25 00:57] #16 closed

[2015-03-25 00:59] snoozer05 commented on #61
@takahashim どうしましょうか。渡したことにはなってるので、閉じてしまいましょうか...??

[2015-03-25 01:01] snoozer05 commented on #142
@takahashim こちら、どうなってますでしょうか...?? (Matzにはまだ話をしていない状況でしょうか

[2015-03-25 01:02] snoozer05 commented on #146
@takahashim ping。原本の確認状況、いかがでしょうか...??

[2015-03-25 01:03] snoozer05 commented on #147
メモ: @ko1 さんから領収証を受け取ったら閉じられる

[2015-03-25 01:03] snoozer05 commented on #111
ちゃんとアクションを整理していかないといけなそう

[2015-03-25 01:04] snoozer05 commented on #159
@takahashim 振り込み完了済みでしょうか...??

[2015-03-25 01:07] snoozer05 commented on #172
@takahashim これはもう閉じても大丈夫なんでしたっけ？それとも領収証の受け渡しが必要でしょうか？

[2015-03-25 01:07] snoozer05 commented on #173
@takahashim 入金確認状況いかがでしょうか

[2015-03-25 01:08] snoozer05 commented on #176
@takahashim こちらも入金確認状況を教えていただけると助かります...!!

[2015-04-03 12:22] snoozer05 commented on #137
@takahashim これ、角谷さんへの精算は済んでいるということでよいでしょうか...?? であれば閉じてしまいたいです

[2015-04-03 12:23] snoozer05 commented on #146
@takahashim pingしておきます...!!

[2015-04-03 12:23] snoozer05 commented on #142
@takahashim pingしておきます...!!

[2015-04-03 12:24] snoozer05 commented on #147
@takahashim @ko1 タイミングつくれそうでしょうか？

[2015-04-03 12:24] snoozer05 commented on #157
@takahashim pingしておきます...!!

[2015-04-03 12:24] snoozer05 commented on #159
@takahashim pingしておきます...!!

[2015-04-03 12:24] snoozer05 commented on #166
@takahashim pingしておきます...!!

[2015-04-03 12:24] snoozer05 commented on #172
@takahashim pingしておきます...!!

[2015-04-03 12:24] snoozer05 commented on #173
@takahashim pingしておきます...!!

[2015-04-03 12:25] snoozer05 commented on #176
@takahashim pingしておきます...!!

[2015-04-03 12:25] snoozer05 commented on #177
@ko1こちら、このあとどのように進めたら良いですかねえ

[2015-04-03 12:27] snoozer05 commented on #71
@shyouhei https://github.com/ruby-no-kai/official/wiki/Templateforrubyconfcontingent があるから閉じてもいいんですかね。

[2015-04-03 12:32] snoozer05 commented on #97
作ってみました https://github.com/ruby-no-kai/official/wiki/RubyDevelopersMeetingSupportGuideline

@takahashim 足りないところ、おかしなところがあれば手を入れていただけますでしょうか..??

[2015-04-04 01:35] vestige opened #178 "とちぎRuby会議06への支援依頼について"
toRubyのよねざわです。

6/20に開催しようとしているとちぎRuby会議06で遠方からお招きするゲストスピーカーへの交通費と宿泊費の支援をお願いしたいです。

具体的な金額はこれから算出します。

先に質問なのですが、事前にいただくことも可能なのでしょうか？基本的に後清算なのでしょうか？
よろしくお願いします。

[2015-04-04 05:31] snoozer05 commented on #178
はい！大丈夫だと思います！

基本は領収証を提出いただいての後精算となっております（額が大きくて...などの場合はご相談ください）。こちら https://github.com/ruby-no-kai/official/wiki/Regionalrubykaigi#%E6%97%A5%E6%9C%ACruby%E3%81%AE%E4%BC%9A%E3%81%8B%E3%82%89%E3%81%AE%E8%B2%A1%E6%94%BF%E6%94%AF%E6%8F%B4%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6kwsk を参考にしていただければと思います！

[2015-04-04 06:05] vestige commented on #178
ありがとうございます。
普段の僕らにとっては少し額がありますので、事前に頂きたく相談したいです！！

[2015-04-04 06:23] snoozer05 commented on #178
@takahashim こちらどのように進めると良いでしょうか？内訳と額を申請してもらって事前に引き出しておいて、後で領収証を提出、という流れで進められそうでしょうか。難しそうなら、島田が代わりに立替える、とかですかねえ

[2015-04-04 15:19] takahashim commented on #173
遅くなってすみません、こちら入金完了しました！

[2015-04-04 15:22] takahashim commented on #176
こちら先月終わり頃の状況ではまだ未入金のものが残ってました。
あとで今月分の確認もしてみます :bow:

[2015-04-04 17:01] takahashim commented on #178
@vestige  @snoozer05 具体的な金額が分かった時点でその金額を教えてもらって、Rubyの会からどなたかの口座に振り込むのは問題ないかと思います！
（後で差額が発生するとちょっとめんどくさそうではありますが）

[2015-04-04 22:05] snoozer05 commented on #173
確認ありがとうございました！

[2015-04-04 22:05] #173 closed

[2015-04-04 22:05] snoozer05 commented on #176
お手数をおかけしますが、よろしくお願いします :bow:

[2015-04-04 22:06] snoozer05 commented on #178
@takahashim 確認ありがとうございます！
@vestige とのことです。差額が発生しない感じで事前にご連絡いただくことは可能そうでしょうか...??

[2015-04-05 01:19] vestige commented on #178
大丈夫だと思います。
詳細がはっきりしたら、ここに金額を書きますね。来週にはわかると思います。
よろしくお願いします。

[2015-04-05 04:55] snoozer05 commented on #178
承知しました！よろしくおねがいたします！

[2015-04-06 05:01] takahashim commented on #157
これはだいたい終わってるはずです（企業＆個人からは入金してもらった、相澤さんにも入金した、領収書等はデジタルデータなので送ってもらった）。
あとは細かい金額の確認が残っています（←苦手なやつですみません…）

[2015-04-06 05:02] snoozer05 commented on #157
状況がわかるだけでも大変たすかります！
引き続き確認をよろしくおねがいいたします :bow:

[2015-04-07 10:01] takahashim commented on #97
@snoozer05 こちらで問題ないと思います！

[2015-04-07 13:04] snoozer05 commented on #97
確認ありがとうございます！それではこれは閉じてしまいます！

[2015-04-07 13:04] #97 closed

[2015-04-07 21:44] ko1 opened #179 "DevelopersMeeting20150408Japan ご支援のお願い"
https://github.com/ruby-no-kai/official/wiki/RubyDevelopersMeetingSupportGuideline
に基づいて、本日の会議についてもご支援頂きたく、よろしくお願いします。
https://bugs.ruby-lang.org/projects/ruby/wiki/DevelopersMeeting20150408Japan

[2015-04-07 21:44] ko1 commented on #177
@gunjisatoshi どないしませう。

[2015-04-07 23:51] gunjisatoshi commented on #177
ありがとうございます！
まずはるびま編集者側でコスト等を詰めてみてから、あらためてご相談させていただきます！

[2015-04-08 05:04] takahashim commented on #179
:+1: 了解です！

[2015-04-08 06:41] ko1 commented on #179
1,196 円でした。
笹田が領収書を持っております。

[2015-04-10 05:17] takahashim commented on #176
こちら入金確認できました！

[2015-04-10 05:22] cobachie commented on #176
お忙しいところいろいろご対応いただきまして、ありがとうございました！:bow:

[2015-04-16 01:09] hsbt commented on #176
@takahashim

続きの依頼となりますが、RailsGirls Japan 口座への振込もお願いします :bow:

[2015-04-16 10:25] shyouhei commented on #158
閉じますね。ログインパスワードに関しては、そもそもここにログインしなくても請求は送付できる事が明らかになっているので、よくわからんです…

[2015-04-16 10:25] #158 closed

[2015-04-16 10:26] takahashim commented on #179
こちらの領収書は明日回収予定です

[2015-04-16 10:28] takahashim commented on #176
@hsbt こちら承りました！

[2015-04-16 10:29] shyouhei commented on #71
ではこれは終了で！

[2015-04-16 10:29] #71 closed

[2015-04-16 10:36] takahashim commented on #155
こちらは終わったので閉じておきます :bow:

[2015-04-16 10:36] #155 closed

[2015-04-17 12:31] takahashim commented on #61
こちらささださんに確認したところ確かに受け取ったとのことだったので閉じます！

[2015-04-17 12:32] snoozer05 commented on #61
はい！

[2015-04-17 12:32] #61 closed

[2015-04-17 12:33] takahashim commented on #179
領収書受け取りました

[2015-04-17 12:52] takahashim commented on #176
こちら振り込みました :bow:

[2015-04-22 03:24] vestige commented on #178
交通費支援の主だった飛行機代が別の用事で半分になるかもという連絡があったので、まずははっきりわかる金額だけ申請させてもらって、あとから差額を埋めるのでも大丈夫でしょうか？

[2015-04-22 08:14] takahashim commented on #178
@vestige あんまり細かく刻むことになると煩雑になりそうですが、事前と事後で2回に分けるくらいならいいんじゃないかと思います！

[2015-04-22 09:38] vestige commented on #178
@takahashim ありがとうございます。そんな感じで進めてみたいと思います。

[2015-04-27 15:18] springaki opened #180 "RailsGirls Kyoto 3rd のスポンサー協賛金の請求"
RailsGirls Kyoto teamのAkiです。

皆様の協力のおかげでRailsGirls Kyoto 3rdを無事開催する事ができました。
ありがとうございます。

つきましてはスポンサー協賛金の請求作業をよろしくお願いします。
RailsGirlsKyoto 3rd パートナー様 請求先一覧は別途 info@ruby-no-kai.org に送付させていただきます。

- [x] 日本Rubyの会から請求書郵送していただく
- [x] 日本Rubyの会口座への入金を確認していただく

[2015-04-30 14:27] hsbt commented on #176
振込確認しました! ありがとうございます。

[2015-05-01 01:02] vestige commented on #178
事前にお願いしたい金額の詳細がはっきりしたので、まずは申請したいのですがどういう手順で行うとよいでしょうか？
@takahashim さんに直接メールして進めた方がよいのでしょうか？

[2015-05-01 01:41] takahashim commented on #178
@vestige 振込先など公開の場に書きたくない情報は info [at] ruby-no-kai.org 宛にメールいだければ！

[2015-05-01 01:42] takahashim commented on #180
こちらお返事遅くなってすみません、メールの方受領しております。請求作業は連休中に行っておきます :bow:

[2015-05-01 01:44] springaki commented on #180
お手数お掛けしますが、よろしくお願いいたします :bow:

[2015-05-02 02:30] vestige commented on #178
@takahashim さきほど、メールにて詳細をおくりました。ご確認ください。よろしくお願いします。

[2015-05-02 02:46] vestige commented on #178
一つ確認したいことがあります。
今回の会議中にコーヒー屋さんの出張をお願いしようとしているのですが、そのときにかかる経費（主に豆代）を支援していただくことはできるのでしょうか？おそらく1万円ぐらいなのですが...

[2015-05-02 06:15] takahashim commented on #178
@vestige 飲食費についてはルール作りが難しそうですよね…。
特にこれという決まりはないですし、少額なら考慮してもいいんじゃないかと思いますが、例えば懇親会費を持って欲しいと言われるとさすがに困ってしまいそうです。

地域Ruby会議全体について、飲食関連についてはどういうルールにするとよいと思いますか？（質問に質問で返してしまってすみません…）

[2015-05-02 07:44] vestige commented on #178
@takahashim こまった質問してすみません。懇親会などのお金に関しては確かに各自で感じはあります。ただ会期中の参加者への飲み物とか、お菓子みたいなのはとても少額ですが、参加者へのホスティングとして必要な感じもするものなので、考慮しても良いかなぁと思います。
ただ、今回の僕らのコーヒー出張はどのように考えてよいか僕もちょっとわからなかったので、確認してみたかった次第です。

[2015-05-02 14:01] snoozer05 commented on #178
@takahashim @vestige 難しいですね。本編での飲食に限って...としてしまうと、本編中に懇親会的なものを組み込まれてしまうと他の地域Ruby会議とはフェアで無くなってしまいそうなのもありますし...。

ただ、本編中により円滑にRubyist同士、参加者同士が交流するための道具、として飲み物や軽食を置く、というのは行われるとよいパターンなんじゃないかな、とも思います。

たとえば、[Ruby開発者会議](https://github.com/ruby-no-kai/official/wiki/RubyDevelopersMeetingSupportGuideline)のように、本編中の茶菓子代について上限を定めて支援を可能にする（領収証はきっちり支援分を用意してもらうという運用にする）というのだとどうでしょう。支援の上限としてはRuby開発者会議ほどじゃなくても良いかもし

[2015-05-02 14:21] snoozer05 commented on #180
こちら、いただいた内容にしたがって請求書を作成しまして郵送手続を行いました。
遅くなってしまい申し訳ありませんでした... :bow:

[2015-05-02 14:56] springaki commented on #180
ありがとうございます !! :smile:

[2015-05-02 17:24] springaki commented on #178
横槍を入れてすみません。
難しい話ですよね。地域RubyKaigi内のコミュニケーションを促進するためのものなのでご支援いただきたいような気もするし、でも自分たちの食い扶持といえば食い扶持なので出してもらうのも気が引けるような...線引が難しそうですね。

それぞれの地域や回によって懐事情は違うでしょうから、スポンサーがついて「それくらいはまかなえる」っていうケースもあれば、そうでないケースもあるんでしょうね。ずっと昔の事ですが、関西04とかでは個人スポンサー制にしていくらか寄付していただいたりして賄っていました(それが良いかどうかは別にして。会場代とかスピーカーの交通費などその会を設営する基礎的な要素(これが曖昧なんですが)だけご支援いただいて、それ以外のおもてなし部分的なものは自分たちで頑張るぞっていう勝手な思いがあったようです。 :sweat:  )。
そういえば大江戸Ruby会議で

[2015-05-03 09:09] vestige commented on #178
@snoozer05 @springaki ご意見ありがとうございます。現在お借りしている会議の場所が金銭的なやり取りをNGなので、投げ銭制度みたいなのができないです。地域の集会場によってはそういう所もあるらしいです。今回のはたしかに微妙な感じなので自分たちの資金でやるように検討してみます。

[2015-05-03 19:37] springaki commented on #178
@vestige あ、すみません「その使い方は微妙じゃない？」と言いいたい訳ではないんです。話に水を差してしまってすみません...

投げ銭できないとなるとツラいですね...。今回の件、微妙なのかどうかも実はちょっとわからなくて。「それだ !」っていうやり方が見つかればいいのですが...(しまださんの出してくれた案も良いと思うのです)。こういうのを地域RubyKaigi会議で共有して少しずつ方向性が見えればいいのかなぁーとぼんやり思っています(他のオーガナイザーの意見も聞いてみたいですよね)。

(よねざわさんとは前回の地域RubyKaigi会議でオンライン同士だったし、また是非お会いして色々お話聞かせてください :smile: )

[2015-05-04 00:46] vestige commented on #178
@springaki 大丈夫ですよ。たしかに他のみなさんの意見もあわせてきいてみたいところではありますが、まずはすぐにどうこうできないかなぁというのもあるので、自分たちの出来る範囲で検討してみようかなぁと思った次第ですー。

[2015-05-05 03:05] springaki commented on #178
@vestige 了解です !

[2015-05-07 09:30] takahashim commented on #178
@vestige 先日のメールの件については先ほど振り込みましたので、明日入金されると思います。ご確認ください

[2015-05-07 09:31] takahashim commented on #178
あと飲食費の方ですが、地域Ruby会議については各地域の温度感もありそうなので（参加者がお金を出すことに関する抵抗感や主催者のひとのコスト感などなど）、私の方でどうこうあるべきというのはないのですが、例えばしまださんの https://github.com/ruby-no-kai/official/issues/178#issuecomment-98362131 とかで合意が取れそうで、そういう部分のケアが大事そうなら、そういう形でRubyの会のお金を使う方のは良いことではないかと思いました。

[2015-05-07 09:41] vestige commented on #178
@takahashim ありがとうございます。確認しますね。飲食についての話はもう一度スタッフ内でも話してみます。

[2015-05-19 10:38] shyouhei commented on #87
かくたにさんが持っている。
rubykaigi.info はいかん済み。これはまだ。

[2015-05-19 10:41] shyouhei commented on #49
すでに情報はまとまっている。qwikにある。
逆にいうとqwikが閉じてしまうまでになんとかしないとひじょうにやばい

[2015-05-19 10:43] shyouhei commented on #76
進行中とのこと。

[2015-05-19 10:44] shyouhei commented on #152
kai-coreにはなんか置いてあるような…

[2015-05-19 10:47] shyouhei commented on #106
これはまだ移せてない。

[2015-05-19 10:52] shyouhei commented on #111
現状だと、いちおう、https://github.com/ruby/www.ruby-lang.org にPRすればいいところまでは来てはいる。でもそれでOKかというのは悩ましい。

地域Ruby会議とかだったら↑に掲載してもいいのでは

[2015-05-19 10:54] kakutani commented on #106
遅ればせながらRubyの会のアカウントにうつしました！

[2015-05-19 10:57] kakutani commented on #106
移動されていることを確認しましたっ。

[2015-05-19 10:57] #106 closed

[2015-05-19 10:57] shyouhei commented on #111
- regional.rubykaigi.orgの「これから開催される地域Ruby会議」をもう少ししくみ化する?
  - もう確定情報はきちんと掲載されるようになっているので問題ないのでは?

[2015-05-19 11:02] hsbt commented on #106
(@kakutani さんの生存確認だ...!)

[2015-05-19 11:04] shyouhei commented on #146
高橋さんが原本を確認できてない。
高橋さんが原本をさがす。(★next action)

[2015-05-19 11:04] kakutani commented on #137
私の精算が終わっていないかもしれないので、もういっかい確認します。

[2015-05-19 11:05] takahashim commented on #142
Matzにまだ話をしていないので、話をする

[2015-05-19 11:05] takahashim commented on #147
領収書もらいました！

[2015-05-19 11:06] shyouhei commented on #147
おわってそう! 閉じる

[2015-05-19 11:06] #147 closed

[2015-05-19 11:07] shyouhei commented on #159
完了済みのはずとのことなので確認したらcloseしてください > @takahashim

[2015-05-19 11:08] takahashim commented on #159
#172 で振り込みずみです :bow:

[2015-05-19 11:08] shyouhei commented on #166
これも支払済とのことなので閉じます。

[2015-05-19 11:08] #166 closed

[2015-05-19 11:09] takahashim commented on #172
領収書もらいました！

[2015-05-19 11:09] #172 closed

[2015-05-19 11:10] shyouhei commented on #157
- 入金等の作業自体は終わっている
- 金額の確認が残件 (★next action)

[2015-05-19 11:11] shyouhei commented on #179
振り込みがまだ(★next action)

[2015-05-19 11:12] shyouhei commented on #176
これはおわり。

[2015-05-19 11:12] #176 closed

[2015-05-19 11:22] takahashim commented on #178
Rubyの会の理事の方で話してみましたが、今回のとちぎRuby会議06については、1万円くらいであればいいのでは、という話になりました！
今後、一般的にどういうルールにするかは地域RubyKaigi会議などで話して決めてもらうのが良さそうです。

[2015-05-19 11:52] takahashim opened #181 "RailsGirls等のイベント主催者間がリアルの場で情報共有できる機会を作りたい"
RailsGirlsなど、地域Ruby会議以外にもRubyに関連する各地域の活動があるので、そういった活動をされている主催者間で危機管理等の情報共有ができる機会を作るとよいのではないか。

[2015-05-19 11:55] shyouhei opened #182 "2014年度の活動レポートを書く"
#152 の続き。さきんじてチケットを作っておきます。

[2015-05-19 12:22] #159 closed

[2015-05-19 12:59] vestige commented on #178
@takahashim ありがとうございますっ。明日にでもスタッフ間で話してみます。

[2015-05-19 15:42] takahashim commented on #76
ようやく書類（履歴事項全部証明書）を入手したので作業します…

[2015-05-19 17:03] takahashim opened #183 "rubykaigi.infoを更新する"
7月に切れるので、その前に。

[2015-05-20 20:30] gunjisatoshi commented on #177
@takahashim https://github.com/rubima/rubima/issues/337 にて話をしたところ、合宿はやめて半日の会議になりそうです。日程は5/31、場所は丸の内です。

お昼ごはん代とお茶菓子代、交通費のご支援がいただけると嬉しいですが、金額的な上限とかありますでしょうか（参加表明はいただいていないので例えばの話ですが、関西とかハワイとかからの交通費は出ますかねえ）

[2015-05-21 02:21] takahashim commented on #177
毎年ハワイからの交通費をと言われると微妙そうですが、長らく貢献されてる方なので1回くらいは来ていただいて（招待で）もいいんじゃないでしょうか :smiley:
関西の方もるびま編集部的に来て欲しい方であれば問題ないかと。

[2015-05-21 04:52] gunjisatoshi commented on #177
@takahashim ご回答ありがとうございます！
（まだ参加者が確定していないので、あらためてご相談させてください！）

[2015-05-21 10:25] takahashim commented on #152
Wikiに置きました→ https://github.com/ruby-no-kai/official/wiki/ActivityReport2013

[2015-05-21 10:26] #152 closed

[2015-05-21 13:03] shyouhei opened #184 "esa代金を払う"
esaを使うことにしたので、とりあえずesa代を払わないと。

とりあえず @bash0C7 さんのところに請求行ってる可能性? まきとるなどする。

[2015-05-21 14:31] kakutani commented on #184
ラップトップが無かったので自信がなかったのですが、戻って確認してみたら
https://rubykaigi.esa.io/ は私がスクワッティングしてました。/cc @amatsuda

たぶん前のrubykaigiのときにesaのことを教えてもらって作るだけ作ったのかも…

となってますが、メンバーは私だけだったなので課金額は1,000JPY。

[2015-05-21 14:35] amatsuda commented on #184
おお。なるほど！

[2015-05-21 14:54] amatsuda commented on #184
トノコト。

[2015-05-21 14:55] amatsuda commented on #184
「ロハで使えないものか」とかこっちからは(まだ)ひとことも言ってないですよ？

[2015-05-21 15:18] kakutani commented on #184
おー、すごい。運用をはじめるにあたってなんか操作しないといけないことがあればご指示くださいませ /cc @bash0C7

[2015-05-21 15:27] kakutani commented on #184
続きは rubykaigi の運営のほうでやればよさそう。

[2015-05-21 15:27] #184 closed

[2015-05-23 14:29] bash0C7 commented on #184
はい、おまちください！ (( ⁰⊖⁰)/)
まとめます

[2015-05-25 14:23] gunjisatoshi commented on #177
@takahasim 今のところ参加者は 4 ～ 5 人、ほとんど東京近郊、遠方（関西方面）からの参加者 1 名の可能性あり、といったところです。見込まれる金額としては、関西からだと新幹線代がかかるので往復で 3 万円弱、プラスして昼食人数分、お茶菓子代くらいでしょうか。

費用のご支援にあたりまして、注意点等（予算的な上限、交通費や昼食等どこまでご支援いただけるか、領収書の必要有無、領収書の宛名等）ございましたらご教授ください。

[2015-05-26 01:33] takahashim commented on #177
予算的な上限は10万円/年くらいという感じなので、その人数なら普通に交通費＋昼食代は出せるかと。
領収書は交通費はあれば出して欲しい(MAY)でレシートでも可、宛名は一般社団法人日本Rubyの会にしていただければ。

[2015-05-26 15:48] gunjisatoshi commented on #177
@takahashim ありがとうございます。予算＆宛名の件承知しました！

[2015-05-31 04:33] ko1 commented on #177
お弁当、レシートだけでも大丈夫でしょうか。
一部、お昼を買ってこられた方がおりまして、どうしようかと。

[2015-05-31 04:51] takahashim commented on #177
@ko1 大丈夫です！

[2015-05-31 05:18] ko1 commented on #177
ありがとう御座います。

お弁当代
- お弁当代: 2,916 + 900 = 3816 円 (5 人)
- 飲物代: 521 円
- お茶菓子代: 1,125 円

合計: 5,462 円になりました。

あと、@SugHimsi san の交通費代が、領収書が無いとのことでした。
これはどうなんだろう。

[2015-05-31 09:51] takahashim commented on #177
どうもおつかれさまでした！
交通費については明細が分かれば領収書なしでも構わないかと。
あと立替は @ko1 さんですか？

[2015-05-31 10:16] SugHimsi commented on #177
お金については何もしないで帰りました。有意義な日を過ごしましたので何卒お気遣いなく。

[2015-05-31 14:36] ko1 commented on #177
については、笹田が立て替え、領収書・レシートを持っております。

[2015-06-01 23:12] vestige commented on #178
@takahashim 連絡おくれました。今回の件、スタッフ間で話をして支援してもらう方向で決めました。領収書は荻野さんの猫廼舎さんから出してもらうのですが領収書の名目みたいなのはなにか指定ありますでしょうか？

[2015-06-02 01:27] takahashim commented on #178
@vestige 承知いたしました！名目はなんでも大丈夫です（事業費として計上してます）
あ、宛名は「一般社団法人日本Rubyの会」がよいです。

[2015-06-10 00:37] kakutani opened #185 "herokuからの課金に備える"
必要なものは課金上等だと思うので、そうしたアプリのownerをRubyの会としてまとめるのがいいかな、と思ってます。

* [x] info at ruby-no-kai dot org のアドレスでherokuのアカウントを作りました(info アカウント)。
* [x] Rubyの会で面倒をみるアプリに info アカウントをcollaboratorとして追加しました。
* [x] Rubyの会で面倒をみるアプリのownerをinfoアカウントへtransferする
* [x] infoアカウントにクレジットカード情報を登録する

[2015-06-10 03:39] takkanm opened #186 "るびま 50 号プレゼント企画の送料を支援していただきたい"
残作業を記録します -- kakutani

- [x] 振り込めシートに記録(@kakutani)
- [x] 領収書を @takahashim にわたす(@kakutani)
- [x] ふりこみ(@takahashim)

以下、originalのdesc:

* * *

るびまのほうから来ました。

50 号で EffectiveRuby を 3 冊プレゼントする企画があり、
その発送をわたし (takkanm) が担当することになっております。

レターパックにて送付予定で、最大で 1530 円かかる見込みです。
こちらの料金を日本 Ruby の会で支援していただくことはできますでしょうか ?

[2015-06-10 04:15] takahashim commented on #186
はい、問題ないです！

[2015-06-10 04:40] takkanm commented on #186
ありがとうございます !!
発送後、領収書をどなたかにお渡しでよいでしょうか ?

[2015-06-10 04:44] takahashim commented on #186
@takkanm はい、そんな感じでお願いします

[2015-06-13 07:14] snoozer05 commented on #74
おわりました！ありがとうございました！

[2015-06-13 07:14] #74 closed

[2015-06-16 11:31] takkanm commented on #186
金額は 1,080 円でした。

本日、@kakutani さんに領収書を渡し、清算していただきました。

[2015-06-16 16:08] kakutani commented on #185
kakutaniのherokuダッシュボードを見て、それっぽいのを追加した。漏れが無いかが少し心配。

[2015-06-16 21:06] cuzic opened #187 "関西Ruby会議06 の協賛金のために銀行口座を利用させていただきたい"
Ruby 関西の cuzic です。

関西Ruby会議06 でスポンサーを募っています。
スポンサーで手を挙げてくれる会社があるのですが、
協賛金を受け取るときの事務手続きの関係で
銀行口座がないと難しそうです。

一旦、日本Rubyの会の銀行口座に振り込んでいただく
形で協賛金を受け取りたいのですが、可能でしょうか？

ご検討よろしくお願いいたします。

[2015-06-16 23:18] kakutani commented on #187
はい、可能です。

受発注や請求は関西Ruby会議06の運営チームにお任せでよいのでしょうか。
それとも日本Rubyの会側でおこなうほうがよいでしょうか。

[2015-06-17 15:03] cuzic commented on #187
受発注や請求についても、日本 Ruby の会にお願いしたいと考えております。

お手間とらせてすいませんが、よろしくお願いいたします。

具体的な進め方、手順など教えてください。

[2015-06-17 15:45] kakutani commented on #187
なるほどー。先方の担当者をはじめ、詳細な情報のやりとりも発生するので、
現在状況を info at ruby-no-kai dot org 宛にメールで教えていただけますでしょうか。
- 何社あって、
- 先方の担当はどなたで、
- 状況はどこまで進行していて、
- 関西Ruby会議06の運営チームのどこ宛にやりとりを同報すればいいのか

とかそんな感じで。
定型のフォーマットみたいなのが用意できてなくて申し訳ないです。

[2015-06-23 12:03] kakutani commented on #111
twitterに @rubynokai というのがいるんだけど全然活用できてない。これをもうちょっと意識的に活用するのはどうかなあ #asakusarb

[2015-06-24 03:15] takahashim commented on #142
Matzに話をしました（金額を教えてくださいとお願いしました）。

[2015-06-24 10:30] takahashim commented on #183
1年延長しました。

[2015-06-24 11:05] snoozer05 commented on #111
- どういう情報をだすのか
- 誰がどういうフローで更新する？

[2015-06-24 11:14] shyouhei commented on #111
- twitter accountに関してはしまださんとかくたにさんあたりで運用してみて学習する
- 地域Ruby会議とかはruby-listもっと使えばいいんじゃない(うながす)

[2015-06-24 11:14] snoozer05 commented on #111
- twitter アカウントに関しては、 @snoozer05 @kakutani あたりで運用してみて学習する
- 地域Ruby会議とかは ruby-list 使うように促す

[2015-06-24 11:19] shyouhei commented on #187
これまで
- 請求書発行済。

next action
- 入金を待つ
- 関西Ruby会議の人たちにお金を渡す

[2015-06-24 11:24] shyouhei commented on #185
- どこまでherokuでやるの
- 「高いのでherokuやめるか」みたいな話になりそうな状況がきてからおもむろに相談すればいいのでは
- sqale とか?

[2015-06-24 11:27] shyouhei commented on #178
- 実施済みです
- 感じはよかった(のでやったのはよかったのでは)
- 領収書まち

[2015-06-24 11:28] shyouhei commented on #177
next action
- ささださんから領収書をもらう。

[2015-06-24 11:29] kakutani opened #188 "とちぎRuby会議06の参加費用の精算"
参加して猫廼舎の様子を見てきたので、精算おねがいします!

- [x] 振り込めシートに記録( @kakutani )
- [x] 領収証を @takahashim に渡す( @kakutani )
- [x] 振り込み( @takahashim )

[2015-06-24 11:30] shyouhei commented on #76
実績
- 申し込んだけどvalidation error

next action
- 代表理事の住所変更(定款の変更)が必要

[2015-06-24 11:31] shyouhei commented on #182
そろそろ向きあう

[2015-06-24 11:34] shyouhei commented on #181
next action:
- とりあえず @hsbt @emorima あたりと #asaskusarb で一回もんでみる by @kakutani さん
- RailsGrilsと地域Ruby会議 _以外_ をどこまで巻き込むかは要fix

[2015-06-24 11:35] shyouhei commented on #179
振り込みがまだ(★next action)

[2015-06-24 11:36] shyouhei commented on #157
決算に向けてそろそろ紙と向き合う。検算。

[2015-06-24 11:37] shyouhei commented on #137
6/24 やれるところまでやる。

[2015-06-24 11:37] shyouhei commented on #146
高橋さんが原本を確認できてない。
高橋さんが原本をさがす。(★next action)

[2015-06-24 11:38] shyouhei commented on #49
まだです。
★qwikが閉じてしまうまでになんとかしないとひじょうにやばい

[2015-06-24 11:42] shyouhei commented on #87
- rubykaigi.info は使われている。ただのスクワッティングではない
- bizはスクワッティングだけだし今となってはべつにいっかなーという気がしている @kakutani さん

[2015-06-24 11:42] shyouhei commented on #87
まあ放置?

[2015-06-24 11:42] #87 closed

[2015-06-24 11:42] hsbt commented on #137
こちらですが、RailsGirls で集金した分、立替で支払った分を @takahashim さんから RailsGirls の代表口座へ振り込み済みとなっています。ですので、もし @kakutani さんへ立替精算を行う必要があるのであれば、RailsGirls JP から支払う必要がありそうです。

立替が必要かどうかの確認をお願いします。

[2015-06-24 11:44] shyouhei commented on #180
@takahashim Rubyの会口座に入金されてくるのを確認する

[2015-06-24 12:40] kakutani opened #189 "githubとlinode代を精算する(2015年ぶん)"
- [x] レシート/請求書
- [x] 円建てての立替額の証憑
- [x] 振り込めシート記入
- [x] 精算

[2015-06-24 13:03] hsbt commented on #181
了解しました. よろしくお願いします。

[2015-06-24 13:05] kakutani commented on #181
こちらこそよろしくお願いします！

[2015-06-24 13:51] kakutani commented on #111
twitterの@rubynokai アカウントは緩く再運用を開始しました

[2015-06-24 14:43] kakutani commented on #137
@hsbt なるほど。一旦全部RG JPに移ってるから、そのほうが良いかもしれないのですね。
えっと、今日はちょっともう脳味噌が電池切れなのですが、

今日までの進捗としては:
- kakutaniが立て替えた(だいぶ前の開催)の振込記録をサルベージした
- 領収書原本一式を発掘した

という状況です。

振込記録の明細と対応するかたちで領収書を整理しようとしたのですが、
集中力が売り切れました。

どっかの Asakusa.rb あたりで同期でいるといいのかなー。
(ただ、7/7はサッポロクラシックの買い出しでした……)

また相談させてくださいませ。

[2015-06-24 14:51] kakutani commented on #189
来年はlinodeの精算をしたくない……

[2015-06-25 00:38] hsbt commented on #137
お疲れ様です! もろもろ了解したので、RailsGirls JP の方でも 3rd の振込どうなってるんだっけ、というのを @takahashim さんから頂いたお金の移動にかんする明細記録からサルベージしてみます。

[2015-06-25 02:03] kakutani commented on #137
はい!

[2015-06-26 09:58] vestige commented on #178
会計のための準備を進めています。
７月のはじめにはまとめられると思います。
領収書の送り先は　送付先はメーリングリストで訊いてください　となっていますが、RegionalのMLになげるといいのでしょうか？

[2015-06-28 04:51] takahashim commented on #178
領収書の送付先は「〒151-0066 東京都渋谷区西原2丁目33-6-104」で「一般社団法人日本Rubyの会　高橋」宛で届きます :email:

[2015-07-01 03:01] takahashim commented on #142
金額教えていただきました！！　振り込んでおきます。

[2015-07-01 03:19] kakutani commented on #142
ありがとうございます！

[2015-07-02 04:54] takahashim commented on #142
振り込みました！

[2015-07-02 04:54] takahashim commented on #142
というわけで閉じておきますね

[2015-07-02 04:54] #142 closed

[2015-07-02 04:54] snoozer05 commented on #142
ありがとうございました！

[2015-07-04 08:31] satomicchy opened #190 "RailsGirls Osaka 2nd の清算について"
RailsGirls Osaka 2ndのつじたです。
おかげさまで、RailsGirls Osaka 2ndを無事開催することができました。
ありがとうございました。

スポンサー様請求先一覧と立て替え分の領収書をスキャンしたものを、 info@ruby-no-kai.org へ送付いたします。
いつもお手数をおかけしますが、ご確認の上、ご請求とお振込のほど、よろしくお願いいたします。

[2015-07-04 08:59] snoozer05 commented on #190
おつかれさまです！

メール間違いなく受領いたしました。
請求手続など順次処理して参りますので、お待ちくださいませ。
どうぞよろしくお願いします。

[2015-07-04 10:27] hsbt commented on #190
@satomicchy

Ruby の会がスポンサーに請求 -> Ruby の会が RailsGirls JP 口座に請求して集まったスポンサー代金を振込 -> RailsGirls JP が立替金を立替した人に振込

という流れで事務処理したいと思いますので、 @hsbt と @springaki さんにも明細のメールの転送を転送をお願いします :bow:

[2015-07-04 10:29] kakutani commented on #190
精算用に使うメーリングリストは別のを用意したほうがスムーズっぽい感じですね。
railsgirls.jpにそれっぽいのを作って、ruby-no-kai の理事がjoinするのが情報共有は楽かなあ。WDYT?

[2015-07-04 11:03] hsbt commented on #190
良さそう感あります!

[2015-07-04 12:07] snoozer05 commented on #190
GitHub 様以外については請求書の発行/送付手続を完了いたしました。

@takahashim GitHub 様への請求ならびに立て替え精算業については、ご対応をお願いできますでしょうか :bow:

[2015-07-06 00:31] satomicchy commented on #190
みなさまありがとうございます！
清算用ML、Fukuoka#1には間に合いそうですか？
どなたがどうつながってるかわからないので、来週のMTGでそれとなくフォローしておきます。

@hsbt さん
お返事遅くなってすみません。 @springaki さんのメルアドはわかるのですが、@hsbt さんのメルアドがわからないので、FBかtwitterか何かで教えていただけないでしょうか。よろしくお願いいたします。

[2015-07-06 00:38] hsbt commented on #190
@satomicchy shibata.hiroshi@gmail.com でお願いします!

ML は今週準備します!

[2015-07-06 00:50] satomicchy commented on #190
@hsbt ありがとうございます！

[2015-07-06 01:30] snoozer05 opened #191 "休眠一般法人になっていたりしていないか"
LOCALの小岩さんからの情報共有で、最後の登記から５年を経過している一般社団法人又は一般財団法人は、「まだ事業を廃止していない」旨の届出又は登記（役員変更等の登記）の申請をしない限りみなし解散とみなされるので気をつけてください、というものがありました。
http://www.moj.go.jp/MINJI/minji06_00082.html

@takahashim こちらの対応、私たちの方って大丈夫そうでしょうか...??

[2015-07-06 02:49] kakutani commented on #190
リストのメンテの手間を思うと:

- RailsGirls JPの口座を見てるひとたち
- 日本Rubyの会の理事

のgroupをRails Gilrs groupのappに作って「誰でも投稿可」にする(仮に seisan@railsgirls.jp みたいなの)。

各開催の人たちは、請求作業などの依頼時には seisan@railsgirls.jp にメールする。
そのとき、開催準備用にMLなどを使っているのであればそこにもccする。

作業の進捗はGH issuesで管理する。

という感じでどうかなあと思いました。
(info@ruby-no-kai.org に投げてたメールの投げ先を変更するだけでよさそう)

[2015-07-06 02:56] takahashim commented on #190
先ほどアルメディア・ネットワークさんの担当者の方から島田さん宛にお電話をいただいて、振込期日を教えてくれということでしたが、特に指定はないので御社の通常のフローでお振込くださいとお返事しておきました。とりいそぎ。

[2015-07-06 03:59] takahashim commented on #191
おお…知見だ。法人住民税払っててもNGなのか。
まあでもRubyの会は最後の登記（事務所移転）をしてからまだ5年たってないので大丈夫そうです！

[2015-07-06 04:01] hsbt commented on #191
知見だ...

[2015-07-06 04:16] snoozer05 commented on #191
@takahashim よかったです！何か近づくとそれとないお知らせが登記先住所に送られてくるので、その際はご対応をよろしくお願いします！

[2015-07-06 04:16] #191 closed

[2015-07-09 09:33] hsbt opened #192 "RailsGirls メーリングリストへのお誘い"
https://github.com/ruby-no-kai/official/issues/190 で提案があった、RailsGirls イベントの会計回りのやりとりを RailsGirls 関係者(@hsbt と @springaki 、Rubyの会理事)とで行うためのメーリングリストを作りました。

railsgirlsjp-invoice@googlegroups.com

Ruby の会の追加対象のアドレスを教えてください :bow:

[2015-07-09 09:45] kakutani commented on #192
info at ruby-no-kai dot org を追加していただければとおもいます!
(投稿が誰での可能、になっているのであればとう前提ですが…)

いかがでしょう。

[2015-07-09 11:30] hsbt commented on #192
info at ruby-no-kai dot org を登録してみました!

[2015-07-09 11:37] kakutani commented on #192
gmailからこんにちはメールを出してみました。届いてますかねえ @takahashim @snoozer05

[2015-07-09 11:42] hsbt commented on #192
"グループをグループには登録できません" とのことです!

[2015-07-09 13:01] kakutani commented on #192
@hsbt お手数をおかけします……
- snoozer05 at ruby-no-kai dot org
- takahashim at ruby-no-kai dot org
- kakutani at ruby-no-kai dot org

でお願いします!

[2015-07-10 11:48] hsbt commented on #192
招待しました...!

[2015-07-10 14:29] kakutani commented on #192
招待されました!

[2015-07-12 05:50] hsbt commented on #192
それでは今後はこちらで請求情報をやりとりしたり、オーガナイザーから連絡を受け取るって感じにしていこうと思います!

[2015-07-12 05:50] #192 closed

[2015-07-12 06:19] springaki commented on #192
:+1:

[2015-07-14 19:22] hsbt commented on #190
@satomicchy 遅くなりましたが、 railsgirlsjp-invoice@googlegroups.com を作成していました! 福岡方面にも共有済みです。あと、メール添付の領収書も届いていました。こちらは報告となります!

この辺、誰もがMLに投げれば会計周りは安心できるという状態にしていこうと思うので、引き続きご意見などお待ちしています!

[2015-07-15 06:49] satomicchy commented on #190
@hsbt ご連絡ありがとうございます！
柴田さんやAkiさんの手間が省けるように、会計に必要な項目の定形フォームやイベント主催側のチェックリストなどあればいいかもしれませんね。
こちらこそ、引きつづきよろしくお願いいたします。

[2015-07-22 10:44] takahashim commented on #146
向き合わなければいけない時期に…。

[2015-07-22 11:02] shyouhei commented on #187
上記の通りでまだ入金待ちです。

[2015-07-22 11:08] shyouhei commented on #185
- cfpappはよせてある
- egoidoを寄せるかは要相談 ( @darashi 個人的にはどうしてます?)

---
- るびまはsqualeなので関係ない
- rubykaigiは
  - 去年のはgithub pages
  - 一昨年以降はHerokuかも? -> rko_routerでわかる
    - https://github.com/ruby-no-kai/rko-router/blob/master/config/nginx.conf.erb#L180-L190
    - でも課金するほどだろうか?

[2015-07-22 11:09] shyouhei commented on #177
動きなし

@ko1 領収書ください。

[2015-07-22 11:12] shyouhei commented on #76
定款の変更手続きは申請済み。承認待ち。

[2015-07-22 11:13] shyouhei opened #193 "決算する 2014年度"
cf #182

そろそろ向き合う

[2015-07-22 11:15] shyouhei commented on #179
振り込みがまだ(★next action)

[2015-07-22 11:16] shyouhei commented on #49
まだです

[2015-07-22 11:18] shyouhei commented on #49
@kakutani さんがログインできるらしい、サルベージおねがいします

[2015-07-22 11:18] kakutani commented on #49
ひとまず保全しました!

[2015-07-22 11:19] shyouhei commented on #180
まだ確認できてない

[2015-07-22 11:21] shyouhei commented on #181
- 話はした。
- next action:
  - 具体的にどうということは決まってない
  - けど、できるといいねというところまでは共有できている
  - 引き続き実現に向けてもむ

[2015-07-22 11:22] yoshiokaCB opened #194 "松江Ruby会議07 へのご支援について"
お世話になります。Matsue.rb の @yoshiokaCB と申します。
先日FBのグループでお話しましたが、松江Ruby会議07の詳細が決まってきました。
http://matsue.rubyist.net/matrk07/
（後日pullリクは送らせていただきます。）

そこで、遠方からお招きするゲストスピーカーへの交通費と宿泊費のご支援をお願いいたします。
まだ概算ですが、費用は大まかに以下の考えております。

#### 費用詳細

交通費：￥41,786-
宿泊費：￥11,016-（前乗りが必要なため2泊分計上）
合計：￥52,802-

詳細が決まり次第、随時ご相談させていただければと思います。
金額に問題等ありましたらご指摘いただけると幸いです。

何卒よろしくお願いいたします。

[2015-07-22 11:26] shyouhei commented on #111
まずはこれで運用してみる。いったんおわり

[2015-07-22 11:26] #111 closed

[2015-07-22 11:29] kakutani commented on #189
- linode: "Linode.com: Payment Receipt [3669125]"
- github: Transaction ID: HHJ6Z8M  ← これでmailbox検索してください

[2015-07-22 11:30] kakutani commented on #189
円建ての金額の明細は `~/Dropbox/ruby-no-kai-core/receipts/2015` に置きました!

[2015-07-22 11:32] kakutani commented on #137
@hsbt と @kakutani で精算すればよさそう、というところまで辿りついた。どっかの Asakusa.rb で精算しておきます。

[2015-07-22 11:33] shyouhei commented on #178
領収書まち

@vestige よろしくお願いします

[2015-07-22 11:35] emorima commented on #181
亀レスですみません。

了解しました。
現時点では、 @kakutani さん、 @hsbt さんと、asakusarb で都度ご相談させて頂いてます！

[2015-07-22 11:37] shyouhei commented on #190
それはそれとしてOsaka 2ndの精算状況
- Githubへの請求がまだ
- それ以外は請求済み、入金待ち

[2015-07-22 11:38] shyouhei commented on #193
関係しそうなチケット
- #177
- #188
- #187
- #186
- #179
- #157
- #180
- #189
- #178
- #190

[2015-07-22 11:43] takahashim commented on #194
@yoshiokaCB はい、問題ないかと思います！

[2015-07-22 11:44] hsbt commented on #190
github のは RailsGirls JP でスポンサードしてもらったのとは別件なのか同一なのかが気になります...

[2015-07-22 12:04] vestige commented on #178
はい、もう少しお待ちください。

[2015-07-22 12:08] shyouhei opened #195 "Rubyist Hotlinks 取材費用の精算"
※これはしまださん回のインタビューの費用清算です

卜部ぶんです

- [x] 請求書を書く
- [x] たかはしさんに渡す
- [x] 振り込めシートに記載
- [x] 振り込む

[2015-07-22 12:25] darashi commented on #185
個人的には、 Heroku でそのまま有料プランにするか、別の用途で使っている VPS に相乗りにするか、どっちかにしようかなーと思っているところです。

去年のも heroku です。

[2015-07-22 12:26] kakutani commented on #185
@darashi ありがとうございます! 過去のrk.orgはHobbyでもいいかなー。rubykaigi用のegoidoは課金を辞さない構えでいってみようと思います!

[2015-07-22 12:31] darashi commented on #185
まとめると以下のとおりです:

| Year | Placement |
| --- | --- |
| http://rubykaigi.org/2006 | jp.rubyist.net (redirect by linode) |
| http://rubykaigi.org/2007 | jp.rubyist.net (redirect by linode) |
| http://rubykaigi.org/2008 | jp.rubyist.net (redirect by linode) |
| http://rubykaigi.org/2009 | linode |
| http://rubykaigi.org/2010 | linode |
| http://rubykaigi.org/2011 | linode |
| http://rubykaigi.org/2012

[2015-07-22 13:59] yoshiokaCB commented on #194
@takahashim さん
早速のお返事ありがとうございます。
それではこのまま、調整を進めたいと思います。また詳細が決まりましたらご相談させていただきます！

[2015-07-23 00:26] satomicchy commented on #190
githubのCiaraさんとやり取りしたのは2015/6/11が最後で、スポンサード申し込みもRailsGirls Osakaという名目でした。その後こちらには特に連絡はありません。

[2015-07-24 01:32] vestige commented on #178
さきほど、領収書を郵送にて送付しました。ご確認お願いしますっ！

[2015-07-30 21:17] ko1 commented on #177
どうやって渡せばいいでしょう。
あと、これって振り込まれたんだっけ。

[2015-07-31 03:08] takahashim commented on #177
@ko1  近々に会う機会があればそのタイミングで渡していただければいいんですが、なさそうだったら郵送していただいた方がよいかもです。
振込は今日しておきます！

[2015-07-31 05:14] takahashim commented on #178
@vestige こちら残額分を振り込みました！　ご確認ください。

[2015-07-31 05:14] takahashim commented on #179
こちら #177 と合わせて振り込みました！

[2015-07-31 05:19] takahashim commented on #189
@kakutani こちら振り込んでおきました！

[2015-07-31 05:32] kakutani commented on #189
@takahashim 確認しました振込ありがとうございます!

[2015-07-31 05:32] #189 closed

[2015-07-31 07:47] takahashim commented on #190
@hsbt @satomicchy 遅くなりましたがとりあえずメールを送ってみました。別件とごっちゃになってそうなときはご相談させてください…

[2015-07-31 09:00] springaki commented on #190
@satomicchy さんに 立替えてもらっていた費用は 7/24 に @satomicchy さんからご連絡いただいた口座に振込済みです (RailsGirls JP プール金から立替)。
以上、連絡まで。

[2015-08-01 10:03] vestige commented on #178
ありがとうございます！確認します。

[2015-08-03 13:39] springaki opened #196 "RailsGirls Fukuokaのスポンサー協賛金の請求をお願いします"
お世話になります。RailsGirls方面の Aki です。

RailsGirls Fukuoaka のスポンサー協賛金の請求をお願いします。
請求先一覧は railsgirlsjp-invoice@googlegroups.com 宛の  "subject:【rgfukuoka】会計報告" に添付されております。

よろしくお願いします :bow:

- [x] 請求書郵送
- [x] 入金確認
- [x] RGへの入金

[2015-08-03 23:58] snoozer05 commented on #196
請求書発行は今晩対応いたしますね。お待ちいただいて申し訳ありません m(_ _)m

[2015-08-04 08:19] snoozer05 commented on #196
請求書郵送について対応いたしました。
@takahashim 入金確認をよろしくお願いいたします

[2015-08-04 13:05] springaki commented on #196
@snoozer05 ありがとうございます !

[2015-08-04 15:59] takahashim commented on #187
こちらほぼ確認できたのですが、一件微妙なのがあったので一応ちゃんと確認しておきます…。
あと関西Ruby会議の口座も教えてもらったので、こちらも後ほど振り込みます。

[2015-08-07 10:59] takahashim commented on #187
こちら入金を確認して、こちらからの入金も済ませました！

[2015-08-19 10:30] shyouhei commented on #187
おわったはず
@cuzic ご確認ください。問題なければcloseしてください。

[2015-08-19 10:31] shyouhei commented on #196
入金待ちです

[2015-08-19 10:34] shyouhei opened #197 "RailsGirlsの領収書の保管について"
現在、RailsGirls側で保管しているものとRubyの会側で保管しているものに分散している。集約したほうがよい?

相互リンク https://github.com/railsgirls-jp/railsgirls-jp.github.io/issues/140

[2015-08-19 10:36] shyouhei commented on #187
消費税分の請求額の差分について質問があったので、それは返事がしてあります

[2015-08-19 10:36] shyouhei commented on #178
ご確認待ちです。@vestige 確認できたらcloseしていただけますか

[2015-08-19 10:40] shyouhei commented on #190
現状: 請求書はすべて発送済み。
- [ ] 入金を確認する必要がある( @takahashim :TODO:)

[2015-08-19 10:41] shyouhei commented on #179
@ko1 ご確認ください。大丈夫そうならcloseしてください。

[2015-08-19 10:41] shyouhei commented on #177
@ko1 ご確認ください。大丈夫そうならcloseしてください。

[2015-08-19 10:48] shyouhei commented on #185
rko/2013 が「Your Heroku app rubykaigi2013 on free dynos needs to recharge」だったので @kakutani さんにrechargeしてもらった事件があった。

でもrko/2013に関してはtransfarは終わってそう。

しばらくはメールが来たら反応する運用でよいのではないか

[2015-08-19 10:48] shyouhei commented on #195
動きなし。@shyouhei なんとかする

[2015-08-19 10:49] shyouhei commented on #193
決算できるはずのタイミングではある

[2015-08-19 10:51] shyouhei commented on #193
TODO
今年は消費税の申告が必要になったのが新しい
8月中に帳簿をまとめる必要がある

[2015-08-19 10:53] shyouhei commented on #137
@kakutani これの現状ってどうなってますでしょうか

[2015-08-19 10:55] shyouhei commented on #180
「入金は確認できてるはず」とのこと by @takahashim

確認できてたらcloseしてください

[2015-08-19 10:56] shyouhei commented on #49
@kakutani よろしくお願い申し上げます。

[2015-08-19 10:57] shyouhei commented on #76
謄本は取れた。next action: 印鑑証明を取りに行く必要がある。

[2015-08-19 10:57] shyouhei commented on #188
おっと…

[2015-08-19 10:58] shyouhei commented on #188
終わってるはずとのこと。@kakutani 大丈夫そうならcloseしてください

[2015-08-19 10:59] shyouhei commented on #186
振り込んでいるはずとのことです。 @kakutani ご確認ください

[2015-08-19 11:00] shyouhei commented on #146
高橋さんが原本を確認できてない。
高橋さんが原本をさがす。(★next action)

[2015-08-19 11:00] shyouhei commented on #193
#146

[2015-08-19 11:01] shyouhei commented on #157
#193 が終わればいい

[2015-08-19 11:02] shyouhei commented on #182
書けるタイミングにはなった

[2015-08-19 15:54] takahashim commented on #190
7月末時点ではまだ未入金のものがありました。もうちょっとお待ちください :bow:

[2015-08-20 06:55] vestige commented on #178
確認しました！closeします。

[2015-08-20 06:55] #178 closed

[2015-08-21 00:08] cuzic commented on #187
すばやい ご対応ありがとうございましたっ！

[2015-08-21 00:08] #187 closed

[2015-08-30 02:43] takahashim commented on #157
金額確認しました！　問題なかったです。

[2015-08-30 07:26] takahashim commented on #193
とりあえず帳簿はまとめて会計事務所さんに投げました…。

[2015-09-01 12:34] satomicchy commented on #190
すみません、Yahoo!大阪支社から、Osaka#2の会場警備の請求書届いてないでしょうか？
7月中旬に手続きしたそうなんですが。。。

[2015-09-01 12:43] takahashim commented on #190
@satomicchy う、なんか見たことあるような気もしますが、これってこちらで支払うものですか？

[2015-09-01 12:57] satomicchy commented on #190
@takahashim はい、そうなんです、お支払いしていただくものなんです。精算報告でお伝えしてなくてすみません。
請求書が届いたら分かるかなと、無精してしまいました。。。

[2015-09-01 14:00] hsbt commented on #190
いったん、 @springaki (と @hsbt) の方で支払いだけ済ませてしまった方が Yahoo! さんにご迷惑をおかけしない感じな気がしますが、どうでしょう?

[2015-09-01 14:29] takahashim commented on #190
@hsbt 金額と振込先がわかるならそれでも構いませんです

[2015-09-01 15:18] takahashim commented on #190
@hsbt @satomicchy あ、いや、領収書の束から発見できました！　領収書と間違えていたようです。どうもすみませんでした…。

（請求書関連はいま会計事務所さんのところに送付済みだったのでしたがこちらは手元にあったのでした）

前言撤回ですが私の方で明日振り込んでおきますね。

[2015-09-02 00:32] hsbt commented on #190
:bow: 振り込みお願いします!

メモ: Osaka 2nd の入金時に振り込み分を差し引くのを忘れないこと

[2015-09-02 02:12] takahashim commented on #190
@hsbt @satomicchy  先ほど振り込みました :bow:

[2015-09-02 03:43] satomicchy commented on #190
@hsbt @takahashim ありがとうございます！
お手間をおかけしましたm(_ _)m

[2015-09-02 06:13] takahashim commented on #190
@satomicchy いえいえ、申し訳ございませんでしたとお伝えいただければ…。

[2015-09-06 16:46] takahashim commented on #180
確認が遅くなりました、こちら振り込みを確認いたしました！

[2015-09-07 03:25] #180 closed

[2015-09-08 05:44] springaki commented on #180
ありがとうございました !!

[2015-09-21 10:16] yoshiokaCB commented on #194
金額が正式に決定しましたので、お知らせいたします。

[code]

そして、いよいよ今週末開催予定です！
終わりましたら、領収書をお送りしたいと思いますので、お手数ですが送り先をお教えください。
引き続きよろしくお願いいたします！！

[2015-09-21 15:09] takahashim commented on #194
@yoshiokaCB 領収書の方は以下にお送りいただけるとありがたいです。

〒151-0066 東京都渋谷区西原2-33-6
一般社団法人日本Rubyの会　高橋征義

それでは開催頑張ってください！ :pray:

[2015-09-22 08:11] springaki opened #198 "RailsGirls Kobe 1stのスポンサー協賛金の請求をお願いします"
お世話になります。RailsGirls-jp の Aki です。

RailsGirls Kobe 1st のスポンサー協賛金の請求をお願いします。
請求先一覧は railsgirlsjp-invoice@googlegroups.com 宛の "subject: Rails Girls Kobe 1st 会計について" に添付されております。

1社のみ書面送付より先行してPDFを発行して欲しいとの依頼がありました。メール文中にも記載してありますが、対応可能でしょうか？

お手数おかけしますが、よろしくお願いします :bow:

- [x] スポンサー協賛各社への請求書郵送
- [x] 日本Rubyの会への入金確認
- [x] RailsGirls への入金

[2015-09-24 15:48] takahashim commented on #198
@springaki お返事遅くなりました。請求の件やってみます。

[2015-09-24 17:53] springaki commented on #198
@takahashim 急なお願いで申し訳ありません。よろしくお願いします !

[2015-09-25 23:02] gunjisatoshi opened #199 "Rubyist Hotlinks テープ起こしのアウトソース費用ご支援のお願い"
郡司＠るびま編集部です。

現在 Rubyist Hotlinks のテープ起こしを外部の業者等にアウトソースすることを考えております。 https://github.com/rubima/rubima/issues/349

つきましてはアウトソースの費用についてご支援いただけるかどうか、ご支援いただける場合は費用の上限などについてご教授いただきたく、よろしくお願いいたします。

[2015-09-26 00:59] takahashim commented on #199
特に上限とかはないので（強いて言えばるびま全体で数万円/年くらいなら問題ないかと）、試しに1回やってみていただければと思います！　それで結果の品質も合わせて考えてみればいいんじゃないでしょうか。

[2015-09-26 04:44] miyohide commented on #199
@takahashim  @gunjisatoshi 文字起こし担当の miyohide です。調整ありがとうございます。とりあえずやってみます。まずは見積りを取ってみます。回答が来るのが月曜日以降のようです。

業者については、 ITmedia さんの記事（ http://www.itmedia.co.jp/bizid/articles/1005/12/news027.html ）で評価が高かった東京反訳さん（ http://www.8089.co.jp/ ）を利用しようかと思います。

[2015-09-27 03:26] kakutani commented on #199
今後につながる実験になるといいなとおもいます! 段取りよろしくおねがいします! @miyohide   :raised_hands:

[2015-09-28 03:22] miyohide commented on #199
@takahashim @gunjisatoshi @kakutani 見積りを頂けました。31,298円（税込み）となります。納品予定日は本日発注で10/9（金）。一部、雑音が多いため、聞き取り不明点が複数箇所出るとのことでした。

特に問題なければ、発注をお願いしようと思っています。よろしいでしょうか？

[2015-09-28 03:27] takahashim commented on #199
はい、お願いいたします！ :+1:

[2015-09-28 09:43] takahashim commented on #193
決算出ました。いろいろあったけどちょっとだけ黒字、というところです。

[2015-09-28 09:44] #193 closed

[2015-09-28 13:11] miyohide commented on #199
@takahashim 早速のご連絡ありがとうございます。発注処理を済ませました。10/9（金）に完了予定とのことです。出来上がりましたらまたご連絡します。

[2015-09-29 06:40] takahashim commented on #198
こちら一通り郵送いたしました！

[2015-09-29 06:47] springaki commented on #198
ありがとうございます !

[2015-09-30 10:13] shyouhei commented on #49
まだです

[2015-09-30 10:13] shyouhei commented on #76
印鑑証明が入手できた
next action: 書類送付

[2015-09-30 10:16] shyouhei commented on #146
決算はPDFのほうで処理されたのでブロッカーではなくなった

[2015-09-30 10:16] shyouhei commented on #157
おわり!

[2015-09-30 10:16] #157 closed

[2015-09-30 10:17] shyouhei commented on #177
@ko1 ご確認ください。大丈夫そうならcloseしてください。

[2015-09-30 10:17] shyouhei commented on #179
@ko1 ご確認ください。大丈夫そうならcloseしてください。

[2015-09-30 10:20] shyouhei commented on #181
next action: 引き続き実現に向けてもむ

何か起きてから動き出すのでは遅いので、進めたい。

[2015-09-30 10:22] shyouhei commented on #185
とりあえずはメールがきたらrechargeであまり困ってない。このままかな?

[2015-09-30 10:23] #186 closed

[2015-09-30 10:23] kakutani commented on #188
確認おそくなりました!

[2015-09-30 10:23] #188 closed

[2015-09-30 10:26] shyouhei commented on #190
現状
- こちらから払うものに関しては払った
- 入金待ちに関しては未入金のものがある

next action
- 未入金のものにかんして、さすがにそろそろ先方に確認

[2015-09-30 10:28] shyouhei commented on #194
無事開催された。
領収書待ち。

[2015-09-30 10:29] shyouhei commented on #195
動きなし。@shyouhei なんとかする

[2015-09-30 10:29] shyouhei commented on #196
引き続き入金待ち

[2015-09-30 10:32] shyouhei commented on #197
とりあえず高橋さんがrailsgirlsjp-invoice@ にメールで相談してみる

[2015-09-30 10:32] shyouhei commented on #198
請求済み、入金待ち。

[2015-09-30 10:33] satomicchy commented on #190
ご心配をおかけします。m(_ _)m
メールかprivateの何かで連絡いただければフォローします。

[2015-09-30 10:34] shyouhei commented on #199
next action: 費用についてどのように精算するかを決める。普通に請求書払いで処理できるならかなりありがたいが。。。？

[2015-09-30 10:37] shyouhei opened #200 "2014年度総会"
開催する

相互リンク #193

[2015-09-30 10:37] shyouhei commented on #200
@snoozer05 いつやります?

というかいつまでに開催せねばならないとかあるんでしたっけ…

[2015-09-30 10:38] kakutani commented on #137
しばたさんとやりとりする段取りをやらねば……という気持ちになっているところです(進んでない)。

[2015-09-30 11:19] shyouhei opened #201 "今更だがRailsConfに取材に行く"
- [x] 実施する
- [ ] 精算する

[2015-09-30 13:03] hsbt commented on #181
問題意識をまだ共有できてない(と個人的には思っている)のですが、イベント主催者の大枠(RailsGirls, 地域 Ruby 会議のみ?)で、各々が持っているトラブル事例であるとか、事前・事後対応を話し合って、未来に向けてはいい感じにしていく、という取り組みであってますか?

[2015-09-30 17:53] amatsuda commented on #201
毎年行ってますが何かお手伝いできますか？

[2015-09-30 18:00] amatsuda opened #202 "もう10月ですが2015年ですね。"
<img width="1155" alt="ruby-no-kai_2014" src="https://cloud.githubusercontent.com/assets/11493/10201700/4a2bf210-67e8-11e5-877b-f068fddae786.png">

動的に表示を変えてるのかと思いきや半自動だったようで。一度サイトを出し直したほうが良いかもです。

[2015-10-01 00:46] kakutani commented on #201
まさに、毎年参加されている松田さんの2次情報で暮らしているので、今さらだけどどんな感じなのか自分たちで見にいってみてもいいかなー。ほんと今さらだけど。という話をしていたのでした!

[2015-10-01 00:54] kakutani commented on #202
ご指摘ありがとうございます! 出しなおしてみました。
空コミットを`gh-pages`にpushしてみたんですが、他にいい方法あるのかな…。

[2015-10-01 03:44] ko1 commented on #179
きっと大丈夫だと信じて閉じます。ありがとうございました。

[2015-10-01 03:44] #179 closed

[2015-10-01 09:17] yoshiokaCB commented on #194
報告が遅くなって申し訳ありませんでした！
おかげさまで無事に「松江Ruby会議07」を開催することができました。

今週末に領収書を送る予定ですので、もう少しお待ちください。
送りましたらまたご連絡させていただきます！

[2015-10-02 04:03] youchan opened #203 "RailsGirls Tokyo 5th のスポンサー費用の請求"
遅くなってしまってもうしわけありません。

スポンサーの請求先の情報などまとめましたので、別途メールいたします。

よろしくおねがいします。

- [x] 請求書送付
- [x] 入金確認
- [x] RG口座に移動

[2015-10-05 12:26] miyohide commented on #199
問い合わせてみました。

費用についてですが、納品後に請求書が郵送されるそうです。今のところ、私の住所に送付されることになります。
http://www.8089.co.jp/guide/howto#collapse5

請求書の宛名・宛先は変更可能とのことなので、都合がよいものをお知らせいただけますでしょうか？ >  @takahashim ？
http://www.8089.co.jp/faq/grant2

[2015-10-05 12:43] takahashim commented on #199
@miyohide  請求書の送付先は、

〒151-0066 東京都渋谷区西原2-33-6-104
一般社団法人日本Rubyの会　高橋征義

宛にしていただければ！

[2015-10-05 14:11] miyohide commented on #199
@takahashim ありがとうございます。早速依頼しました。

[2015-10-07 04:29] takahashim commented on #203
@youchan 先日メールした原本送付不要のスポンサーさんに対する対応ですが、どうすればよいですか？

[2015-10-07 04:37] takahashim commented on #203
あっと、書き忘れましたが要原本送付なスポンサーさんにはすでに送付しております。

[2015-10-07 08:52] youchan commented on #203
#168 にあるように
原本送付不要のスポンサーさんの場合はメールで振込先を送るという対応でよいと思います。

[2015-10-07 09:23] takahashim commented on #203
お、前回がそういうフローだったんですね。気づかなくて失礼しました。
では後ほどメールしておきます！

[2015-10-07 10:23] youchan commented on #203
こちらこそ返事おそくなってすいませんでした。

[2015-10-07 11:02] yoshiokaCB commented on #194
@takahashim さん
遅くなりましたが、昨日領収書をお送りしましたので、明日あたりにはそちらに届くかと思いますので、ご確認をお願いいたします。
また、振込先については書類を同封しておりますので、そちらをご確認いただければと思います。
よろしくお願いいたしますm(_ _)m

[2015-10-09 13:59] miyohide commented on #199
東京反訳さんより文字起こしデータを頂きました。ちょっと見た感じ、再度聞き直して書き起こしが必要な部分はありますが、全部書き起こされていることから精神的にちょっと楽になりました。

@takahashim 請求書が近いうちに届くかと思います。お手数おかけしますが、ご対応よろしくお願いします。
@gunjisatoshi データをメールで送付させていただきました。ご確認をお願いします。

[2015-10-13 06:29] takahashim commented on #194
送付ありがとうございます、こちら領収書が届いたので振り込みました！　ご確認ください。

[2015-10-14 17:01] takahashim commented on #199
@miyohide こちら請求書をいただいたので振り込んでおきました！

[2015-10-16 14:40] miyohide commented on #199
@takahashim 振り込みありがとうございます。ご支援いただいたことから、一気に文字起こしが進みそうです。再度聞き直して清書する必要はあるものの、すでにできているものがあるというのはかなり心強いです。

詳細な結果報告はまたのちほど致します。

[2015-10-18 14:42] yoshiokaCB commented on #194
@takahashim さん
遅くなりましたが入金確認しました！
ありがとうございました！！

[2015-10-18 15:31] takahashim commented on #194
@yoshiokaCB 確認ありがとうございます！

[2015-10-18 15:31] #194 closed

[2015-10-26 11:19] shyouhei commented on #49
まだです

[2015-10-26 11:20] shyouhei commented on #76
書類は送付された

next action: 結果待ち

[2015-10-26 11:20] shyouhei commented on #137
年内に精算する

[2015-10-26 11:21] shyouhei commented on #146
原本は見つからなかった。
けどPDFがあるのでそれで決算は成立した。会計事務所も通った。
のでこれ以上探さない。

[2015-10-26 11:21] #146 closed

[2015-10-26 11:21] shyouhei commented on #177
@ko1 ご確認ください。大丈夫そうならcloseしてください。

[2015-10-26 11:24] shyouhei commented on #181
まあ問題意識しかないというか、具体的な課題があるわけではないとのこと。

@kakutani @hsbt 二人で問題意識を共有していただければ。

[2015-10-26 11:24] shyouhei commented on #182
書かれた。

[2015-10-26 11:24] #182 closed

[2015-10-26 11:25] shyouhei commented on #185
@kakutani さんの立替精算という運用になった。

[2015-10-26 11:25] #185 closed

[2015-10-26 11:27] shyouhei commented on #190
githubから振り込まれたと思しきものが振り込まれていた。
あと入金が確認できてない企業がまだある。

next action: 先方に確認する。

[2015-10-26 11:27] shyouhei commented on #195
動きなし。@shyouhei なんとかする

[2015-10-26 11:28] shyouhei commented on #196
~~引き続き入金待ち~~

入金されていた。

next action: なし

[2015-10-26 11:29] shyouhei commented on #197
高橋さんがrailsgirlsjp-invoice@ にメールで相談してみる

[2015-10-26 11:30] shyouhei commented on #198
引き続き入金待ち。

[2015-10-26 11:31] shyouhei commented on #196
next action: Rails Girlsに入金する。

[2015-10-26 11:32] shyouhei commented on #199
お金のやりとりは終わり。

next action: 実際の編集作業

[2015-10-26 11:32] shyouhei commented on #200
実施された。

[2015-10-26 11:32] #200 closed

[2015-10-26 11:34] shyouhei commented on #201
http://rubycentral.org/railsconf

[2015-10-26 11:35] shyouhei commented on #202
@amatsuda 確認できたら閉じちゃってください(今見る感じだと平気層だけど)

[2015-10-26 11:37] shyouhei commented on #203
next action: 請求する。

[2015-10-26 11:43] amatsuda commented on #202
:ok_hand:

[2015-10-26 11:43] #202 closed

[2015-10-26 11:56] shyouhei opened #204 "RubyKaigi2016会場費振込"
11/3までの仮予約

- [ ] 請求書が来る
- [ ] 払う

[2015-10-26 11:57] shyouhei opened #205 "paypalから引き落とす2015"

[2015-10-26 12:50] hsbt commented on #190
:octocat:

[2015-10-26 12:53] hsbt commented on #181
はいー、もうすこし詰めたいと思います。

[2015-10-28 00:42] hsbt commented on #181
@kakutani と話したこと
- RailsGirls 関係者で集まって何かを話し合う、という機会がある分にはいいけど、集まって何を話そう、どういう形式にすると良いか、というところまでは詰め切れていない
- RailsGirls のイベントが変な感じで開催されたり、流れていく、というのは防ぎたい(商用利用など)
- @emorima を始めとする RailsGirls Japan メンバーがローカルオーガナイザーと話し合いの場を数回設けているので、その交通費などを支援していただけるのであればありがたい
  - 例: 塩尻に出向いて、イベントやコーチの説明、Kyoto の支援に準備で出向くなど

という感じです!

[2015-10-28 00:53] kakutani commented on #181
まとめありがとうございます!

それぞれの開催そのものについてはRGの開催協賛のおかねを充てていくのでいいんだけど、
そんなに潤沢な状況でもない。なので上記のような
「**これから** 開催しようとしている都市のオーガナイザーたちのサポート」を
日本Rubyの会でやれるといいかなあと思いました。

ここらへんは、 @hsbt や @emorima といった手練や過去のオーガナイザー(けっこう人数はふえてきた!)がパトロールして、声かけをしていくっていうので地道にやってくしかないよねえ、という話になりました。それでも事故はやってくるかもしれないけれど、railsgirls.jpっぽい人たちの間ではこのあたりの問題意識の認識はそろってると思います。

[2015-10-30 04:16] kakutani opened #206 "Fwd: RubyKaigi 2015 チケット差額の返金について"
rubykaigiの話だけど、定例理事ミーティングというチェックポイントがあるのでこっちにもfileしときます:

- [x] infoに転送した口座への振り込み( @takahashim )
- [x] 先方へ連絡( @kakutani)

[2015-10-30 08:15] takahashim commented on #206
こちら了解です！

[2015-11-02 11:07] ko1 commented on #177
確認が大変遅くなってすみません。
確認しました。

[2015-11-02 11:07] #177 closed

[2015-11-02 11:47] takahashim commented on #177
確認ありがとうございました！

[2015-11-03 07:33] hsbt commented on #180
@takahashim こちら、RailsGirls JP の口座への振り込みはどうしましょう?

他のイベント(Kobe, Tokyo)のぶんが集まった時点で行って頂いてもよいのですが、近々 Kyoto 4th が開催されるので、二回分貯めこむ前に移動していただけると、混乱しなくてよさそうかな～と思っています!

[2015-11-03 14:07] ko1 opened #207 "CI のための mac mini ご支援について"
#150 の続きですが、OS X El Capitan‎ が出たので、CI に追加したいけど、
今動いている Yosemite も、しばらく続けたいので、新しく買って貰えないでしょうか。

柴田さんがセットアップ・管理
笹田が芝浦工大にまた持っていって設置

という流れを考えています。
ご検討頂ければ幸いです。
マシンの見積もり等は @hsbt にお任せ。

- [x] マシンを買う
- [x] 請求書が来る
- [x] 請求書に従って柴田さんに支払う
- [x] 安川さんに見積書を送付
- [x] 同請求書
- [x] 振り込まれてくるのを待つ

[2015-11-04 04:46] takahashim commented on #207
@ko1 了解です。話を進めてみます。
時期としては年内くらいですか？　それとも今年のリリースが終わって年明けくらい？

[2015-11-04 04:57] takahashim commented on #180
@hsbt  確かにそうかも。では先にお振り込みしておきます！

[2015-11-05 01:03] hsbt commented on #207
昨年のやつ: https://github.com/ruby-no-kai/official/issues/150#issuecomment-61947522 同じ構成で 130,800 円と円安辛い(去年は  114,000 円)

@takahashim El Capitan での動作検証が個人のマシンベースになっているので、 2.3.0 リリース前に用意できると嬉しい、という状況です。

[2015-11-05 05:12] ko1 opened #208 "地域Ruby会議（東京）の開催（2016年5月）"
2016年5月ごろに、東京は秋葉原での地域Ruby会議の開催について、ご承認下さい。

コミュニティベースというよりは、Rubyに関する技術トピックということで、トピックベースでの会を開催できればと思っております。笹田が実行委員長を勤めます。

すでに、高橋さん、角谷さんにはご相談させて頂いておりますが、日本Rubyの会には、事務作業やアドバイスなどでご支援頂ければと思います。（申請が随分遅くなってしまって申し訳ありません）

よろしくお願いします。

[2015-11-05 05:25] kakutani commented on #208
こちらこそよろしくお願いします!!(orgzのリポジトリには招待しました)

[2015-11-05 05:57] takahashim commented on #207
@hsbt 購入の流れは前回と同じく@hsbt さんで立替購入→領収書のコピーを送ってもらう→送金→あとで領収書の原本をいただく、で良いでしょうか？

[2015-11-05 06:21] hsbt commented on #207
@takahashim はい! 問題ありません

[2015-11-05 15:36] kakutani opened #209 "RailsGilrs Matsue 2ndの協賛費用の請求"
* [x] 請求する(@kakutani)
* [x] 16年1末の入金期日になってるので、入金確認(@takahashim)
* [x] RG口座にうつす(@takahashim)
* [ ] 移った金額の確認(@hsbt)

…で、閉じれるのかな
* * *

「(送付)RGM2nd スポンサーの請求一覧」っていうメールを @AyakoMakihara が railsgirlsjp-invoice at googlegroups.com に投稿してくれているので、請求する必要がある。

* 請求日: 11/14(土)
* 翌月末: 12/31(土)

[2015-11-06 06:08] takahashim commented on #180
@hsbt こちら振り込みました！

[2015-11-06 06:09] takahashim commented on #206
振り込みました！

[2015-11-07 08:55] kakutani commented on #206
先方からackもらいました

[2015-11-07 08:55] #206 closed

[2015-11-16 04:33] yucao24hours opened #210 "TokyuRuby 会議 10 の開催"
こんにちは。Tokyu.rb の 加藤由佳 と申します。

第 10 回目となる TokyuRuby 会議の開催を
以下の要領にて計画しております。
日程のみ決まっており、役割等はこれから決める予定です。
おおよそこれまでの TokyuRuby 会議と同規模のものを予定していますが、
取り急ぎ日程を確保致したく、連絡させていただきます。

名称：TokyuRuby 会議 10
開催日：2016/05/29(日)
会場：未定
参加費：未定
配信：なし
定員: 未定
実行委員長：加藤  由佳
実行副委員長：未定
実行委員：
　小川　伸一郎
　沢田　正
　五十嵐　邦明
　大場　光一郎
　小椋　隆史
　影山　勝彦
　三浦　美咲樹
　三浦　わか菜

[2015-11-16 04:39] snoozer05 commented on #210
連絡ありがとうございます！
https://github.com/ruby-no-kai/official/wiki/Upcomingregionalrubykaigi に記載しておきました！

[2015-11-16 05:36] hsbt commented on #203
こちら、到着をお待ちしています!!1

[2015-11-16 05:36] hsbt commented on #203
@takahashim
https://github.com/ruby-no-kai/official/issues/203#issuecomment-146075152 によると発送済みとのことですが、「GMOペパボ」に発送済みか確認していただいてよいでしょうか...

[2015-11-16 08:43] takahashim commented on #203
@hsbt すみません、確認しておきます…

[2015-11-18 10:28] takahashim commented on #203
@hsbt @youchan すみません、こちらてっきりお送りしていたつもりだったのですが、確認した所請求書を作成したところで止まっていて発送になっていませんでした。申し訳ないです。

[2015-11-20 14:21] takahashim commented on #203
郵送処理のものについては、18日に処理が受理され、20日の夕方に発送されたとのことでした。
おそらく週明けに到着すると思うので、今しばらくお待ち下さい :bow:

[2015-11-24 02:17] takahashim commented on #207
お待たせしてしまってすみません、こちら進めていただければ。
去年と同様の構成で130,800円でよいですか？

[2015-11-24 02:57] hsbt commented on #207
はい、130800 円となります!

[2015-11-24 09:43] ko1 commented on #208
5/28 (土) に秋葉原で開催できればと思います。

"TokyuRuby 会議 10 の開催 #210" の開催と、ほぼ被ってしまって恐縮です orz

（早く日程を書いておけば良かったですね、すみません）
（会場のキャンセル料が発生してしまうため、移動せずに開催させて頂けないでしょうか）

[2015-11-24 11:30] ko1 commented on #208
加藤さん @yucao24hours にご確認頂き、
趣旨も違うだろうから連日開催で問題無かろう、とご確認頂きました。

こちらの不手際で、大変ご迷惑をおかけしました。

[2015-11-24 11:35] snoozer05 commented on #208
https://github.com/ruby-no-kai/official/wiki/Upcomingregionalrubykaigi  に記載をしたいのですが、イベント名称は決まっておりますでしょうか...??

[2015-11-24 11:39] ko1 commented on #208
@snoozer05 すみません、もう少し調整させて下さい。

[2015-11-24 11:40] snoozer05 commented on #208
はいー。ひとまず「地域Ruby会議（東京）（仮）」で入れておきますので、決まりましたら Wiki を書き直していただくか、ここでお知らせ願います！

[2015-11-24 12:21] takahashim commented on #207
了解です、それで購入の方を進めてください！

[2015-11-24 12:26] hsbt commented on #207
消費税込みで 141,264 円でした... :bow:

[2015-11-24 12:30] takahashim commented on #207
:ok_woman:

[2015-11-25 00:43] hsbt commented on #207
11/24 に注文しました! 到着、セットアップ後にまた連絡します。

[2015-11-25 02:13] ko1 commented on #208
29(日)で被せるんじゃ無くて、28(土)で東急と連日開催ですね。
修正させて頂きました。

[2015-11-30 13:03] hsbt commented on #207
11/29 に商品到着しました。これからセットアップを開始して12月中旬を目処に稼働予定です。請求書は別途発行しているので、どこかのタイミングでお渡しします!

[2015-11-30 13:04] hsbt commented on #137
RailsGirls 口座の残高が際どくなってきたので、イベントの請求と RailsGirls 口座への移動を頑張ってから...という話を @kakutani としました

[2015-11-30 13:04] hsbt commented on #203
到着して社内の支払い稟議を進めています!

[2015-11-30 13:05] hsbt commented on #196
口座がかつかつになってきたので入金よろしくおねがいします...! :bow:

[2015-11-30 14:08] springaki commented on #196
よろしくお願いします! :bow:

[2015-11-30 16:27] takahashim commented on #196
@hsbt @springaki お待たせしてすみません、こちら12/1に振り込みます！ :bank:

[2015-12-01 02:36] springaki commented on #196
@takahashim ありがとうございます !  :smile:

[2015-12-01 06:37] takahashim commented on #196
@springaki @hsbt 先ほど振り込みました!

[2015-12-02 03:00] springaki commented on #196
@takahashim ありがとうございます !! @hsbt に確認してもらいますー。(ネットバンクでは明細見られなかったので通帳記入で確認...)

[2015-12-02 04:57] AyakoMakihara commented on #209
RGM2nd請求書発行のお手続き状況、いかがでしょうか？

[2015-12-02 07:34] springaki opened #211 "Rails Girls Kyoto 4thのスポンサー協賛金の請求をお願いします"
お世話になります。RailsGirls-JP の Aki です。

おかげ様で Rails Girls Kyoto 4th も無事開催できました。ご協力ありがとうございます。

今回もスポンサー協賛金の請求をお願いします。
請求先一覧は railsgirlsjp-invoice@googlegroups.com 宛の "subject: Rails Girls Kyoto 4th パートナー企業様請求のお願い" に添付されております (全部で 5社です)。

お手数おかけしますが、よろしくお願いします !

- [x] スポンサー協賛各社への請求書郵送・PDF送付
- [x] 日本Rubyの会への入金確認
- [x] 日本Rubyの会から RailsGirls-JP への入金

[2015-12-03 10:20] takahashim commented on #76
前回提出した書類には不備があり、再提出を求められたので再度送って結果待ちです…

[2015-12-03 10:26] shyouhei commented on #49
まだです

[2015-12-03 10:31] shyouhei commented on #190
現状: 入金の確認が残ってる。
next action: 確認が取れれば閉じて良い。

[2015-12-03 10:31] shyouhei commented on #195
動きなし。@shyouhei なんとかする

[2015-12-03 10:32] shyouhei commented on #196
@hsbt 確認したら閉じてくださいー

[2015-12-03 10:32] shyouhei commented on #197
高橋さんがrailsgirlsjp-invoice@ にメールで相談してみる

[2015-12-03 10:33] kakutani commented on #181
RubyWorld Conf 2015の1Fおまえらスペースで @springaki ともちょっと話はできたし、何か起きそうになったらお互い連絡相談はできるふんいきは醸成されてきたかなーと思うので、一旦閉じます。

今後なんか具体的な話がでたら、またissueを立てます。
交通費の支援については、別途理事ミーティングで相談します!

[2015-12-03 10:33] #181 closed

[2015-12-03 10:33] shyouhei commented on #198
現状: たしか入金が確認できているはず
next action: RGの口座に移動する

[2015-12-03 10:34] shyouhei commented on #199
費用周りは終わったので閉じる

[2015-12-03 10:34] #199 closed

[2015-12-03 10:35] shyouhei commented on #201
- まあ行くのはいいのでは。
- next action: 飛行機をとったりする

[2015-12-03 10:36] shyouhei commented on #203
現状: 請求済み、入金待ち
next action: 入金確認とRG口座に移動

[2015-12-03 10:38] shyouhei commented on #204
現状: 請求書待ち
next action: 紙が来たら払う。

[2015-12-03 10:41] shyouhei commented on #205
じわじわ実施されている。
ので実施する。
refundのことを考えると多少は残っててもいい。

[2015-12-03 10:41] #205 closed

[2015-12-03 10:44] shyouhei commented on #208
next action: 名前を決める。

このチケットのゴールがあまり明らかではない。

[2015-12-03 10:46] snoozer05 opened #212 "地域Ruby会議のShout issueをどのタイミングで閉じるべきか"

[2015-12-03 10:49] shyouhei commented on #209
おっと。
現状: 請求できてない
next action: 請求する

[2015-12-03 10:50] kakutani commented on #209
やりますー。ちょっとお時間ください。

[2015-12-03 10:55] shyouhei commented on #211
next action: 請求書送付

[2015-12-03 10:56] snoozer05 commented on #212
基本は開催が終わって事後処理とかも終わったら閉じることにしましょう。
というのをWikiに書いたら、このissueは閉じます。

[2015-12-03 16:13] kakutani commented on #181
開催の事前のご説明交通費支援は、つぎの機会があったら一度支援をやってみましょう、という話になりました! > @hsbt

[2015-12-04 00:11] hsbt commented on #181
了解しましたー、 RailsGirls オーガナイザーズで共有します。

[2015-12-04 01:21] takahashim commented on #76
とか言っていたら開設されたらしいです。

[2015-12-04 04:38] kakutani commented on #76
:tada: :dollar:

[2015-12-05 10:28] springaki commented on #181
またなにかありそうなら情報連携しましょう〜。 今後ともよろしくお願いします !

[2015-12-05 11:30] publichtml opened #213 "RailsGirls オーガナイザー ランチミーティング＠RubyKaigi 2015 へのお弁当提供について"
RubyKaigi 2015 Team かつRailsGirlsに以前絡んでいた小田切です。

RubyKaigi 2015 にてRailsGirls オーガナイザーのふりかえりを行おうという企画が上がっています。

しかし今年の会場には会議室的な場所を提供するゆとりがなく、お弁当を手配して発表を行うホールの片隅で昼休みにランチミーティングはどうかというプランが出ています。

つきましては、お弁当代をご支援いただきたいのですが、可能でしょうか？
個数は今わかっている時点で4人分(スタッフ弁当をもらえるKaigiスタッフとの重複抜いております)、どこまで行っても1桁に納まると思います。

なお、ご支援いただける場合は、RubyKaigiのスタッフ弁当の個数増加にて対応する予定です。
請求書はRubyKaigi 2015とRailsGirls分に分けて発行していただけるよう、業者に掛け合います

[2015-12-05 12:50] kakutani commented on #213
ふだんは全国に散り散りなorganizersが集まる機会はなかなかないので、支援したいです。

ここはうまいこと分けてもらえるといいなと思います。

OT: そーいえば今年は地域Ruby会議会議はむつかしいかなあ。

[2015-12-06 05:33] kakutani commented on #209
12/7には請求できるように進めていくつもりでおります。
月が替わってしまったので(ｽﾐﾏｾﾝ...)、入金期日は1月末に設定しておこうと思います。

[2015-12-07 15:16] publichtml commented on #213
こちら、明後日12/9(水)のお昼には業者に追加をかけたいのですが、お弁当代ご支援の可否いかがでしょうか。
お弁当が必要な人数は4人のようなので、費用は五千円前後となりそうです。

( こういう件は @takahashim さん辺りお呼すればいいのでしょうか…^^;;;？

[2015-12-07 15:33] takahashim commented on #213
@publichtml たぶん角谷さんは可否についてはOKな上で請求書について分けてほしい、というお返事をしたつもりではないかと…。

[2015-12-07 15:41] publichtml commented on #213
お、そういうことでしたか、失礼しましたorz (援護射撃なのだと勘違いしてました＞＜)。

ありがとうございます、手配させていただきます！

[2015-12-07 23:37] kakutani commented on #213
不明瞭な返信しちゃってすみませんでした…。手配よろしくお願いします！

[2015-12-07 23:44] AyakoMakihara commented on #209
お忙しい所、ありがとうございます！入金期日１末で、OKです。

[2015-12-08 00:05] kakutani commented on #209
昨日、完了までやれませんでした…

[2015-12-08 00:28] AyakoMakihara commented on #209
そうですか :crying_cat_face: 完了次第、ご連絡ください。スポンサー様へのお礼は終わっていますが、請求が遅くなりそうなら、再度連絡したいと思っています。

[2015-12-09 01:39] publichtml commented on #213
こちら手配いたしました！請求書も分けていただけるそうです。

お弁当4個、4,390円です。
請求書はRubyKaigiスタッフ弁当の請求書とともに、別の紙で日本Rubyの会の住所に郵送されます。
- お店: 駒春(くるめし弁当経由) http://www.kurumesi-bentou.com/komaharu/
- 請求書締め日: 12月末
- 振込期限: 2016/1/31(日)
- 金額: 4,390円

請求書届きましたら振込よろしくお願いしますm(_ _)m

[2015-12-10 02:41] hsbt commented on #196
通帳記入確認しました!(僕は閉じることができないようです!)

[2015-12-10 03:21] springaki commented on #196
@hsbt ありがとうございます。閉じます。

[2015-12-10 03:21] #196 closed

[2015-12-10 05:22] takahashim commented on #76
口座できました。書類受領しました。
使い分けは考えないと、というところです。

[2015-12-13 08:34] hsbt commented on #213
ご支援ありがとうございました。以下のように有意義な会議ができました。

https://gist.github.com/hsbt/20ef65d42d1874e892b9

[2015-12-14 01:44] takahashim commented on #213
@hsbt それはよかったです！

[2015-12-14 09:19] ko1 commented on #208
こちら、東京Ruby会議11として進めさせて頂ければお思います。
よろしくお願いします。

[2015-12-14 15:26] takahashim commented on #213
こちら請求書が届きましたので、明日振り込む予定です。

[2015-12-15 01:47] kakutani commented on #208
「東京Ruby会議」ってもう開催されないかなーと思ってたので感慨ぶかいです!